<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ktplay</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleVersion</key>
	<string>1058</string>
	<key>game_engine</key>
	<string>iOS</string>
	<key>kt_default_region</key>
	<string>China</string>
	<key>languages</key>
	<array>
		<dict>
			<key>languageCode</key>
			<string>en</string>
			<key>name</key>
			<string>English</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>zh</string>
			<key>name</key>
			<string>ChineseTraditional_TW</string>
			<key>regionCode</key>
			<string>TW</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>zh</string>
			<key>name</key>
			<string>ChineseTraditional_HK</string>
			<key>regionCode</key>
			<string>HK</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>zh</string>
			<key>name</key>
			<string>ChineseSimplified</string>
			<key>scriptCode</key>
			<string>Hans</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>zh</string>
			<key>name</key>
			<string>ChineseTraditional_TW</string>
			<key>scriptCode</key>
			<string>Hant</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>ja</string>
			<key>name</key>
			<string>Japanese</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>ko</string>
			<key>name</key>
			<string>Korean</string>
		</dict>
		<dict>
			<key>languageCode</key>
			<string>ar</string>
			<key>name</key>
			<string>Arabic</string>
		</dict>
	</array>
	<key>mapping</key>
	<dict>
		<key>ar</key>
		<string>Arabic</string>
		<key>en</key>
		<string>English</string>
		<key>ja</key>
		<string>Japanese</string>
		<key>ko</key>
		<string>Korean</string>
		<key>zh</key>
		<string>ChineseSimplified</string>
		<key>zh-HK</key>
		<string>ChineseTraditional_HK</string>
		<key>zh-Hant</key>
		<string>ChineseTraditional_TW</string>
		<key>zh-TW</key>
		<string>ChineseTraditional_TW</string>
	</dict>
</dict>
</plist>
