<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme_main_color</key>
	<string>#29B6F6</string>
	<key>text_color_black</key>
	<string>#000000</string>
	<key>background_new_color_clear_black</key>
	<string>#254959</string>
	<key>text_topic_background</key>
	<string>#3C444F</string>
	<key>background_color_black</key>
	<string>#000000</string>
	<key>split_line_color</key>
	<string>#EEEEEE</string>
	<key>title_bar_split_line_color</key>
	<string>#BDBDBD</string>
	<key>background_color_main_live</key>
	<string>#254959</string>
	<key>error_text_color</key>
	<string>#EA9915</string>
	<key>point_color</key>
	<string>#FF0000</string>
	<key>text_color_white</key>
	<string>#FFFFFF</string>
	<key>background_color_clear_black</key>
	<string>#66000000</string>
	<key>upload_background_color_clear_black</key>
	<string>#E6000000</string>
	<key>vote_video_det_background_color_clear_black</key>
	<string>#F24A4A4A</string>
	<key>background_color_clear_white</key>
	<string>#E6FFFFFF</string>
	<key>new_ad_bg_color</key>
	<string>#1b1d22</string>
	<key>background_color_gray</key>
	<string>#F7F7F7</string>
	<key>kt_theme_color</key>
	<string>#29B6F6</string>
	<key>kt_theme_background</key>
	<string>#f0f0f0</string>
	<key>kt_theme_titlebar_background</key>
	<string>#FFFFFF</string>
	<key>kt_theme_section_background</key>
	<string>#FFFFFF</string>
	<key>kt_theme_headsection_background</key>
	<string>#254959</string>
	<key>kt_theme_listitem_background</key>
	<string>#FFFFFF</string>
	<key>kt_theme_listitem_dividercolor</key>
	<string>#EEEEEE</string>
	<key>kt_theme_popup_background</key>
	<string>#FFFFFF</string>
	<key>kt_theme_highlighted_item_background</key>
	<string>#FFFDEB</string>
	<key>kt_theme_subtitle_background</key>
	<string>#F7F7F7</string>
	<key>kt_theme_title_textcolor</key>
	<string>#000000</string>
	<key>kt_theme_primary_textcolor</key>
	<string>#000000</string>
	<key>kt_theme_primary_textcolor_dark</key>
	<string>#FFFFFF</string>
	<key>kt_theme_secondary_textcolor</key>
	<string>#707070</string>
	<key>kt_theme_secondary_textcolor_dark</key>
	<string>#FFFFFF</string>
	<key>kt_theme_hint_textcolor</key>
	<string>#999999</string>
	<key>kt_theme_vote_background</key>
	<string>#D3D3D3</string>
	<key>kt_theme_recommend_text</key>
	<string>#E74C3C</string>
	<key>menu_head_border_color</key>
	<string>#ffffff</string>
	<key>alphablack_item_background</key>
	<string>#0a000000</string>
	<key>alphablack_imagecountlabel_background</key>
	<string>#64000000</string>
	<key>notification_banner_backgroud</key>
	<string>#CC000000</string>
	<key>video_bottom_banner_background</key>
	<string>#99000000</string>
	<key>kt_theme_rank_1st</key>
	<string>#f5a623</string>
	<key>kt_theme_rank_2nd</key>
	<string>#c2c2c2</string>
	<key>kt_theme_rank_3rd</key>
	<string>#bc7054</string>
	<key>kt_theme_rank_others</key>
	<string>#979797</string>
	<key>kt_theme_growth_rate_up</key>
	<string>#16ae2b</string>
	<key>kt_theme_growth_rate_down</key>
	<string>#ef354f</string>
</dict>
</plist>
