<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar_top_margin</key>
	<integer>76</integer>
	<key>higest_growth_users_width</key>
	<integer>192</integer>
	<key>homepage_topic_img_height</key>
	<integer>180</integer>
	<key>homepage_topic_img_width</key>
	<integer>270</integer>
	<key>window_margin</key>
	<integer>50</integer>
	<key>window_ratio</key>
	<real>1.33</real>
	<key>window_tabbar_height</key>
	<integer>100</integer>
	<key>window_titlebar_height</key>
	<integer>55</integer>
	<key>base_corner_radius</key>
	<integer>2</integer>
	<key>window_corner_radius</key>
	<integer>8</integer>
	<key>base_content_element_large_space</key>
	<integer>12</integer>
	<key>topic_card_element_space</key>
	<integer>12</integer>
	<key>base_content_element_double_large_space</key>
	<integer>24</integer>
	<key>base_content_element_middle_space</key>
	<integer>8</integer>
	<key>base_content_element_small_space</key>
	<integer>4</integer>
	<key>base_split_line_height</key>
	<integer>1</integer>
	<key>base_confirm_button_height</key>
	<integer>36</integer>
	<key>base_see_more_button_height</key>
	<integer>46</integer>
	<key>base_table_view_section_height</key>
	<integer>30</integer>
	<key>base_textfield_height</key>
	<integer>27</integer>
	<key>user_head_small_size</key>
	<integer>30</integer>
	<key>user_head_small_corner_radius</key>
	<integer>15</integer>
	<key>user_head_middle_size</key>
	<integer>40</integer>
	<key>user_head_mini_size</key>
	<integer>20</integer>
	<key>user_head_middle_corner_radius</key>
	<integer>20</integer>
	<key>user_head_mini_corner_radius</key>
	<integer>10</integer>
	<key>user_head_large_size</key>
	<integer>90</integer>
	<key>user_head_large_corner_radius</key>
	<integer>45</integer>
	<key>round_view_border_width</key>
	<integer>2</integer>
	<key>image_grid_list_space</key>
	<integer>2</integer>
	<key>topic_list_cell_bar_height</key>
	<integer>50</integer>
	<key>topic_list_table_header_count_label_height</key>
	<integer>24</integer>
	<key>topic_list_table_header_count_label_radius</key>
	<integer>12</integer>
	<key>topic_list_table_cell_Image_large_size</key>
	<integer>100</integer>
	<key>topic_list_table_cell_Image_small_size</key>
	<integer>160</integer>
	<key>topic_list_table_cell_Image_small_size_for_reply</key>
	<integer>140</integer>
	<key>topic_defalut_keyboard_height</key>
	<integer>200</integer>
	<key>topic_keyboard_toolbar_height</key>
	<integer>42</integer>
	<key>topic_titleview_height</key>
	<integer>40</integer>
	<key>friendActive_list_table_cell_Image_small_size</key>
	<integer>80</integer>
	<key>reply_list_table_content_large_space</key>
	<integer>54</integer>
	<key>register_btn_width</key>
	<integer>128</integer>
	<key>login_logo_top</key>
	<integer>32</integer>
	<key>register_view_width</key>
	<integer>400</integer>
	<key>register_view_height</key>
	<integer>36</integer>
	<key>collection_icon</key>
	<integer>147</integer>
	<key>collection_split_top</key>
	<integer>17</integer>
	<key>home_recommend_height</key>
	<integer>120</integer>
	<key>home_gamevideo_height</key>
	<integer>198</integer>
	<key>home_gamevideo_width</key>
	<integer>324</integer>
	<key>topic_gamevideo_width</key>
	<integer>300</integer>
	<key>topic_gamevideo_height</key>
	<integer>200</integer>
	<key>home_top_height</key>
	<integer>120</integer>
	<key>home_hot_height</key>
	<integer>198</integer>
	<key>home_hot_width</key>
	<integer>324</integer>
	<key>home_gamevideo_usericon_wh</key>
	<integer>70</integer>
	<key>home_gamevideo_usericon_wh_radius</key>
	<integer>35</integer>
	<key>home_page_usericon_wh</key>
	<integer>90</integer>
	<key>home_page_usericon_wh_radius</key>
	<integer>45</integer>
	<key>home_collection_width</key>
	<integer>280</integer>
	<key>home_collection_height</key>
	<integer>180</integer>
	<key>inbox_button_width</key>
	<integer>70</integer>
	<key>video_select_image_size</key>
	<integer>60</integer>
	<key>create_reply_blue_button_size</key>
	<integer>68</integer>
	<key>user_head_big_size</key>
	<integer>80</integer>
	<key>user_head_big_corner_radius</key>
	<integer>40</integer>
	<key>video_ad_size_height</key>
	<integer>500</integer>
	<key>video_ad_size_width</key>
	<integer>524</integer>
	<key>video_ad_top_space</key>
	<integer>70</integer>
	<key>topic_cell_offset</key>
	<integer>300</integer>
	<key>thumb_size_middle</key>
	<integer>200</integer>
	<key>thumb_size_small</key>
	<integer>100</integer>
	<key>thumb_size_large</key>
	<integer>300</integer>
	<key>loginSessionList_default_cell</key>
	<integer>56</integer>
	<key>login_AgreeGuide_Width</key>
	<integer>264</integer>
	<key>draft_icon_height</key>
	<integer>32</integer>
	<key>influence_name_type_width</key>
	<integer>40</integer>
	<key>more_btn_width</key>
	<integer>60</integer>
	<key>base_corner_radius2</key>
	<integer>6</integer>
	<key>reply_cell_bottomview_height</key>
	<integer>50</integer>
	<key>topic_category_mid_icon_size</key>
	<integer>36</integer>
	<key>topic_summary_cell_height</key>
	<string>98</string>
</dict>
</plist>
