

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24小时";
"HD" = "高清";
"SD" = "标清";
"about_Influence" = "关于影响力";
"accept" = "接受";
"accept_friendrequest_success" = "接受邀请成功";
"access_appstore" = "正在访问AppStore...";
"account_adm" = "管理员";
"account_be_bound" = "帐号已绑定, 不能重复绑定";
"account_mod" = "版主";
"active_players" = "最近活跃用户";
"ad" = "广告 by";
"ad_download" = "下载";
"ad_open" = "详情";
"add" = "添加";
"add_as_friend" = "添加好友";
"add_friends" = "添加好友";
"admin" = "管理员";
"all" = "全部";
"all_players" = "影响力排名";
"all_time" = "总排名";
"all_topics" = "最新";
"app_settings" = "应用设置";
"app_version_support" = "抱歉，当前应用版本无法播放视频。";
"back" = "返回";
"bind_email" = "绑定邮箱";
"bind_phonenumber" = "绑定手机号";
"binding_email_to" = "绑定邮箱可用来找回密码、领取奖励、使用更多个性功能，邮箱绑定后不能更换！";
"binding_number_password_to" = "绑定手机号可用来找回密码、领取奖励、使用更多个性功能并为这个手机号设置一个密码。";
"binding_number_to" = "绑定手机号可用来找回密码、领取奖励、使用更多个性功能。";
"bio" = "个人签名";
"birthday" = "生日";
"block_chat" = "屏蔽聊天";
"block_private_chat" = "屏蔽私聊，除非彼此关注对方";
"blocked_account" = "抱歉，你已被列为黑名单用户";
"blocked_list" = "屏蔽列表";
"blocked_list_placeholder" = "你还没有屏蔽任何人";
"camera" = "相机胶卷";
"campaign_remain" = "剩余: ";
"campaign_rewards" = "奖励: ";
"campaign_share_Collections" = "[活动] 分享此专题立即获取奖励！";
"campaign_share_topic" = "[活动] 分享此话题立即获取奖励！";
"can_not_video" = "目前你不能发布附带视频的内容。";
"cancel" = "取消";
"cannot_like_yourself" = "不能称赞自己发布的内容";
"cannot_message_unless" = "你需要与对方互相关注才能发送消息";
"cannot_report_yourself" = "你不能举报自己";
"card_view" = "全文视图";
"categories" = "分类";
"change_gender" = "修改性别";
"change_next_group" = "换一组";
"change_password" = "修改";
"change_signature" = "点击修改个性签名";
"chat" = "消息";
"chat_now" = "立即开始聊天！";
"chat_session_placeholder_description" = "选择自己的好友开始聊天";
"chat_session_placeholder_title" = "开始与好友聊天！";
"claim" = "领取";
"claimed" = "已领取";
"clear" = "清空";
"clear_search_history" = "清空搜索历史";
"click_email_signature" = "绑定邮箱";
"click_number_signature" = "绑定手机号";
"collection" = "专题";
"community" = "话题";
"community_version" = "Community · v%@";
"complete_email" = "设置你的邮箱";
"complete_profile" = "完善你的个人信息！使你更容易被其他用户认识和关注！";
"complete_security_setting" = "完善安全设置用于找回KTplay密码";
"complete_user_profile" = "完善用户信息";
"confirm" = "确定";
"confirm_clear_search" = "是否清空搜索历史？";
"confirm_to_complete_security_setting" = "创建";
"confirm_to_logout" = "不，谢谢";
"confirm_yes" = "是";
"connection_failed" = "网络不稳定";
"connection_timeout" = "网络不稳定";
"contactbook_error_one" = "到系统的[设置]选项中允许%@使用通讯录，你可以和你通讯录里的联系人沟通";
"contacts" = "通讯录";
"contacts_friends" = "联系人";
"contacts_players_prompt" = "查看通讯录立即找到正在玩当前应用的联系人";
"content_already_removed" = "哎呀！内容已不存在了…";
"copy" = "复制";
"create_nickname" = "设置昵称";
"create_reply" = "回复";
"create_signature" = "点击添加个性签名";
"create_topic" = "话题";
"create_topic_success" = "发布成功";
"create_username" = "设置用户名 ";
"create_username_tip" = "用户名只能自定义修改一次，一旦保存无法再次变更，用户名可用来登录KTplay。";
"delete" = "删除";
"delete_conversation" = "删除聊天会话";
"delete_favorite" = "取消收藏";
"delete_friend" = "解除好友关系";
"deny_friendrequest_success" = "已拒绝邀请";
"description" = "错误描述";
"development_mode" = "开发模式";
"distance_kilometer" = "千米";
"distance_meter" = "米";
"distance_pattern" = "%@%@";
"done" = "完成";
"drafts" = "草稿箱";
"edit" = "编辑";
"email" = "电子邮件地址";
"email_already_registered" = "这个邮箱已经在KTplay上被占用，请你重新输入一个新的邮箱。";
"email_or_username" = "用户名";
"email_unverified" = "未验证";
"enable_location_service" = "请到系统的[设置]-[隐私]-[通讯录]选项中，允许%@使用定位服务";
"enable_microphone_permission" = "请在设备的\"设置\"选项中允许该应用访问麦克风";
"enter" = "进入";
"enter_email" = "输入你的电子邮件地址并设置一个密码。";
"enter_email_reward" = "绑定邮箱后可以领取你的奖励，邮箱一旦绑定不能更换！";
"enter_number" = "输入你的手机号，我们将发送验证码到你的手机.";
"error" = "错误";
"error_150001" = "请求失败 (缺少参数: 150001)";
"error_150002" = "请求失败 (150002)";
"error_150003" = "请求失败 (150003)";
"error_150004" = "请求失败 (150004)";
"error_150005" = "请求失败 (150005)";
"error_150101" = "请求失败 (150101)";
"error_150102" = "请求失败 (150102)";
"error_integration" = "发现KT接入错误";
"expansion_centent" = "展开全部";
"failed_to_record" = "录音失败";
"favorite" = "收藏";
"favorite_success" = "收藏成功";
"feature_disabled" = "该功能被禁用 %@";
"featured_topics" = "推荐话题";
"female" = "女";
"field_username" = "用户名:";
"follow" = "关注";
"follow_success" = "关注成功";
"followers" = "粉丝";
"following" = "已关注";
"following_each_other" = "已关注";
"forget_password" = "忘记密码?";
"friend_requests" = "好友请求";
"friend_requests_sent" = "请求已发送";
"friend_requst_placeholder" = "我想和你成为好友";
"friend_updates" = "好友动态";
"friendrequest_waitfor_acception" = "已邀请";
"friends" = "好友";
"friends_from_other_games" = "其它应用好友";
"friends_playing_game" = "在玩 %@";
"friends_symbol" = "好友";
"friendship_created_session_for_receiver" = "你已经和%@成为KTplay好友，立即开始对话！";
"friendship_created_session_for_sender" = "我们已经成为KTplay好友，立即开始在对话！";
"gender" = "性别";
"get_location_failed" = "无法获取你的位置信息。";
"get_location_permission" = "到系统的[设置]选项中允许%@使用定位服务, 你可以快速和附近的用户联系";
"get_verification_code" = "获取验证码";
"go" = "详情";
"have_not_view_topic" = "你还没有查看过任何话题…";
"have_not_visit_user" = "你还没有访问过任何用户…";
"have_reported" = "你已经举报过这条消息";
"header_background" = "背景图";
"highest_growth" = "成长最快";
"hold_to_record" = "按下录制语音";
"hot_searches" = "热门搜索";
"i_know" = "知道了";
"in_development" = "这个应用处于开发模式，你正在使用一个测试应用的App Key和Secret。
请注意在提交到应用商店前，通过开发者网站操作“完成集成”来获取发布模式的App Key和App Secret，并替换到你的工程当中。";
"in_process" = "视频压缩中...%@";
"in_review" = "正在审核";
"in_reviewing" = "正在审核中…";
"inbox" = "收件箱";
"incorrect_phonenumber" = "请输入正确的手机号。";
"incorrect_server_url" = "服务器地址错误";
"increase_influence" = "积累你的社区影响力，立即发布有趣的内容来获取关注！";
"influence" = "影响力";
"influence_points" = "影响力";
"influence_rank" = "影响力排名";
"influencers" = "社区名人";
"inorrect_verification_code" = "不正确的验证码";
"input_email" = "输入你的邮箱";
"input_newpassword" = "输入新密码";
"input_nickname" = "请输入昵称";
"input_oldpassword" = "输入旧密码";
"input_redeem_code" = "输入兑换码";
"input_username" = "输入你的用户名，仅支持字母、数字";
"invalid_email_format" = "请填入有效的电子邮箱";
"invite" = "邀请";
"invite_frinds_from_sns" = "邀请SNS好友";
"invite_more_players" = "邀请更多朋友加入";
"invite_sns_friends_placeholder" = "快来和我一起玩%@，我的昵称是：%@";
"invite_to_be_friend" = "邀请成为好友";
"invited" = "已邀请";
"ktplay_slogan" = "找攻略 提问题 加好友 领奖励";
"lastest_reply" = "最新回复： %@";
"like" = "称赞";
"like_success" = "称赞成功";
"likes" = "称赞";
"likes_count" = "称赞 %@";
"limited_account_promption" = "帐号受限，将于%@解除";
"link_login_with_phonenumber" = "手机号登录";
"link_register_with_phonenumber" = "手机号注册，更安全";
"link_register_with_username" = "用户名注册";
"list_view" = "摘要视图";
"loadmore" = "获取更多";
"loadmore_pulling" = "上拉更新";
"locked" = "已锁定";
"login" = "登录";
"login_and_claim" = "登录并领取";
"login_expired" = "帐号已登出，请重新登录";
"login_failed" = "登录失败";
"login_first" = "抱歉，你需要先登录。";
"login_or_register" = "注册或登录";
"login_start_conversation" = "登录并访问其他用户给对方发送消息。";
"login_success" = "%@，欢迎！";
"login_to_get_friends_updates" = "随时随地，登录查看好友动态！";
"login_to_ktplay" = "KTplay帐号登录";
"login_to_play_with_friends" = "找到你的好友，随时一起玩！";
"login_welcome" = "%@，欢迎！";
"login_with_exists_account" = "已有帐号？立即登录";
"login_with_other_accounts" = "使用其他帐号";
"login_with_phonenumber" = "手机号登录";
"login_with_selected_account" = "使用该帐号";
"login_with_sns" = "SNS登录";
"login_with_username" = "用户名登录";
"logout" = "退出登录";
"male" = "男";
"manage_alert_highlight_text" = "是否确定标记当前内容为精华？";
"manage_alert_highlight_title" = "内容加精";
"manage_alert_insert_mainpage_text" = "是否确定要将当前内容插入首页推荐？";
"manage_alert_insert_mainpage_title" = "推荐内容";
"manage_alert_lock_text" = "是否确定锁定当前内容？";
"manage_alert_lock_title" = "锁定内容";
"manage_alert_move_text" = "是否确定要移动当前内容？";
"manage_alert_move_title" = "移动内容";
"manage_alert_quarantine_text" = "是否确定隔离当前内容？";
"manage_alert_quarantine_title" = "隔离内容";
"manage_alert_top_text" = "是否确定置顶当前内容？";
"manage_alert_top_title" = "置顶内容";
"manage_alert_unhighlight_text" = "是否确定取消当前内容的精华状态？";
"manage_alert_unhighlight_title" = "取消加精";
"manage_alert_unlock_text" = "是否确定取消当前内容的锁定状态？";
"manage_alert_unlock_title" = "取消锁定";
"manage_alert_untop_text" = "是否确定取消当前内容的置顶状态？";
"manage_alert_untop_title" = "取消置顶";
"manage_button_highlight" = "精华";
"manage_button_lock" = "锁定";
"manage_button_quarantine" = "隔离";
"manage_button_top" = "置顶";
"manage_button_unhighlight" = "取消精华";
"manage_button_unlock" = "取消锁定";
"manage_button_untop" = "取消置顶";
"manage_info" = "注意：您无法对官方帐号创建的内容进行管理操作。";
"manage_info_highlight" = "标记有价值的内容，并被收纳至精华内容列表。";
"manage_info_lock" = "话题一旦被锁定，将无法被其他用户进行回复，并逐渐下降到“最新”列表的底部。";
"manage_info_main_page_insert" = "将话题插入到指定的推荐位中。";
"manage_info_move_topic" = "移动话题到指定的分类下方便其他的用户查找。";
"manage_info_quarantine" = "内容一旦被隔离将立即从列表中隐藏。";
"manage_info_top" = "置顶的内容将会显示在话题列表页顶部的置顶话题栏中并提示全部用户阅读。";
"manage_option_game_video" = "热播视频";
"manage_option_hot_topics" = "热门话题";
"manage_option_recommended_photos" = "精彩图片";
"manage_title_main_page_insert" = "推荐到首页";
"manage_title_manage" = "管理";
"manage_title_move_topic" = "移动话题";
"max_of_photos" = "最多只能选择%@张图片";
"me" = "我";
"mobile_already_registered" = "这个手机号已经在KTplay上被占用，请你重新输入一个新的手机号！";
"more" = "更多";
"more_collections" = "全部专题";
"more_options" = "更多操作";
"more_replies" = "还有%@条回复…";
"moregames" = "更多应用";
"most_active_players" = "最活跃的用户";
"most_liked_players" = "最受欢迎";
"my_friends" = "好友";
"my_topics" = "我的话题";
"myprofile_no_likes_received" = "哎呀！还没有人称赞过你…";
"myprofile_no_topics_created" = "你没有发布任何内容";
"nearby" = "附近";
"nearby_players_propmt" = "查看附近的人功能将获取你的位置信息，搜索附近用户。";
"netwaok_unstable" = "网络状况不佳";
"network_unavailable" = "网络不稳定";
"new" = "最新";
"new_chat" = "新建对话";
"new_friend_invataion" = "请求添加你为好友";
"nickname" = "昵称";
"no_chat_friends" = "没有好友可以开始聊天";
"no_chat_yet" = "访问其他用户给对方发送消息。";
"no_draft_yet" = "还没有任何草稿";
"no_follower" = "他/她还没有任何粉丝…";
"no_following" = "他/她还没有关注过任何人…";
"no_like_yet" = "还没有任何称赞";
"no_messages" = "暂无消息…";
"no_more_collections" = "没有更多专题了";
"no_more_drafts" = "没有更多草稿了";
"no_more_follower" = "没有更多粉丝了";
"no_more_following" = "没有更多关注中的用户了";
"no_more_like" = "没有更多称赞了";
"no_more_messages" = "没有更多消息";
"no_more_reply" = "没有更多回复了";
"no_more_sns_friends_playing" = "没有新加入的%@好友";
"no_more_topic" = "没有更多话题了";
"no_more_update_yet" = "没有更多动态了";
"no_permission_to_access_album" = "到系统的[设置]选项中允许开启该应用对相册的访问";
"no_record_yet" = "哎呀！太安静了。创建你的话题立即上榜！";
"no_reply_yet" = "还没有任何回复";
"no_results" = "无结果";
"no_signature" = "无签名";
"no_topic_yet" = "还没有任何话题";
"no_update_yet" = "还没有任何动态";
"no_video" = "无视频";
"no_wifi" = "发送队列中有未发送的内容，是否继续发送？";
"not_binding" = "未绑定";
"not_following_anyone" = "呃哦！你还没有关注任何人或是你关注的用户没有发布过任何内容！立即关注社区名人发布的内容吧！";
"not_have_review" = "你没有任何内容在审核中";
"not_in_group" = "你已不在该讨论组内";
"not_now" = "暂时不用";
"not_setting" = "未设置";
"not_support_video" = "抱歉, 暂不支持上传视频文件";
"notice_email_signature" = "绑定邮箱才能使用视频个性签名";
"notice_number_signature" = "绑定手机号才能使用视频个性签名";
"on_top" = "置顶";
"online_players" = "人在玩";
"original_reply" = "原回复: ";
"original_topic" = "原话题: ";
"other_player" = "用户";
"other_popular_games" = "大家都喜欢玩";
"password" = "密码";
"password_placeholder" = "密码 6-18英文或数字";
"pattern_blocked_user" = "(已屏蔽) %@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "回复: %@";
"phone_number" = "手机号";
"player_playing_games" = "在玩的应用";
"players" = "用户";
"players_already_claimed" = "这些用户已经参与啦";
"players_around_you" = "离你最近的用户";
"players_nearby" = "附近的人";
"players_topics" = "话题";
"post_quickly" = "你发布内容过于频繁，请稍后再试";
"powered_by" = "Powered by";
"privacy" = "隐私";
"profile_complete_setting" = "提示：绑定邮箱或手机可找回帐号";
"profile_reply" = "回复";
"promoted" = "推荐";
"promoted_download" = "下载";
"publish_content_placeholder" = "说点什么…";
"pull_refresh" = "请下拉重试";
"pullrefresh_last_updated" = "最后更新";
"pullrefresh_loading" = "正在更新...";
"pullrefresh_release" = "释放更新";
"pullrefresh_update" = "更新";
"quick_login" = "快速登录";
"quicklaunch_netlogged" = "尚未登录应用，请先登录。";
"quicklaunch_register" = "想要体验更多社区功能，请先注册应用!";
"quicklaunch_relogin" = "未能成功登录帐号，请点击重新连接!";
"rank" = "排名";
"rank_number" = "#%@";
"read_more" = "详情";
"received_likes" = "获得称赞 %@";
"recent_searches" = "最近搜索";
"recent_viewed" = "最近查看";
"recommended" = "精彩图片";
"recommended_friends" = "推荐好友";
"recommended_topics" = "精华";
"record_error_short" = "录音过短";
"redeem" = "兑换";
"redeem_code" = "兑换码";
"register" = "注册";
"register_with_phonenumber" = "手机号注册";
"registerview_email" = "用户名";
"release_to_cancel" = "松开取消发送";
"release_to_send" = "松开发送语音";
"relogin" = "重新登录";
"remain_format_day" = "%@天";
"remain_format_day_hour" = "%@天%@小时";
"remain_format_hour" = "%@小时";
"remain_format_min" = "%@分钟";
"replay_pattern" = "回复:%@";
"replies_count" = "回复 %@";
"reply_and_likes" = "回复 %@ | 称赞 %@";
"reply_details" = "回复";
"reply_me" = "回复了你";
"reply_notify" = "通知";
"reply_success" = "回复成功";
"reply_to" = "回复了%@";
"report" = "举报";
"report_content" = "举报内容";
"report_submitted_description" = "你的举报已经提交成功，我们会尽快进行处理。有任何处理结果将会以通知的形式发送到你的帐号下。感谢你的支持！";
"report_success" = "举报成功";
"request_failed" = "抱歉，加载失败...";
"request_img_failed" = "图片加载失败";
"require_content" = "缺少标题或内容无法发送";
"resend" = "重发";
"resend_email" = "发送验证邮件";
"reset" = "重置";
"reset_enter_username_with_email" = "输入用户名/邮箱";
"reset_enterusername" = "使用用户名或邮箱重置密码.";
"reset_password" = "重置密码";
"reset_password_email_failure" = "抱歉，帐号%@没有绑定任何邮箱，我们无法帮助你重置密码！";
"reset_password_failure" = "抱歉，帐号%@没有绑定任何手机号或邮箱，我们无法帮助你重置密码！";
"reset_password_with_email" = "使用邮箱重置密码";
"reset_password_with_phonenumber" = "使用手机号重置密码";
"resetpassword_email_sent" = "请求已发送请检查电子邮件";
"retrieve_password" = "找回KTplay帐号";
"reward" = "领取奖励";
"reward_claimed" = "奖励已领取！";
"reward_expired" = "抱歉，奖励已失效。感谢您的参与！";
"rising_topics" = "上升最快";
"rule_email_or_nickname" = "输入Email或用户名，用户名使用大小写字母和数字命名";
"rule_nickname_length" = "昵称长度为1-128个字符";
"rule_password" = "密码只能为6-18位数字和字母";
"rule_password_character" = "密码只能使用大小字母和数字";
"rule_username_character" = "用户名使用大小写字母和数字命名";
"rule_username_length" = "用户名长度为2-30个字符";
"save_draft" = "已存储至个人页-草稿箱。";
"save_gallery" = "已保存到系统相册";
"say_hello" = "打招呼";
"say_hello_to" = "和对方打个招呼！";
"search" = "搜索";
"search_friend_noresults" = "无结果";
"seconds_countdown" = "%@ 秒";
"security_verification" = "安全验证";
"security_verification_failure_times" = "验证失败 %@/%@";
"security_verification_pass" = "通过验证";
"security_verification_prompt" = "下列应用中有一款是你曾经玩过的KTplay平台应用，为了确认你的身份，请将其选出。";
"see_all" = "查看全部";
"see_more_replies" = "查看更多回复";
"see_rank" = "查看排名";
"selecet_a_topic" = "选择一个话题";
"select_albums" = "选择相册";
"select_country" = "选择国家地区";
"select_friend" = "选择好友";
"select_photo" = "选择图片";
"select_report_reason" = "选择举报的原因";
"select_topic_category" = "选择分类";
"select_video" = "选择视频";
"send" = "发送";
"send_email" = "发送成功";
"send_email_limit" = "抱歉，请%@分钟后再试";
"send_invitation" = "添加好友";
"sending" = "正在发送";
"server_error" = "服务器错误 (%@)";
"set_login_password" = "请为这个邮箱设置一个密码用于该邮箱登陆。";
"set_number_password" = "通过短信验证可以在视频内容中使用动态个性签名，并为该手机号设置一个密码。";
"set_password" = "修改密码";
"setting" = "设置";
"setting_avatar" = "个人头像";
"setting_baseinfo" = "个人资料";
"setting_receive_new_message" = "通知";
"setting_receive_new_message_description" = "设置在应用中是否展示通知";
"setting_receive_sounds" = "音效";
"setting_receive_sounds_description" = "控制声音效果开关";
"setting_security" = "帐号与安全";
"share_failed" = "分享失败…";
"share_success" = "分享成功";
"share_to_sns" = "分享";
"sign_up_ktplay" = "注册";
"sign_up_now" = "立即加入";
"signature" = "使用个性签名";
"skip" = "跳过";
"skip_security_verification" = "放弃验证";
"slide_up_to_cancel" = "向上滑动取消";
"sms_canceled" = "已取消短信邀请";
"sms_error" = "发送失败";
"sms_invitation_placeholder" = "下载%@和我一起玩。下载地址：%@ 我的昵称是：%@";
"sms_sucess" = "邀请短信已发送";
"sns" = "社交网络";
"sns_authorize_failed" = "授权失败";
"sns_friends_limitation" = "因社交网络平台限制只能获取部分好友。";
"sns_friends_playing" = "正在玩%@的好友";
"sns_share_placeholder" = "我在%@中分享了一条讨论，%@。";
"suggested_for_you" = "为您推荐";
"suggestion" = "解决方案";
"sure_delete_conversation" = "你确定要删除这个聊天会话吗？一旦删除会话内的聊天历史将会全部清除并无法访问。";
"system_support" = "抱歉，当前设备系统无法播放视频。";
"t_email_signature" = "完善邮箱";
"t_number_signature" = "认证手机号";
"take_screenshot" = "截取应用画面";
"terms_agreement" = "登录或注册表示你接受并同意KTplay的<a>用户协议与条款</a>，同时确认你已经超过13岁。";
"terms_and_privacy" = "用户协议与条款";
"time_day" = "日";
"time_format_hour" = "%@小时前";
"time_format_justnow" = "刚刚";
"time_format_last_year" = "yyyy-MM-dd";
"time_format_minutes_ago" = "%@分钟前";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "yyyy-MM";
"time_format_year_month_day" = "yyyy年MM月dd日";
"time_format_yesterday" = "昨天";
"time_month" = "月";
"time_year" = "年";
"tip_addfriends_now" = "快来添加好友吧！";
"tip_addfrinds_from_different_types" = "立即找到应用中的伙伴";
"tip_bind_email" = "为你的帐号设置一个邮箱，邮箱将可以用来登录和重置你的密码";
"tip_change_nickname" = "这个名字将被显示给其他用户，并且帮助你所认识的朋友找到你。";
"tip_chat_service_issue" = "聊天服务繁忙，请稍后重试…";
"tip_chattype_audio" = "语音";
"tip_chattype_image" = "图片";
"tip_message_blocked" = "消息被对方拒绝接收";
"tip_reply_locked" = "话题已锁定";
"tip_resetpassword_with_email" = "我们已经给邮箱%@发送一封邮件，帮助你重置登录密码";
"tip_select_chat_friend" = "客户端版本不支持聊天功能的好友不会被显示";
"title_optional" = "请输入标题";
"to_enter_email" = "绑定邮箱后可以使用视频动态签名，邮箱绑定后不能更换！";
"to_verify_number" = "通过短信验证可以在视频内容中使用动态个性签名。";
"today" = "今日";
"top_Influencers" = "社区名人";
"top_collections" = "专题";
"topic_count" = "话题 %@";
"topic_create" = "创建";
"topic_details" = "原话题";
"topic_reply" = "回复";
"topic_share" = "最新用户分享 来自%@";
"topic_task_limit" = "最多同时上传%@条话题，已存储至个人页-草稿箱。";
"topics" = "话题";
"try_again" = "再试一次";
"try_verify_email_signature" = "可试用一次, <a>绑定邮箱</a>就能永久使用!";
"try_verify_number_signature" = "可试用一次,<a>绑定手机号</a>就能永久使用!";
"unable_to_record" = "无法录音";
"unblock" = "解除屏蔽";
"unfollow" = "取消关注";
"unfollow_this_player" = "你确定要取消关注该用户吗？";
"unsupported_chat_message_type" = "当前KTplay版本暂不支持查看此消息";
"update_failed" = "操作失败";
"update_success" = "操作成功";
"updates_created_topic" = "发布了话题";
"updates_liked_content" = "称赞了话题";
"updates_liked_reply" = "称赞了回复";
"updates_replied_topic" = "发布了回复";
"upload_failed_part" = "你有%@个内容发布失败，已存储至个人页-草稿箱。";
"upload_from_album" = "从相册上传";
"user_profile" = "用户详情";
"user_received_likes" = "称赞";
"username" = "用户名";
"userprofile_no_likes_received" = "哎呀！还没有人称赞过这个用户…";
"userprofile_no_topics_created" = "这个用户没有发布任何内容";
"users_friends" = "好友";
"using_test" = "使用测试";
"v_email_signature" = "完善邮箱";
"v_number_signature" = "认证手机号";
"verification_code" = "验证码";
"verification_code_sent" = "验证码已发，请查看短信";
"verification_email" = "验证邮件已发送，请在24小时内验证你的邮箱，否则将会影响你继续使用KTplay的部分服务。";
"verification_email_send" = "我们将发送一封验证邮件。请在24小时内验证你的邮箱，否则将会影响你继续使用KTplay的部分服务。你可以在确认验证之前修改你的邮箱地址来重发确认邮件。注意，一旦邮箱地址被修改，你必须使用新的邮箱地址登陆KTplay。";
"verify_confirm_no" = "不要签名";
"verify_confirm_yes" = "立即绑定";
"verify_email_signature" = "需要<a>绑定邮箱</a>才能使用!";
"verify_mobile" = "通过短信验证领取你的奖励";
"verify_mobile_password" = "通过短信验证领取你的奖励并为该手机号设置一个密码。";
"verify_number_signature" = "需要<a>绑定手机号</a>才能使用!";
"video" = "视频";
"video_and_images" = "无法同时发布图片和视频。";
"video_exceed" = "抱歉，视频不能超过%@MB或%@分钟。";
"video_exceed_to" = "抱歉，您发布的视频不能超过%@MB并低于%@分钟。";
"video_less" = "抱歉，视频不能短于%@秒。";
"video_prefix" = "视频";
"video_processed" = "视频处理中…";
"video_signature_title" = "个性签名";
"video_size" = "当前视频大小%@MB。";
"videos" = "热播视频";
"views" = "浏览";
"vote" = "投票";
"vote_expired" = "投票已结束！";
"vote_is_ongoing" = "[投票] 进行中！%@人参与";
"vote_now" = "立即投票！";
"vote_thank" = "感谢您参与投票！";
"voted" = "已投票";
"warning_block_chatuser" = "你确定要在聊天中屏蔽%@吗？";
"warning_clear_all_messages" = "要清空全部消息？";
"warning_complete_email" = "是否要通过完善邮箱来提升自己的帐号安全？";
"warning_complete_login_method" = "你想创建一个KTplay帐号用来跨应用与其他用户互动的嘛？";
"warning_complete_phonenumber" = "是否要通过绑定手机号来提升自己的帐号安全？";
"warning_delete_content" = "删除内容？";
"warning_delete_friend" = "你确定要和%@解除好友关系吗?";
"warning_has_integration_issue" = "你有待解决的接入问题";
"warning_report_reply" = "举报内容？";
"warning_retrieve_password_after_login_failure" = "登录失败";
"warning_same_oldpassword_and_newpassword" = "新旧密码不能一样";
"warning_security_verification_times" = "连续2次验证失败后需要等待24小时才能进行下一次安全验证。";
"warning_unblock_chatuser" = "你确定要在聊天中解除对%@的屏蔽吗？";
"warning_using_testapp" = "你正在使用一个测试应用";
"whats_hot" = "社区";
"write_bio" = "创作个人签名！";
"you_might_like" = "猜你喜欢";
"you_rank" = "排名#%@";
"you_rank_lower" = "排名#%@·位于较低的%@%";
"you_rank_top" = "排名#%@·位于较高的%@%";
