

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24시간";
"HD" = "고화질";
"SD" = "표준화질";
"about_Influence" = "영향력 설명";
"accept" = "수락";
"accept_friendrequest_success" = "친구요청을 수락했습니다";
"access_appstore" = "AppStore접속 중...";
"account_adm" = "ADM";
"account_be_bound" = "이 계정은 이미 연동된 계정입니다";
"account_mod" = "MOD";
"active_players" = "최근 활약유저";
"ad" = "광고 by";
"ad_download" = "다운로드";
"ad_open" = "분견하다";
"add" = "추가";
"add_as_friend" = "친구추가";
"add_friends" = "친구추가";
"admin" = "관리자";
"all" = "전체";
"all_players" = "영향력 순위";
"all_time" = "총랭킹";
"all_topics" = "최신";
"app_settings" = "앱 설정";
"app_version_support" = "현재 앱버전은 동영상을 플레이할 수 없습니다.";
"back" = "돌아가기";
"bind_email" = "메일연동";
"bind_phonenumber" = "휴대폰번호 연동";
"binding_email_to" = "메일을 연동하면 비밀번호 찾기, 보상받기 및 더많은 콘텐츠를 이용할 수 있습니다. 연동된 메일은 변경할 수 없습니다!";
"binding_number_password_to" = "휴대폰 번호를 연동하면 비밀번호 찾기, 보상받기 및 더많은 콘텐츠를 이용할 수 있고 해당 번호에 비밀번호를 설정할 수 있습니다.";
"binding_number_to" = "휴대폰 번호를 연동하면 비밀번호 찾기, 보상받기 및 더많은 콘텐츠를 이용할 수 있습니다.";
"bio" = "개인사인";
"birthday" = "생일";
"block_chat" = "채팅차단";
"block_private_chat" = "귓속말 블록됨, 서로 관심인 경우 제외";
"blocked_account" = "블랙 리스트 유저입니다";
"blocked_list" = "차단리스트";
"blocked_list_placeholder" = "차단한 유저가 없습니다";
"camera" = "카메라롤";
"campaign_remain" = "남은시간:";
"campaign_rewards" = "보상:";
"campaign_share_Collections" = "[이벤트]해당 테마를 공유하면 바로 보상을 획득할 수 있습니다!";
"campaign_share_topic" = "[이벤트]해당 게시물을 공유하면 바로 보상을 획득할 수 있습니다!";
"can_not_video" = "동영상이 첨부된 내용을 게시할 수 없습니다";
"cancel" = "취소";
"cannot_like_yourself" = "자신이 작성한 게시물은 좋아요를 할 수 없습니다";
"cannot_message_unless" = "상대방과 서로 관심 상태에서만 메시지가 발송됩니다";
"cannot_report_yourself" = "자신을 신고할 수 없습니다";
"card_view" = "전체보기";
"categories" = "분류";
"change_gender" = "성별변경";
"change_next_group" = "새로고침";
"change_password" = "변경";
"change_signature" = "클릭하여 서명을 변경";
"chat" = "메시지";
"chat_now" = "게임채팅 바로시작하기";
"chat_session_placeholder_description" = "자신의 게임친구를 선택하여 채팅하기";
"chat_session_placeholder_title" = "게임친구와 채팅하기";
"claim" = "받기";
"claimed" = "받음";
"clear" = "비우기";
"clear_search_history" = "검색기록 비우기";
"click_email_signature" = "메일연동";
"click_number_signature" = "휴대폰번호 연동";
"collection" = "테마";
"community" = "게시물";
"community_version" = "Community · v%@";
"complete_email" = "메일주소 설정";
"complete_profile" = "다른 유저의 관심을 받고 더 많은 유저와 친구를 사귀려면 개인 프로필을 채워주세요! ";
"complete_security_setting" = "KTplay비밀번호를 찾기 위해 보안설정을 해주세요";
"complete_user_profile" = "유저정보 입력";
"confirm" = "확인";
"confirm_clear_search" = "검색기록을 비우시겠습니까?";
"confirm_to_complete_security_setting" = "생성하기";
"confirm_to_logout" = "아니오";
"confirm_yes" = "네 ";
"connection_failed" = "네트워크가 불안정합니다";
"connection_timeout" = "네트워크가 불안정합니다";
"contactbook_error_one" = "[설정]옵션에서 %@가 연락처를 사용하는 것을 허용하면 연락처에 있는 친구와 함께 게임을 즐길 수 있습니다";
"contacts" = "연락처";
"contacts_friends" = "연락처";
"contacts_players_prompt" = "연락처를 통해 해당 게임을 플레이하고 있는 친구를 바로 확인할 수 있습니다";
"content_already_removed" = "아차! 존재하지 않는 내용입니다…";
"copy" = "복사";
"create_nickname" = "닉네임을 설정하세요";
"create_reply" = "댓글";
"create_signature" = "클릭하여 서명을 추가";
"create_topic" = "게시물";
"create_topic_success" = "게시성공";
"create_username" = "유저 ID 설정";
"create_username_tip" = "유저 ID은 1회만 변경할 수 있고 일단 저장을 하면 더이상 변경할 수 없습니다. 유저 ID은 KTplay에 로그인하는데 사용됩니다.";
"delete" = "삭제";
"delete_conversation" = "대화 삭제";
"delete_favorite" = "즐겨찾기 취소";
"delete_friend" = "친구 해제";
"deny_friendrequest_success" = "친구요청을 거절했습니다";
"description" = "오류설명";
"development_mode" = "개발모드";
"distance_kilometer" = "km";
"distance_meter" = "m";
"distance_pattern" = "%@%@";
"done" = "완료";
"drafts" = "임시 보관함";
"edit" = "편집";
"email" = "메일주소";
"email_already_registered" = "이 메일주소는 KTplay에서 이미 사용 중입니다. 다른 메일주소를 입력하세요.";
"email_or_username" = "유저 ID";
"email_unverified" = "미인증";
"enable_location_service" = "[설정]-[개인정보보호]-[연락처]옵션에서 %@가 위치서비스를 이용하는 것을 허용해주세요";
"enable_microphone_permission" = "디바이스의 \"설정\"옵션에서 해당 앱이 마이크를 사용할 것을 허용해주세요";
"enter" = "입장";
"enter_email" = "메일을 입력하고 비밀번호를 설정해주세요";
"enter_email_reward" = "메일을 연동하면 보상을 받을 수 있습니다. 연동된 메일은 변경할 수 없습니다!";
"enter_number" = "휴대폰 번호를 입력하면 인증코드를 휴대폰에 전송해드립니다.";
"error" = "오류";
"error_150001" = "요청실패! (150001)";
"error_150002" = "요청실패! (150002)";
"error_150003" = "요청실패! (150003)";
"error_150004" = "요청실패! (150004)";
"error_150005" = "요청실패! (150005)";
"error_150101" = "요청실패! (150101)";
"error_150102" = "요청실패! (150102)";
"error_integration" = "KT연동오류발견";
"expansion_centent" = "전체보기";
"failed_to_record" = "녹음실패";
"favorite" = "즐겨찾기";
"favorite_success" = "즐겨찾기";
"feature_disabled" = "해당 기능은 %@가 금지되었습니다";
"featured_topics" = "추천 토픽";
"female" = "여자";
"field_username" = "유저 ID";
"follow" = "관심";
"follow_success" = "관심 성공";
"followers" = "팔로워";
"following" = "이미 관심";
"following_each_other" = "이미 관심";
"forget_password" = "비밀번호를 잊으셨어요?";
"friend_requests" = "친구요청 ";
"friend_requests_sent" = "요청을 보냈습니다";
"friend_requst_placeholder" = "친구하고 싶습니다";
"friend_updates" = "친구상태";
"friendrequest_waitfor_acception" = "요청함";
"friends" = "친구";
"friends_from_other_games" = "기타 게임 친구";
"friends_playing_game" = " %@ 플레이 중입니다";
"friends_symbol" = "친구";
"friendship_created_session_for_receiver" = "유저님은 %@님과 KTplay친구가 되었습니다. 지금 바로 게임내에서 대화해보세요!";
"friendship_created_session_for_sender" = "KTplay친구가 되었습니다. 지금 바로 게임내에서 대화해보세요!";
"gender" = "성별 ";
"get_location_failed" = "유저님의 위치정보를 불러올 수 없습니다";
"get_location_permission" = "[설정]옵션에서 %@가 위치서비스를 사용하는 것을 허용하면 주변에 있는 유저와 함께 게임을 즐길 수 있습니다";
"get_verification_code" = "인증코드 획득";
"go" = "세부";
"have_not_view_topic" = "당신은 어떤 항목을 조회하지 않은 ...";
"have_not_visit_user" = "사용자 프로필을 방문하지 않았습니다 …";
"have_reported" = "이미 해당 메시지를 신고했습니다.";
"header_background" = "배경도";
"highest_growth" = "성장 최고";
"hold_to_record" = "누르면 음성 메시지가 녹음됩니다";
"hot_searches" = "핫 검색";
"i_know" = "네";
"in_development" = "This app is in development mode. Currently you are using App Key and Secret of a TEST App.
Before You release your app to Market. You must to get the App Key and Secrct (for Release) by \"Integrating Finished\" on KTplay Developer website. Then replace it in your project.";
"in_process" = "동영상 압축 중%@";
"in_review" = "검수 대기중";
"in_reviewing" = "검수 중...";
"inbox" = "받은메일함";
"incorrect_phonenumber" = "유효한 휴대폰 번호를 입력하세요";
"incorrect_server_url" = "서버주소 오류";
"increase_influence" = "커뮤니티 영향력을 모아 재미있는 내용을 발표해 관심을 받으세요!";
"influence" = "영향력";
"influence_points" = "영향력";
"influence_rank" = "영향력 랭킹";
"influencers" = "영향력";
"inorrect_verification_code" = "인증코드가 정확하지 않습니다";
"input_email" = "메일주소를 입력하세요";
"input_newpassword" = "신규 비밀번호를 입력하세요";
"input_nickname" = "닉네임을 입력하세요";
"input_oldpassword" = "기존 비밀번호를 입력하세요";
"input_redeem_code" = "쿠폰번호를 입력하세요";
"input_username" = "유저 ID을 입력하세요. 문자, 숫자로만 구성할 수 있습니다.";
"invalid_email_format" = "유효한 메일주소를 입력하세요";
"invite" = "초대";
"invite_frinds_from_sns" = "SNS친구 초대";
"invite_more_players" = "더 많은 친구를 초대";
"invite_sns_friends_placeholder" = "함께 %@(을)를 플레이해요! 저의 닉네임：%@";
"invite_to_be_friend" = "친구초대";
"invited" = "요청함";
"ktplay_slogan" = "게임공략 · 질문 · 그리고친구와";
"lastest_reply" = "최신댓글： %@";
"like" = "좋아요";
"like_success" = "좋아요 완료";
"likes" = "좋아요";
"likes_count" = "좋아요 %@";
"limited_account_promption" = "차단된 계정입니다. %@에 해제됩니다";
"link_login_with_phonenumber" = "휴대폰번호 로그인";
"link_register_with_phonenumber" = "휴대폰 번호로 가입하면 더 안전합니다";
"link_register_with_username" = "유저 ID으로 회원가입";
"list_view" = "요약보기";
"loadmore" = "더 보기";
"loadmore_pulling" = "당겨서 새로고침";
"locked" = "잠금완료";
"login" = "로그인";
"login_and_claim" = "로그인하고 수령하세요";
"login_expired" = "로그아웃했습니다. 다시 로그인하세요.";
"login_failed" = "로그인 실패";
"login_first" = "우선 로그인하세요.";
"login_or_register" = "회원가입 혹은 로그인";
"login_start_conversation" = "다른 사람의 프로필을 방문하여 지금 그들과 함께 채팅";
"login_success" = "%@, 환영합니다";
"login_to_get_friends_updates" = "언제 어디서나 접속하고 친구상태 확인!";
"login_to_ktplay" = "KTplay계정 로그인";
"login_to_play_with_friends" = "친구가 되면 언제든지 함께 할 수 있습니다";
"login_welcome" = "%@, 환영합니다";
"login_with_exists_account" = "이미 가입하셨어요? 바로 로그인하세요.";
"login_with_other_accounts" = "다른 계정 사용하기";
"login_with_phonenumber" = "휴대폰번호 로그인";
"login_with_selected_account" = "해당 계정 사용하기";
"login_with_sns" = "SNS로그인";
"login_with_username" = "유저 ID으로 로그인";
"logout" = "로그아웃";
"male" = "남자";
"manage_alert_highlight_text" = "해당 컨텐츠를 베스트로 표기하시겠습니까?";
"manage_alert_highlight_title" = "베스트 컨텐츠에 추가";
"manage_alert_insert_mainpage_text" = "해당 내용을 첫페이지의 추천에 삽입하시겠습니까?";
"manage_alert_insert_mainpage_title" = "추천내용";
"manage_alert_lock_text" = "해당 내용을 잠금처리하시겠습니까?";
"manage_alert_lock_title" = "내용잠금";
"manage_alert_move_text" = "해당 내용을 이동하시겠습니까?";
"manage_alert_move_title" = "내용이동";
"manage_alert_quarantine_text" = "해당 내용을 격리하시겠습니까?";
"manage_alert_quarantine_title" = "격리내용";
"manage_alert_top_text" = "해당 내용을 최상위로 이동하시겠습니까?";
"manage_alert_top_title" = "최상위 내용";
"manage_alert_unhighlight_text" = "해당 컨텐츠의 베스트 상태를 취소하시겠습니까?";
"manage_alert_unhighlight_title" = "베스트 추가 취소";
"manage_alert_unlock_text" = "해당 내용의 잠금상태를 취소하시겠습니까?";
"manage_alert_unlock_title" = "잠금취소";
"manage_alert_untop_text" = "해당 내용의 최상위 상태를 취소하시겠습니까?";
"manage_alert_untop_title" = "최상위 취소";
"manage_button_highlight" = "베스트  ";
"manage_button_lock" = "잠금";
"manage_button_quarantine" = "격리";
"manage_button_top" = "최상위";
"manage_button_unhighlight" = "베스트 취소";
"manage_button_unlock" = "잠금취소";
"manage_button_untop" = "최상위 취소";
"manage_info" = "주의：게임 홈페이지 공식 계정으로 작성한 내용은 관리를 할 수 없습니다.";
"manage_info_highlight" = "유용한 내용은 표기한 후 베스트 컨텐츠 리스트에 저장합니다.";
"manage_info_lock" = "게시물에 잠금설정을 하면 다른 유저가 댓글을 달 수 없고 점차 \"최신\"리스트에서 가장 아래로 내려가게 됩니다.";
"manage_info_main_page_insert" = "게시물을 지정된 추천 카테고리에 삽입합니다.";
"manage_info_move_topic" = "다른 유저가 조회하기 편리하도록 게시물을 지정된 카테고리로 이동할 수 있습니다.";
"manage_info_quarantine" = "내용이 격리되면 리스트에서 바로 숨겨집니다.";
"manage_info_top" = "최상위에 있는 내용은 게시물 리스트창의 최상위에 출력되어 전체 유저가 읽을수 있도록 알림을 보냅니다.";
"manage_option_game_video" = "핫 동영상";
"manage_option_hot_topics" = "인기 게시물";
"manage_option_recommended_photos" = "추천 이미지";
"manage_title_main_page_insert" = "첫페이지에서 추천";
"manage_title_manage" = "관리자";
"manage_title_move_topic" = "게시물 이동";
"max_of_photos" = "최대 %@장의 이미지를 선택할수 있습니다";
"me" = "나";
"mobile_already_registered" = "이 번호는 KTplay에서 이미 사용 중입니다. 새로운 휴대폰 번호를 입력하세요!";
"more" = "더보기";
"more_collections" = "전체테마";
"more_options" = "더 많은 조작";
"more_replies" = "아직 %@개 댓글이 있습니다";
"moregames" = "게임 더보기";
"most_active_players" = "가장 활동적인 유저";
"most_liked_players" = "인기유저";
"my_friends" = "친구";
"my_topics" = "나의 토픽";
"myprofile_no_likes_received" = "유저님은 아직 좋아요를 받지 못했습니다";
"myprofile_no_topics_created" = "내용을 게시하지 않았습니다";
"nearby" = "주변";
"nearby_players_propmt" = "주변사람 조회 기능을 사용하면 유저님의 위치정보를 불러와 주변 유저를 검색할 수 있습니다";
"netwaok_unstable" = "네트워크 상태가 양호하지 않습니다";
"network_unavailable" = "네트워크가 불안정합니다";
"new" = "최신";
"new_chat" = "신규 채팅 생성";
"new_friend_invataion" = "친구요청을 받았습니다";
"nickname" = "닉네임";
"no_chat_friends" = "채팅할 친구가 없습니다";
"no_chat_yet" = "다른 사람의 프로필을 방문하여 지금 그들과 함께 채팅";
"no_draft_yet" = "임시 보관함이 비어있습니다";
"no_follower" = "아직 팔로워가 없습니다…";
"no_following" = "아직 관심중인 유저가 없습니다…";
"no_like_yet" = "아직 좋아요가 없습니다";
"no_messages" = "메일이 없습니다…";
"no_more_collections" = "테마가 더이상 없습니다";
"no_more_drafts" = "임시 보관한 메일이 더이상 없습니다";
"no_more_follower" = "더 이상 팔로워가 없습니다";
"no_more_following" = "더 이상 관심 중인 유저가 없습니다";
"no_more_like" = "좋아요가 더이상 없습니다";
"no_more_messages" = "더 이상 메시지가 없습니다";
"no_more_reply" = "댓글이 더이상 없습니다";
"no_more_sns_friends_playing" = "새로 가입한 %@ 친구가 없습니다";
"no_more_topic" = "더이상 게시물이 없습니다";
"no_more_update_yet" = "친구상태가 더이상 없습니다";
"no_permission_to_access_album" = "[설정]옵션에서 해당 게임이 갤러리에 접속하는 것을 허용해주세요.";
"no_record_yet" = "아차! 아직 아무도 영향 레코드가없는있다. 이제 챔피언을 얻을 수있는 항목을 만들기!";
"no_reply_yet" = "아직 댓글이 없습니다";
"no_results" = "결과 없음";
"no_signature" = "서명이 없습니다";
"no_topic_yet" = "아직 게시물이 없습니다";
"no_update_yet" = "아직 친구상태가 없습니다";
"no_video" = "동영상이 없습니다";
"no_wifi" = "전송 대기중인 내용에 아직 전송하지 못한 내용이 있습니다. 계속하여 전송하시겠습니까?";
"not_binding" = "비연동";
"not_following_anyone" = "앗! 게시물에 누군가 사람을 따라하지 않았습니다! 어서 커뮤니티 명인의 발표 내용을 확인해 보세요!";
"not_have_review" = "심사에는 콘텐츠가 없습니다";
"not_in_group" = "이 그룹창에서 나왔습니다";
"not_now" = "미사용";
"not_setting" = "비설정";
"not_support_video" = "동영상 파일 업로드는 아직 지원하지 않습니다";
"notice_email_signature" = "메일을 연동해야 동영상 서명을 사용할 수 있습니다";
"notice_number_signature" = "휴대폰 번호를 연동해야 동영상 서명을 사용할 수 있습니다";
"on_top" = "최상위";
"online_players" = "플레이 중";
"original_reply" = "기존댓글:";
"original_topic" = "기존 게시물:";
"other_player" = "플레이어";
"other_popular_games" = "모두가 즐기는 게임";
"password" = "비밀번호";
"password_placeholder" = "비밀번호 6-18 문자";
"pattern_blocked_user" = "(이미 차단) %@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "댓글: %@";
"phone_number" = "휴대폰 번호";
"player_playing_games" = "플레이하고 있는 게임";
"players" = "유저";
"players_already_claimed" = "이미 참여한 유저입니다.";
"players_around_you" = "유저님과 가장 가까이에 있는 유저";
"players_nearby" = "주변사람";
"players_topics" = "게시물";
"post_quickly" = "내용을 반복해서 게시할 수 없습니다. 잠시후 재시도하세요";
"powered_by" = "Powered by";
"privacy" = "개인정보보호";
"profile_complete_setting" = "팁:메일 혹은 휴대폰과 연동하면 계정을 찾을 수 있습니다";
"profile_reply" = "댓글";
"promoted" = "추천";
"promoted_download" = "다운로드";
"publish_content_placeholder" = "내용을 입력하세요";
"pull_refresh" = "풀다운는 새로 고침";
"pullrefresh_last_updated" = "마지막 업데이트";
"pullrefresh_loading" = "업데이트 중...";
"pullrefresh_release" = "당겨서 놓으면 업데이트";
"pullrefresh_update" = "업데이트 ";
"quick_login" = "빠른 로그인";
"quicklaunch_netlogged" = "게임을 접속하지 않았습니다. 먼저 로그인하세요.";
"quicklaunch_register" = "더 많은 콘텐츠를 체험하고 싶으면 회원가입하세요!";
"quicklaunch_relogin" = "로그인에 실패했습니다. 다시 시도해주세요";
"rank" = "랭킹";
"rank_number" = "#%@";
"read_more" = "상세정보";
"received_likes" = "받은 좋아요수 %@";
"recent_searches" = "최근 검색";
"recent_viewed" = "최근 확인";
"recommended" = "추천 이미지";
"recommended_friends" = "추천친구";
"recommended_topics" = "베스트  ";
"record_error_short" = "녹음시간이 너무 짧습니다";
"redeem" = "교환";
"redeem_code" = "쿠폰";
"register" = "회원가입";
"register_with_phonenumber" = "휴대폰 번호로 회원가입";
"registerview_email" = "유저 ID";
"release_to_cancel" = "손을 떼면 전송이 취소됩니다";
"release_to_send" = "손을 떼면 음성 메시지가 전송됩니다";
"relogin" = "다시 로그인  ";
"remain_format_day" = "%일";
"remain_format_day_hour" = "%@일%@시간";
"remain_format_hour" = "%@시간";
"remain_format_min" = "%@분";
"replay_pattern" = "댓글:%@";
"replies_count" = "댓글 %@";
"reply_and_likes" = "댓글 %@ | 좋아요 %@";
"reply_details" = "댓글";
"reply_me" = "님의 댓글";
"reply_notify" = "미리알림";
"reply_success" = "댓글달기 성공";
"reply_to" = " %@님에게 댓글달기";
"report" = "보고";
"report_content" = "내용신고";
"report_submitted_description" = "유저님의 신고가 접수되었습니다. 빠른 시일내에 해결하고 유저님의 계정으로 연락드리겠습니다. 도움 감사드립니다.";
"report_success" = "신고완료";
"request_failed" = "로딩실패...";
"request_img_failed" = "이미지 로딩 실패";
"require_content" = "게시 제목이나 내용을 필요";
"resend" = "재전송";
"resend_email" = "인증메일 보내기";
"reset" = "재설정";
"reset_enter_username_with_email" = "유저 ID/메일주소를 입력하세요";
"reset_enterusername" = "유저 ID 혹은 메일주소를 이용하여 비밀번호를 재설정하세요";
"reset_password" = "비밀번호 재설정";
"reset_password_email_failure" = "죄송합니다. %@계정은 아직 메일주소를 연동하지 않아 비밀번호를 재설정할 수 없습니다.";
"reset_password_failure" = "%@계정은 아직 휴대폰번호 혹은 메일주소를 연동하지 않아 비밀번호를 재설정할 수 없습니다";
"reset_password_with_email" = "메일로 비밀번호 재설정하기";
"reset_password_with_phonenumber" = "휴대폰 번호로 비밀번호 재설정하기";
"resetpassword_email_sent" = "초대를 보냈습니다. 메일을 확인하세요";
"retrieve_password" = "KTplay계정 찾기";
"reward" = "보상받기";
"reward_claimed" = "보상을 이미 받았습니다";
"reward_expired" = "유효하지 않은 보상입니다. 참여해주셔서 감사합니다!";
"rising_topics" = "상승 주제";
"rule_email_or_nickname" = "Email혹은 유저 ID을 입력하세요. 유저 ID은 대소문자와 숫자의 조합이어야 합니다";
"rule_nickname_length" = "닉네임 길이는 1-128자입니다";
"rule_password" = "비밀번호 6-18 문자";
"rule_password_character" = "비밀번호는 대소문자와 숫자만 사용할 수 있습니다";
"rule_username_character" = "유저 ID은 대소문자와 숫자로 구성됩니다.";
"rule_username_length" = "유저 ID 글자수는 2-30개입니다.";
"save_draft" = "마이페이지-임시 보관함에 저장되었습니다";
"save_gallery" = "이미지가 갤러리에 저장되었습니다";
"say_hello" = "당신에게 인사";
"say_hello_to" = "그 / 그녀에게 인사!";
"search" = "검색";
"search_friend_noresults" = "결과 없음";
"seconds_countdown" = "%@ 초";
"security_verification" = "보안인증";
"security_verification_failure_times" = "인증실패 %@/%@";
"security_verification_pass" = "인증통과";
"security_verification_prompt" = "유저님의 신분을 확인하기 위하여 아래 KTplay게임 중 플레이해본 게임이 있으면 선택해주세요. ";
"see_all" = "전부 확인";
"see_more_replies" = "더 많은 댓글 보기";
"see_rank" = "랭킹보기";
"selecet_a_topic" = "하나의 토픽 선택";
"select_albums" = "갤러리 선택";
"select_country" = "국가지역을 선택하세요";
"select_friend" = "친구선택";
"select_photo" = "이미지 선택";
"select_report_reason" = "신고한 원인을 선택하세요";
"select_topic_category" = "카테고리 선택";
"select_video" = "동영상 선택";
"send" = "전송";
"send_email" = "전송성공";
"send_email_limit" = " %@분 후 재시도하세요";
"send_invitation" = "친구추가";
"sending" = "전송 중";
"server_error" = "서버오류 (%@)";
"set_login_password" = "해당 메일의 비밀번호를 설정하세요. 비밀번호는 로그인 시 사용됩니다.";
"set_number_password" = "문자인증을 하면 동영상 내용에 동적 서명을 사용할 수 있습니다. 해당 휴대폰번호에 비밀번호를 설정하세요.";
"set_password" = "비밀번호 재설정";
"setting" = "설정";
"setting_avatar" = "이미지";
"setting_baseinfo" = "프로필";
"setting_receive_new_message" = "미리알림";
"setting_receive_new_message_description" = "게임내에 통지를 표시할지 여부를 설정해주세요";
"setting_receive_sounds" = "이펙트";
"setting_receive_sounds_description" = "소리 이펙트 컨트롤 on/off";
"setting_security" = "계정과 보안";
"share_failed" = "공유실패…";
"share_success" = "공유성공";
"share_to_sns" = "공유";
"sign_up_ktplay" = "회원가입";
"sign_up_now" = "바로 회원가입";
"signature" = "서명 사용";
"skip" = "스킵";
"skip_security_verification" = "인증포기";
"slide_up_to_cancel" = "위로 밀면 취소할 수 있습니다";
"sms_canceled" = "문자초대를 취소했습니다";
"sms_error" = "전송실패";
"sms_invitation_placeholder" = " %@(을)를 다운로드하고 함께 플레이해요. 다운로드 주소：%@ 나의 닉네임：%@";
"sms_sucess" = "초대문자를 발송했습니다";
"sns" = "SNS";
"sns_authorize_failed" = "연동실패";
"sns_friends_limitation" = "SNS제한으로 인해 일부 친구 정보만 획득할 수 있습니다";
"sns_friends_playing" = " %@(을)를 플레이 중인 친구";
"sns_share_placeholder" = "%@에 토론내용을 공유했습니다%@";
"suggested_for_you" = "유저님을 위한 추천";
"suggestion" = "솔루션";
"sure_delete_conversation" = "당신은 확인이 대화를 삭제할 있습니까? 일단 모든 채팅 기록을 사용할 수없는 것입니다 삭제합니다.";
"system_support" = "해당 디바이스 시스템은 동영상을 플레이할 수 없습니다.";
"t_email_signature" = "메일 입력";
"t_number_signature" = "휴대폰번호 인증하기";
"take_screenshot" = "게임화면 캡처하기";
"terms_agreement" = "로그인 혹은 회원가입을 하면 KTplay의<a>이용약관</a>을 수락 및 동의했음을 의미하고 동시에 13세 이상임을 확인할 수 있습니다.";
"terms_and_privacy" = "유저이용약관";
"time_day" = "일";
"time_format_hour" = " %@시간 전";
"time_format_justnow" = "방금전";
"time_format_last_year" = "yyyy-MM-dd";
"time_format_minutes_ago" = "%@분 전";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "yyyy-MM";
"time_format_year_month_day" = "yyyy년MM월dd일";
"time_format_yesterday" = "어제";
"time_month" = "월";
"time_year" = "년";
"tip_addfriends_now" = "친구를 추가하세요!";
"tip_addfrinds_from_different_types" = "게임중 친구를 바로 찾아줍니다";
"tip_bind_email" = "메일주소를 설정하세요. 메일주소는 로그인, 비밀번호 재설정 시 사용됩니다.";
"tip_change_nickname" = "이 이름은 다른유저가 확인할 수 있고 유저님을 알 수 있는 친구들이 유저님을 찾는데 도움이 될 수 있습니다";
"tip_chat_service_issue" = "채팅서버가 혼잡합니다. 잠시후 재시도하세요...";
"tip_chattype_audio" = "음성";
"tip_chattype_image" = "이미지";
"tip_message_blocked" = "상대방 유저가 메시지 수락을 거절했습니다";
"tip_reply_locked" = "게시물이 잠금상태입니다";
"tip_resetpassword_with_email" = " %@(으)로 비밀번호 재설정 메일을 전송하였습니다";
"tip_select_chat_friend" = "채팅기능을 지원하지 않는 클라이언트 버전을 가지고 있는 친구는 표시되지 않습니다";
"title_optional" = "제목을 입력하세요";
"to_enter_email" = "메일을 연동하면 동영상 동적 서명을 사용할 수 있습니다. 연동된 메일은 변경할 수 없습니다!";
"to_verify_number" = "문자인증을 하면 동영상 내용에 동적 서명을 사용할 수 있습니다.";
"today" = "오늘";
"top_Influencers" = "커뮤니티 명인";
"top_collections" = "테마";
"topic_count" = "게시물 %@";
"topic_create" = "생성하기";
"topic_details" = "게시물";
"topic_reply" = "댓글";
"topic_share" = "최신 공유 %@(이)가";
"topic_task_limit" = "최대 %@개 게시물을 동시에 올릴 수 있습니다. 마이페이지-임시 보관함에 저장되었습니다";
"topics" = "게시물";
"try_again" = "한번 더";
"try_verify_email_signature" = "1회에 한해 무료로 테스트 가능합니다.<a>메일을 연동하면</a>영구사용 가능합니다!";
"try_verify_number_signature" = "1회에 한해 무료로 테스트 가능합니다. <a>휴대폰 번호를 연동하면</a>영구사용 가능합니다!";
"unable_to_record" = "녹음할 수 없습니다";
"unblock" = "차단해제";
"unfollow" = "관심 취소";
"unfollow_this_player" = "해당 유저에 관심을 취소하시겠습니까?";
"unsupported_chat_message_type" = "현재 KTplay버전은 해당 메시지 확인하기를 지원하지 않습니다";
"update_failed" = "실패";
"update_success" = "성공";
"updates_created_topic" = "게시물을 작성했습니다";
"updates_liked_content" = "게시물에 좋아요를 눌렀습니다";
"updates_liked_reply" = "댓글에 좋아요를 눌렀습니다";
"updates_replied_topic" = "댓글을 보냈습니다";
"upload_failed_part" = "유저님은 %@개의 내용을 게시하는데 실패했습니다. 내용은 마이페이지-임시 보관함에 저장되었습니다";
"upload_from_album" = "갤러리에서 업로드";
"user_profile" = "유저정보";
"user_received_likes" = "좋아요";
"username" = "유저 ID";
"userprofile_no_likes_received" = "아직 이 유저는 좋아요를 받지 못했습니다";
"userprofile_no_topics_created" = "해당 유저는 아무 내용도 게시하지 않았습니다";
"users_friends" = "친구";
"using_test" = "테스트 사용";
"v_email_signature" = "메일 입력";
"v_number_signature" = "휴대폰번호 인증하기";
"verification_code" = "인증코드";
"verification_code_sent" = "인증코드를 전송했습니다. 메시지를 확인하세요";
"verification_email" = "인증메일이 발송되었습니다. 24시간 이내에 메일함을 인증해주세요. 그렇지 않으면 KTplay의 일부 서비스를 계속해서 사용할 수 없습니다";
"verification_email_send" = "인증메일을 받고 24시간 이내에 메일함을 인증해주세요. 그렇지 않으면 KTplay의 일부 서비스를 계속해서 사용할 수 없습니다. 주의 : 당신이 그것을 확인하기 전에 당신은 당신의 이메일 주소를 변경할 수 있습니다. 이메일 주소가 변경되면 KTplay에 로그인 할 새로운 이메일 주소를 사용해야합니다.";
"verify_confirm_no" = "서명을 사용하지 않습니다";
"verify_confirm_yes" = "지금연동";
"verify_email_signature" = "<a>메일을 연동해야</a>사용할 수 있습니다!";
"verify_mobile" = "문자인증을 통해 보상을 받으세요";
"verify_mobile_password" = "문자인증을 통해 보상을 받고 해당 휴대폰 번호의 비밀번호를 설정하세요.";
"verify_number_signature" = "<a>휴대폰번호를 연동해야</a>사용할 수 있습니다!";
"video" = "동영상";
"video_and_images" = "이미지와 동영상을 동시에 올릴 수 없습니다.";
"video_exceed" = "동영상은 %@MB이상 혹은 %@분을 초과할 수 없습니다";
"video_exceed_to" = "게시하려는 동영상은 %@MB이상, %@분 이하여서는 안됩니다.";
"video_less" = "죄송합니다. 동영상은 %@초 이하여서는 안됩니다";
"video_prefix" = "동영상";
"video_processed" = "동영상 처리 중...";
"video_signature_title" = "서명";
"video_size" = "해당 동영상 크기는 %@MB입니다.";
"videos" = "핫 동영상";
"views" = "보기";
"vote" = "투표";
"vote_expired" = "투표가 마감되었습니다!";
"vote_is_ongoing" = "[투표] 을 진행 중입니다! %@의 사용자가 투표";
"vote_now" = "지금투표!";
"vote_thank" = "투표해주셔서 감사합니다!";
"voted" = "투표완료";
"warning_block_chatuser" = "채팅창에서 %@(을)를 차단하시겠습니까?";
"warning_clear_all_messages" = "모든 메일을 삭제하시겠습니까?";
"warning_complete_email" = "계정 보안을 위해 메일주소를 입력하시겠습니까?";
"warning_complete_login_method" = "다른 유저들과 소통하고 게임을 할 수 있는 KTplay 계정을 생성하시겠습니까?";
"warning_complete_phonenumber" = "계정보안을 강화하기 위해 휴대폰과 연동하시겠습니까?";
"warning_delete_content" = "내용을 삭제하시겠습니까?";
"warning_delete_friend" = " %@님과의 친구를 해제하시겠습니까?";
"warning_has_integration_issue" = "미해결된 연동문제가 있습니다";
"warning_report_reply" = "게시물 내용을 신고하시겠습니까?";
"warning_retrieve_password_after_login_failure" = "로그인 실패";
"warning_same_oldpassword_and_newpassword" = "신규 비밀번호는 기존 비밀번호와 같아서는 안됩니다";
"warning_security_verification_times" = "연속 2회 인증실패 시 24시간 후에 다시 보안인증을 진행할 수 있습니다";
"warning_unblock_chatuser" = "채팅창에서 %@에 대한 차단을 해제하시겠습니까?";
"warning_using_testapp" = "테스트 앱을 사용하고 있습니다";
"whats_hot" = "집단";
"write_bio" = "개인사인 만들기!";
"you_might_like" = "유저님이 좋아할만한 것";
"you_rank" = "랭킹#%@";
"you_rank_lower" = "랭킹#%@·이 비교적 낮은%@%";
"you_rank_top" = "랭킹#%@·이 비교적 높은%@%";
