

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24時間";
"HD" = "HD";
"SD" = "SD";
"about_Influence" = "影響力点数について";
"accept" = "承認";
"accept_friendrequest_success" = "承認しました";
"access_appstore" = "App Storeへ接続しています…";
"account_adm" = "ADM";
"account_be_bound" = "ユーザは既にバインドしました";
"account_mod" = "MOD";
"active_players" = "アクティブプレーヤー";
"ad" = "広告 by";
"ad_download" = "ドウンロード";
"ad_open" = "詳細";
"add" = "追加";
"add_as_friend" = "友達を追加";
"add_friends" = "友達になる";
"admin" = "管理員";
"all" = "全て";
"all_players" = "影響ランク";
"all_time" = "総合";
"all_topics" = "最新";
"app_settings" = "アプリ設定";
"app_version_support" = "申し訳ございません、アプリのバージョンはビデオをサポートしません 。";
"back" = "戻る";
"bind_email" = "メールアドレスを関連";
"bind_phonenumber" = "携帯電話番号を設定";
"binding_email_to" = "メールアドレスを設定した後、パスワードのリセット、ギフトの受け取り及びパーソナライズな機能が利用可能になる、設定したメールアドレスは修正不可になります。";
"binding_number_password_to" = "携帯番号とパスウードを設定した後、パスワードのリセット、ギフトの受け取り及びパーソナライズな機能が利用可能になる。";
"binding_number_to" = "携帯番号を設定した後、パスワードのリセット、ギフトの受け取り及びパーソナライズな機能が利用可能になる。";
"bio" = "自己紹介";
"birthday" = "生年月日";
"block_chat" = "ブロックリストを管理";
"block_private_chat" = "フォロー済のフォロワーユーザーからメッセージのみを受信";
"blocked_account" = "あなたのアカウントがブロックされています。";
"blocked_list" = "ブロックリスト";
"blocked_list_placeholder" = "ブロックリストに誰も追加されていません。";
"camera" = "カメラロール";
"campaign_remain" = "余り：";
"campaign_rewards" = "ギフト：";
"campaign_share_Collections" = "「イベント」シェアすると、ギフトを取りましょう!";
"campaign_share_topic" = "「イベント」シェアすると、ギフトを取りましょう!";
"can_not_video" = "ビデオをアップロードできません。";
"cancel" = "キャンセル";
"cannot_like_yourself" = "あなたは、自分のコンテンツに「いいね！」することはできません";
"cannot_message_unless" = "お互いフォローしたユーザーのみ、メッセージを送信できます";
"cannot_report_yourself" = "自分のコンテンツを報告することはできません";
"card_view" = "標準表示";
"categories" = "カテゴリ";
"change_gender" = "性別を変更する";
"change_next_group" = "リフレッシュ";
"change_password" = "変更する";
"change_signature" = "ビデオサインを変更";
"chat" = "メッセージ";
"chat_now" = "チャットをはじめしましょう!";
"chat_session_placeholder_description" = "友達を選択して、チャットを始めましょう";
"chat_session_placeholder_title" = "ゲームの友達とチャットを始めましょう!";
"claim" = "受け取る";
"claimed" = "取り済み";
"clear" = "クリア";
"clear_search_history" = "検索履歴をクリア";
"click_email_signature" = "メールアドレスを関連";
"click_number_signature" = "携帯電話番号を関連";
"collection" = "テーマ";
"community" = "投稿";
"community_version" = "Community · v%@";
"complete_email" = "メールアドレスを設定";
"complete_profile" = "ほかの人と知り合うことができるように、プロフィール設定を完成しなさい。";
"complete_security_setting" = "このセキュリティ情報はパスワードのリセットに使用されます";
"complete_user_profile" = "ユーザー情報の設定";
"confirm" = "確認";
"confirm_clear_search" = "検索履歴をクリアしますか？";
"confirm_to_complete_security_setting" = "新規";
"confirm_to_logout" = "いいえ、ありがとう";
"confirm_yes" = "はい";
"connection_failed" = "ネットワークエラー、サーバへアクセスできません";
"connection_timeout" = "ネットワークエラー、サーバへアクセスできません";
"contactbook_error_one" = "システムの設定で、このアプリが連絡先へのアクセスを許可すると、連絡先の友達に一緒にゲームをプレーすることができます";
"contacts" = "連絡先";
"contacts_friends" = "連絡先";
"contacts_players_prompt" = "連絡先で当ゲームのプレーヤーを見つけよう";
"content_already_removed" = "おっとっと！投稿は削除されている…";
"copy" = "コピー";
"create_nickname" = "ニックネームを作成";
"create_reply" = "返信する";
"create_signature" = "ビデオサインを追加";
"create_topic" = "投稿";
"create_topic_success" = "成功しました";
"create_username" = "ユーザー名を設定";
"create_username_tip" = "ユーザー名は1回しか修正できません。ユーザー名を利用して、KTplayにログインできます。";
"delete" = "削除";
"delete_conversation" = "会話を削除";
"delete_favorite" = "お気に入りを取り消す";
"delete_friend" = "友達関係を解除";
"deny_friendrequest_success" = "拒否しました";
"description" = "エラーメッセージ";
"development_mode" = "開発モード";
"distance_kilometer" = "km";
"distance_meter" = "m";
"distance_pattern" = "%@%@";
"done" = "完了";
"drafts" = "下書き";
"edit" = "編集";
"email" = "メールアドレス";
"email_already_registered" = "このメールアドレスはKTplayにおいて既に登録されているようです、別のメールアドレスを入力してください 。";
"email_or_username" = "メールアドレスまたはユーザー名";
"email_unverified" = "未確認";
"enable_location_service" = "「%@」が連絡先へのアクセスを許可するには、「設定」ー＞「ライバシー」ー＞「連絡先」";
"enable_microphone_permission" = "このアプリにマイクのアクセスを許可するには、デバイスメニューの：「設定」ー「プライバシー」ー「マイク」";
"enter" = "入る";
"enter_email" = "メールアドレスとパスワードを設定しなさい。";
"enter_email_reward" = "ギフトを受け取るためには、メールに入りなさい。いったんにそれセットを保存したら、変更できなくなります。";
"enter_number" = "携帯電話番号を入力し、確認用の認証コードをSMSで送信します";
"error" = "エラー";
"error_150001" = "エラー (150001)";
"error_150002" = "エラー (150002)";
"error_150003" = "エラー (150003)";
"error_150004" = "エラー (150004)";
"error_150005" = "エラー (150005)";
"error_150101" = "エラー (150101)";
"error_150102" = "エラー (150102)";
"error_integration" = "統合エラー";
"expansion_centent" = "さらに表示";
"failed_to_record" = "録音失敗";
"favorite" = "お気に入り";
"favorite_success" = "お気に入りを追加済";
"feature_disabled" = "機能%@を利用不可で設定しました：%@";
"featured_topics" = "注目の投稿";
"female" = "女";
"field_username" = "ユーザー名";
"follow" = "フォローする";
"follow_success" = "フォローしました";
"followers" = "フォロワー";
"following" = "フォロー中";
"following_each_other" = "フォロー中";
"forget_password" = "パスワードを忘れているか？";
"friend_requests" = "友達リクエスト";
"friend_requests_sent" = "友達追加リクエストはもう送り済み";
"friend_requst_placeholder" = "私はあなたの友達になりたい";
"friend_updates" = "友達の動き";
"friendrequest_waitfor_acception" = "リクエストを送信済み";
"friends" = "友達";
"friends_from_other_games" = "他のゲームからの友達";
"friends_playing_game" = "%@をプレーしている";
"friends_symbol" = "友達";
"friendship_created_session_for_receiver" = "あなたは %@の友達になりました、今すぐチャットを始めましょう!";
"friendship_created_session_for_sender" = "友達になりました、チャットを始めましょう!";
"gender" = "性別";
"get_location_failed" = "位置情報データを取得できません";
"get_location_permission" = "システムの設定で、このアプリが位置情報へのアクセスを許可すると、近くいるの友達に一緒にゲームをプレーします";
"get_verification_code" = "リクエスト";
"go" = "詳細";
"have_not_view_topic" = "あなたは、任意のトピックを見ていません...";
"have_not_visit_user" = "ユーザーのプロフィールにアクセスしていません…";
"have_reported" = "該当するメッセージを報告しました";
"header_background" = "ヘッダー画像";
"highest_growth" = "最高の成長ユーザー";
"hold_to_record" = "押したまま話す";
"hot_searches" = "人気の検索";
"i_know" = "了解";
"in_development" = "This app is in development mode. Currently you are using App Key and Secret of a TEST App.
Before You release your app to Market. You must to get the App Key and Secrct (for Release) by \"Integrating Finished\" on KTplay Developer website. Then replace it in your project.";
"in_process" = "処理中...%@";
"in_review" = "審査中";
"in_reviewing" = "審査中…";
"inbox" = "メッセージ";
"incorrect_phonenumber" = "正しい携帯電話番号を入力してください";
"incorrect_server_url" = "サーバーアドレスエラー";
"increase_influence" = "あなたのコミュニティ影響力をアップするため、面白いコンテンツを投稿し、フォロワーを獲得しましょう！";
"influence" = "影響力";
"influence_points" = "影響力点数";
"influence_rank" = "影響力ランキング";
"influencers" = "インフルエンサー";
"inorrect_verification_code" = "ただしくない認証コード";
"input_email" = "メールアドレスを入力してください";
"input_newpassword" = "新しいのパスワード";
"input_nickname" = "ニックネームを作成";
"input_oldpassword" = "現在のパスワード";
"input_redeem_code" = "クーポンコードを入力";
"input_username" = "ｍ";
"invalid_email_format" = "有効なメールアドレスを入力してください。";
"invite" = "招待";
"invite_frinds_from_sns" = "SNSから友達リクエストを送信します";
"invite_more_players" = "友達を追加";
"invite_sns_friends_placeholder" = "私と一緒％の@をプレーしましょう。私のニックネームは次のとおりです。％@。";
"invite_to_be_friend" = "友達リクエストを送信";
"invited" = "リクエストを送り済み";
"ktplay_slogan" = " 情報· Q&A · 友達 ·ギフト";
"lastest_reply" = "最新返信：%@";
"like" = "いいね！";
"like_success" = "「いいね！」しました";
"likes" = "いいね！";
"likes_count" = "いいね！%@";
"limited_account_promption" = "アカウントがロックされています、%@後で、限制を解除します";
"link_login_with_phonenumber" = "携帯電話番号でログイン";
"link_register_with_phonenumber" = "携帯電話番号で登録する";
"link_register_with_username" = "ユーザー名で登録";
"list_view" = "リスト表示";
"loadmore" = "リフレッシュ";
"loadmore_pulling" = "リフレッシュ";
"locked" = "ロック済";
"login" = "ログイン";
"login_and_claim" = "ログインしてください";
"login_expired" = "あなたはログアウトしましたので、再度ログインしてください。";
"login_failed" = "ログイン失敗";
"login_first" = "申し訳ございません、まずはログインしてください。";
"login_or_register" = "登録またはログイン";
"login_start_conversation" = "他人のプロフィールにアクセスし、今彼らとチャットしましょう";
"login_success" = "%@さん 、ようこそ!";
"login_to_get_friends_updates" = "友達の最近アップデートを知るため、ログインしましょう!";
"login_to_ktplay" = "KTplayアカウントログイン";
"login_to_play_with_friends" = "ほかのプレーヤーと友達になりましょう!";
"login_welcome" = "%@さん 、ようこそ!";
"login_with_exists_account" = "アカウントを持ったか？ログインしよう。";
"login_with_other_accounts" = "別のアカウントを使う";
"login_with_phonenumber" = "ログイン";
"login_with_selected_account" = "アカウントを選択";
"login_with_sns" = "クイックログイン";
"login_with_username" = "ユーザー名でログイン";
"logout" = "ログアウト";
"male" = "男";
"manage_alert_highlight_text" = "投稿を人気フラグに付けますか？";
"manage_alert_highlight_title" = "投稿を人気する";
"manage_alert_insert_mainpage_text" = "投稿をホームに挿入しますか？";
"manage_alert_insert_mainpage_title" = "おすすめの投稿";
"manage_alert_lock_text" = "投稿をロックしますか？";
"manage_alert_lock_title" = "投稿をロック";
"manage_alert_move_text" = "カテゴリを変更しますか？";
"manage_alert_move_title" = "カテゴリを変更";
"manage_alert_quarantine_text" = "コンテンツを隔離しますか？";
"manage_alert_quarantine_title" = "コンテンツを隔離する";
"manage_alert_top_text" = "投稿をトップしますか？";
"manage_alert_top_title" = "トップする";
"manage_alert_unhighlight_text" = "投稿の人気フラグを取り消しますか？";
"manage_alert_unhighlight_title" = "人気を取り消す";
"manage_alert_unlock_text" = "投稿をアンロックしますか？";
"manage_alert_unlock_title" = "投稿をアンロック";
"manage_alert_untop_text" = "投稿のトップを取り消しますか？";
"manage_alert_untop_title" = "トップを取り消す";
"manage_button_highlight" = "人気";
"manage_button_lock" = "ロック";
"manage_button_quarantine" = "隔離";
"manage_button_top" = "トップ";
"manage_button_unhighlight" = "人気を取り消す";
"manage_button_unlock" = "ロック解除";
"manage_button_untop" = "トップを取り消す";
"manage_info" = "注意：ゲーム公式のアカウントからのコンテンツは管理できません。";
"manage_info_highlight" = "高価値の投稿に人気フラグを付けると、人気リストで表示できます。";
"manage_info_lock" = "投稿がロックされているの場合、返信できません、新着投稿があると、ロックされた投稿はどんどんリストの一番下になります。";
"manage_info_main_page_insert" = "ホームに投稿を挿入します。";
"manage_info_move_topic" = "投稿は任意設定したのカテゴリへ移動できます。";
"manage_info_quarantine" = "投稿を隔離すると、投稿リストから非表示になります。";
"manage_info_top" = "投稿は投稿リストの一番上に表示する。";
"manage_option_game_video" = "人気のビデオ";
"manage_option_hot_topics" = "人気の投稿";
"manage_option_recommended_photos" = "人気の写真";
"manage_title_main_page_insert" = "ホームページに挿入";
"manage_title_manage" = "管理";
"manage_title_move_topic" = "カテゴリを変更";
"max_of_photos" = "最大は%@件写真を選択する";
"me" = "本人";
"mobile_already_registered" = "この携帯番号はKTplayにおいてすでに登録されているようです、別の携帯番号を入力してください 。";
"more" = "もっと見る";
"more_collections" = "全てのテーマ";
"more_options" = "その他の操作";
"more_replies" = "また%@件返信があります";
"moregames" = "おすすめのゲーム";
"most_active_players" = "最もアクティブなプレーヤー";
"most_liked_players" = "人気のプレーヤー";
"my_friends" = "友達";
"my_topics" = "マイ投稿";
"myprofile_no_likes_received" = "まだ「いいね！」をもらっていません";
"myprofile_no_topics_created" = "まだ何もありません";
"nearby" = "周り";
"nearby_players_propmt" = "周りのプレーヤーを検索する";
"netwaok_unstable" = "ネットワークエラー、サーバへアクセスできません";
"network_unavailable" = "ネットワークエラー、サーバへアクセスできません";
"new" = "新着";
"new_chat" = "友達を選択";
"new_friend_invataion" = "あなたの友達になりたい";
"nickname" = "ニックネーム";
"no_chat_friends" = "チャットの相手を探すことができません";
"no_chat_yet" = "他人のプロフィールにアクセスし、今彼らとチャットしましょう";
"no_draft_yet" = "まだ何もありません";
"no_follower" = "まだフォロワーはいません";
"no_following" = "まだ誰をフォローしません";
"no_like_yet" = "まだ何もありません";
"no_messages" = "メッセージはありません…";
"no_more_collections" = "これ以上表示できません";
"no_more_drafts" = "これ以上表示できません";
"no_more_follower" = "これ以上表示できません";
"no_more_following" = "これ以上表示できません";
"no_more_like" = "これ以上表示できません";
"no_more_messages" = "これ以上表示できません";
"no_more_reply" = "これ以上表示できません";
"no_more_sns_friends_playing" = " %@からの新しいの友達リクエストはありません";
"no_more_topic" = "これ以上表示できません";
"no_more_update_yet" = "これ以上表示できません";
"no_permission_to_access_album" = "このアプリが写真へのアクセスを許可するには、「設定」ー＞「プライバシー」ー＞「写真」";
"no_record_yet" = "おっとっと！影響力点数を得る人はない。投稿を作成し、今日のチャンピオンになりましょう！";
"no_reply_yet" = "まだ何もありません";
"no_results" = "結果はありません";
"no_signature" = "ビデオサインなし";
"no_topic_yet" = "まだ何もありません";
"no_update_yet" = "まだ何もありません";
"no_video" = "まだ何もありません";
"no_wifi" = "発送リストに未送信のコンテンツがあります、送り続けるか？";
"not_binding" = "設定しない";
"not_following_anyone" = "おっとっと！あなたはまだ誰もフォローしていませんね！コミュニティ達人にフォローし、いくつかの達人の投稿を取得しましょう！";
"not_have_review" = "審査にはコンテンツがありません";
"not_in_group" = "グループに入っていない";
"not_now" = "一時停止";
"not_setting" = "設定しない";
"not_support_video" = "すみません、一時にビデオをアップロードできません。";
"notice_email_signature" = "パーソナライズなビデオサインを使用するためには、メールアドレスを関連しなさい";
"notice_number_signature" = "パーソナライズなビデオサインを使用するためには、携帯電話番号を関連しなさい";
"on_top" = "トップ";
"online_players" = "をプレーしている";
"original_reply" = "元の返信: ";
"original_topic" = "元の投稿: ";
"other_player" = "プレーヤー";
"other_popular_games" = "おすすめのゲーム";
"password" = "パスワード";
"password_placeholder" = "パスワード：半角英数字のみ";
"pattern_blocked_user" = "ブロックされた：%@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "返信: %@";
"phone_number" = "携帯電話番号";
"player_playing_games" = "プレーしているゲーム";
"players" = "ユーザー";
"players_already_claimed" = "これを見たプレーヤー達";
"players_around_you" = "周りのゲームプレーヤー";
"players_nearby" = "周りにいる人";
"players_topics" = "投稿";
"post_quickly" = "投稿頻度が早すぎるため、後で再試行して下さい";
"powered_by" = "Powered by";
"privacy" = "プライバシー";
"profile_complete_setting" = "注意：携帯電話番号またはメールアドレスを設定すると、パスワードをリセットできます";
"profile_reply" = "返信";
"promoted" = "推薦";
"promoted_download" = "ドウンロード";
"publish_content_placeholder" = "なにを言いたいか？";
"pull_refresh" = "プルダウンでリフレッシュしてください";
"pullrefresh_last_updated" = "最近のアップデート";
"pullrefresh_loading" = "更新中…";
"pullrefresh_release" = "離す新しいの情報をえる";
"pullrefresh_update" = "更新";
"quick_login" = "クイックログイン";
"quicklaunch_netlogged" = "未登録です、まずはログインしてください";
"quicklaunch_register" = "もっとコミュニティの機能を体験したい、まずは登録して下さい！";
"quicklaunch_relogin" = "以下をクリックすると、再度接続します。";
"rank" = "順位";
"rank_number" = "#%@";
"read_more" = "さらに表示";
"received_likes" = "いいね！ %@";
"recent_searches" = "最近検索";
"recent_viewed" = "最近の閲覧";
"recommended" = "おすすめの写真";
"recommended_friends" = "おすすめの友達";
"recommended_topics" = "人気";
"record_error_short" = "メッセージが短すぎます";
"redeem" = "交換";
"redeem_code" = "クーポンコード";
"register" = "登録";
"register_with_phonenumber" = "登録";
"registerview_email" = "ニックネームを作成";
"release_to_cancel" = "離すと取り消し";
"release_to_send" = "離すと送信する";
"relogin" = "再ログイン";
"remain_format_day" = "%@日";
"remain_format_day_hour" = "%@日%@時間";
"remain_format_hour" = "%@時間";
"remain_format_min" = "%@分";
"replay_pattern" = "返信: %@";
"replies_count" = "返信  %@";
"reply_and_likes" = "返信%@ | いいね！ %@";
"reply_details" = "返信";
"reply_me" = "返信しました";
"reply_notify" = "お知らせ";
"reply_success" = "成功しました";
"reply_to" = " %@さんに返信しました";
"report" = "報告";
"report_content" = "コンテンツを報告";
"report_submitted_description" = "ありがとうございます。あなたの報告は受理中です、結果おわかり次第、あなたにメッセージで送信します。";
"report_success" = "報告済";
"request_failed" = "申し訳ございません、ロード失敗でした…";
"request_img_failed" = "写真を表示できません";
"require_content" = "タイトル或いはコンテンツは必要である";
"resend" = "再送";
"resend_email" = "検証用のメールを送信";
"reset" = "再設定する";
"reset_enter_username_with_email" = "メールアドレスまたはユーザー名";
"reset_enterusername" = "メールアドレスまたはユーザー名でパスワードを再設定してください";
"reset_password" = "パスワードを再設定する";
"reset_password_email_failure" = "申し訳ございません、アカウント %@はメールアドレスが設定されないため、パスワードをリセットできません";
"reset_password_failure" = "申し訳ございません、アカウント%@は携帯電話番号またはメールアドレスが設定されないため、パスワードを再設定できません";
"reset_password_with_email" = "メールアドレスを利用してパスワードを再設定する";
"reset_password_with_phonenumber" = "携帯電話番号を利用してパスワードを再設定する";
"resetpassword_email_sent" = "パスワードを再設定するため、メールアドレスを確認してください";
"retrieve_password" = "KTplayアカウントを探す ";
"reward" = "ギフト";
"reward_claimed" = "取り済み";
"reward_expired" = "申し訳ございません、ギフトは期限切れになりました。あなたの参加を感謝します！";
"rising_topics" = "急上昇投稿";
"rule_email_or_nickname" = "メールアドレスまたはユーザー名を入力し、ユーザー名は半角英数字です。";
"rule_nickname_length" = "ニックネームは1-128文字です。";
"rule_password" = "パスワード：半角英数字のみ";
"rule_password_character" = "パスワードは半角英数字です。";
"rule_username_character" = "ユーザー名は英数字しか使えません";
"rule_username_length" = "ユーザー名は2-30文字の英数字です。";
"save_draft" = "「本人」ー「下書き」に保存しました。";
"save_gallery" = "カメラロール";
"say_hello" = "ご挨拶";
"say_hello_to" = "彼/彼女に挨拶しましょう！";
"search" = "検索";
"search_friend_noresults" = "結果はありません";
"seconds_countdown" = "%@ 秒";
"security_verification" = "セキュリティ確認";
"security_verification_failure_times" = "確認失敗 %@/%@";
"security_verification_pass" = "確認成功";
"security_verification_prompt" = "下記ゲームリストに、プレーしたKTplayプラットフォームのゲームが含まれる、あなたのアカウントを確認するために、それを選択してください。";
"see_all" = "一覧で見る";
"see_more_replies" = "もっと返信を見る";
"see_rank" = "ランキングを見る";
"selecet_a_topic" = "一つ投稿を選択する";
"select_albums" = "アルバムを選択";
"select_country" = "地域を選択";
"select_friend" = "友達を選択";
"select_photo" = "写真を選択";
"select_report_reason" = "理由を選択";
"select_topic_category" = "カテゴリを選択する";
"select_video" = "ビデオを選択";
"send" = "送る";
"send_email" = "送信済";
"send_email_limit" = "%@ 分経過する必要があります。";
"send_invitation" = "友達になる";
"sending" = "送信中";
"server_error" = "サーバーエラー (%@)";
"set_login_password" = "アカウントのパスワードを設定しなさい。";
"set_number_password" = "ギフトを取るためには、SMSで送信した認証コードを入りなさい、パスワードの設定もお忘れないよう。";
"set_password" = "パスワードを変更";
"setting" = "設定";
"setting_avatar" = "プロフィール写真";
"setting_baseinfo" = "マイプロフィール";
"setting_receive_new_message" = "お知らせ";
"setting_receive_new_message_description" = "ゲーム内に通知を表示";
"setting_receive_sounds" = "音声";
"setting_receive_sounds_description" = "アプリの音";
"setting_security" = "セキュリティ設定";
"share_failed" = "シェアエラー…";
"share_success" = "シェアしました";
"share_to_sns" = "シェア";
"sign_up_ktplay" = "登録";
"sign_up_now" = "登録";
"signature" = "ビデオサイン";
"skip" = "スキップ";
"skip_security_verification" = "確認をスッキプ";
"slide_up_to_cancel" = "上にスクロールで取り消し";
"sms_canceled" = "送信を取り消し";
"sms_error" = "送信を失敗した";
"sms_invitation_placeholder" = " %@をダウンロードし、私と一緒にプレーしてみましょう。ダウンロードURLは％@です、私のニックネームは％@です。";
"sms_sucess" = "SMSで送信しました";
"sns" = "SNS";
"sns_authorize_failed" = "認証は失敗しました";
"sns_friends_limitation" = "SNSの規約によって、一部の友達だけを取得します。";
"sns_friends_playing" = "%@をプレーしているの友達";
"sns_share_placeholder" = "私は、%@の中で、投稿%@をシェアしています。";
"suggested_for_you" = "おすすめ";
"suggestion" = "解決方法";
"sure_delete_conversation" = "この会話を削除しますか？会話を削除すると、全てのチャットの履歴がクリアされた、アクセスできなくになります。";
"system_support" = "申し訳ございません、現在のバージョンはビデオをサポートしません 。";
"t_email_signature" = "レジスター";
"t_number_signature" = "レジスター";
"take_screenshot" = "スクリーン ショットを取る";
"terms_agreement" = "アカウント登録またはログインを押すと、KTplay的<a>利用規約とプライバシー</a>に同意する事になります、かつあなたの年齢は13才を超えています。";
"terms_and_privacy" = "利用規約とプライバシー";
"time_day" = "日";
"time_format_hour" = "%@時間前";
"time_format_justnow" = "たった今";
"time_format_last_year" = "yyyy-MM-dd";
"time_format_minutes_ago" = "%@分前";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "yyyy-MM";
"time_format_year_month_day" = "yyyy年MM月dd日";
"time_format_yesterday" = "昨日";
"time_month" = "月";
"time_year" = "年";
"tip_addfriends_now" = "友達を探そう!";
"tip_addfrinds_from_different_types" = "今、ゲームに他のプレーヤを見つけましょう。";
"tip_bind_email" = "メールアドレスを設定した後、この情報はログインとパスワードのリセットに使用されます";
"tip_change_nickname" = "この名前を利用して、ほかのプレーヤーはあなたを探すことができます。";
"tip_chat_service_issue" = "サービスは忙しいです、後で再度試してください…";
"tip_chattype_audio" = "ボイス";
"tip_chattype_image" = "イメージ";
"tip_message_blocked" = "メッセージは拒否された";
"tip_reply_locked" = "投稿はロックされました";
"tip_resetpassword_with_email" = "パスワードを再設定するため、メールアドレス %@ へ送信しました";
"tip_select_chat_friend" = "チャット機能なく、古いKTplayバージョンを使っている友達は、ここに表示されない。";
"title_optional" = "タイトルを入力してください";
"to_enter_email" = "パーソナライズなビデオサインを使用するためには、メールアドレスを入りなさい。いったんにそれセットを保存したら、再度変更できなくになります。";
"to_verify_number" = "パーソナライズなビデオサインを作成するためには、SMSで送信した認証コードを入りなさい";
"today" = "今日";
"top_Influencers" = "コミュニティ達人";
"top_collections" = "テーマ";
"topic_count" = "投稿　%@";
"topic_create" = "投稿";
"topic_details" = "投稿";
"topic_reply" = "返信";
"topic_share" = "最新のシェア、%@から";
"topic_task_limit" = " 一回%@件内容を投稿できます、「本人」ー「下書き」に保存します";
"topics" = "投稿";
"try_again" = "再試行";
"try_verify_email_signature" = "1回だけ試用できますが、<a>メールアドレスを設定</a>すると、使用続きできます。";
"try_verify_number_signature" = "1回だけ試用できますが、<a>携帯番号を設定</a>すると、使用続きできます。";
"unable_to_record" = "録音できません";
"unblock" = "ブロックを解除";
"unfollow" = "フォロー解除";
"unfollow_this_player" = "フォロー解除をしますか？";
"unsupported_chat_message_type" = "KTplayの現在のバージョンは、この内容を表示することができません";
"update_failed" = "操作失敗しました";
"update_success" = "操作成功しました";
"updates_created_topic" = "投稿しました";
"updates_liked_content" = "「いいね！」しました";
"updates_liked_reply" = "「いいね！」しました";
"updates_replied_topic" = "返信しました";
"upload_failed_part" = " %@件の投稿は失敗しました、「本人」ー「下書き」に保存します";
"upload_from_album" = "写真アルバムを選ぶ";
"user_profile" = "プロフィール";
"user_received_likes" = "いいね！";
"username" = "ユーザー名";
"userprofile_no_likes_received" = "まだ「いいね！」をもらっていません";
"userprofile_no_topics_created" = "まだ何もありません";
"users_friends" = "友達";
"using_test" = "使用テスト";
"v_email_signature" = "メールアドレスを確認してください";
"v_number_signature" = "携帯番号を確認してください";
"verification_code" = "認証コード";
"verification_code_sent" = "認証コードをSMSで送信しました、確認してください";
"verification_email" = "確認用メールを送りました、次の24時間の中に確認してください。
そうでなければ、KTplayの部分サービスを使用に影響があります。";
"verification_email_send" = "確認用メールを送ります、次の24時間の中に確認してください。そうでなければ、KTplayの部分サービスを使用に影響があります。注意：あなたはそれを確認する前に、あなたのメールアドレスを変更することができます。メールアドレスが変更されたら、KTplayにログインするために、最新の電子メールアドレスを使用する必要があります。";
"verify_confirm_no" = "いいえ";
"verify_confirm_yes" = "はい";
"verify_email_signature" = "<a>メールアドレスを設定</a>すると、使用続きできます。";
"verify_mobile" = "ギフトを取るためには、SMSで送信したの認証コードを入りなさい。";
"verify_mobile_password" = "ギフトを取るためには、SMSで送信したの認証コードを入りなさい、パスワードの設定もお忘れないよう。";
"verify_number_signature" = "<a>携帯番号を設定</a>すると、使用続きできます。";
"video" = "ビデオ";
"video_and_images" = "ビデオとイメージを同時にアップロードできない。";
"video_exceed" = "申し訳ございません、ビデオの時間またはサイズは上限を超えている";
"video_exceed_to" = "申し訳ございません、ビデオは最大サイズ：%@MBまたは時長：%@ 分を超えられない。";
"video_less" = "申し訳ございません、ビデオのサイズは%@ 秒より短いとだめ。";
"video_prefix" = "ビデオ";
"video_processed" = "ビデオ処理中…";
"video_signature_title" = "サイン";
"video_size" = "ビデオサイズは%@MBであり。";
"videos" = "人気のビデオ";
"views" = "読み";
"vote" = "投票";
"vote_expired" = "投票は期限切れになった！";
"vote_is_ongoing" = "[投票] は進行中である！%@人は参加しました。";
"vote_now" = "今すぐ投票しましょう！";
"vote_thank" = "あなたの投票を感謝します！";
"voted" = "投票済";
"warning_block_chatuser" = "%@をブロックしますか？";
"warning_clear_all_messages" = "すべてのメッセージを消去しますか？";
"warning_complete_email" = "メールアドレスを入力して、セキュリティ設定を完成しますか？";
"warning_complete_login_method" = "他のゲームのプレーヤーと対話できるように、ゲームKTplayアカウントを作成しますか？
";
"warning_complete_phonenumber" = "携帯電話番号を設定して、セキュリティ設定を完成しますか？";
"warning_delete_content" = "コンテンツを削除しますか？";
"warning_delete_friend" = "あなたは %@と友達関係を解除しますか？";
"warning_has_integration_issue" = "解決待ちの問題があります";
"warning_report_reply" = "投稿を報告しますか？";
"warning_retrieve_password_after_login_failure" = "ログイン失敗";
"warning_same_oldpassword_and_newpassword" = "新しいパスワードは現在のパスワードと同じにできません";
"warning_security_verification_times" = "確認が二度失敗の場合は、次回の確認は24時間待機する必要があります。";
"warning_unblock_chatuser" = "チャットに%@のブロックを解除しますか？";
"warning_using_testapp" = "テストアプリを使用している";
"whats_hot" = "コミュニティ";
"write_bio" = "自己紹介を作成しましょう！";
"you_might_like" = "興味があるかも";
"you_rank" = "順位#%@";
"you_rank_lower" = "ランキング:#%@·低い順位の%@%";
"you_rank_top" = "ランキング:#%@·トップ順位の %@%";
