

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24س ";
"HD" = "وضوح عالي ";
"SD" = "وضوح عادي ";
"about_Influence" = "عن نقاط المؤثرين ";
"accept" = "قبول ";
"accept_friendrequest_success" = "تمت الموافقة ";
"access_appstore" = "الاتصال بالمتجر... ";
"account_adm" = "الأدمن ";
"account_be_bound" = "تم إعتماد هذا الحساب مسبقاً ";
"account_mod" = "مشرف ";
"active_players" = "المستخدمين النشطين ";
"ad" = "إعلان عن طريق ";
"ad_download" = "تحميل ";
"ad_open" = "التفاصيل ";
"add" = "إضافة ";
"add_as_friend" = "إضافة صديق ";
"add_friends" = "إضافة الأصدقاء ";
"admin" = "الأدمن ";
"all" = "الكل ";
"all_players" = "مراتب المؤثرين ";
"all_time" = "طوال الوقت ";
"all_topics" = "الأحدث ";
"app_settings" = "إعدادات التطبيق ";
"app_version_support" = "عذراً.  نسخة التطبيق لا تدعم الفيديو. ";
"back" = "عودة ";
"bind_email" = "البريد الإلكتروني المربوط ";
"bind_phonenumber" = "رقم الهاتف ";
"binding_email_to" = "قم بربط الحساب بالبريد الإلكتروني لإعادة تعيين كلمة المرور والحصول على المكافآت والإستفادة من الخاصيات المتميزة، لا يمكنك تغيير البريد الإلكتروني بعد حفظ الإعدادات. ";
"binding_number_password_to" = "قم بربط الحساب بالبريد الإلكتروني لإعادة تعيين كلمة مرور تسجيل الدخول والحصول على المكافآت والإستفادة من الخاصيات المتميزة. ";
"binding_number_to" = "قم بربط الحساب بالبريد الإلكتروني لإعادة تعيين كلمة مرور تسجيل الدخول والحصول على المكافآت والإستفادة من الخاصيات المتميزة. ";
"bio" = "السيرة الذاتية ";
"birthday" = "تاريخ الميلاد ";
"block_chat" = "حظر في الدردشة ";
"block_private_chat" = "حظر الدردشة إلا في حال المتابعة ";
"blocked_account" = "عذراً.  تم حظر حسابك ";
"blocked_list" = "قائمة الحظر ";
"blocked_list_placeholder" = "لم تقم بحظر أي شخص ";
"camera" = "أليوم الكاميرا ";
"campaign_remain" = "الوقت المتبقي:  ";
"campaign_rewards" = "المكافآت:  ";
"campaign_share_Collections" = "[فعّالية] شارك واحصل على المكافآت! ";
"campaign_share_topic" = "[فعّالية] شارك واحصل على المكافآت! ";
"can_not_video" = "لا يمكنك تحميل أي فيديو من محتوياتك حالياً. ";
"cancel" = "إلغاء";
"cannot_like_yourself" = "لا يمكنك الإعجاب بمنشوراتك ";
"cannot_message_unless" = "لايمكنك ارسال رسالة إلا بعد متابعة بعضكم البعض ";
"cannot_report_yourself" = "لا يمكنك الإبلاغ عن مشوراتك ";
"card_view" = "عرض بشكل بطاقات ";
"categories" = "التصنيفات ";
"change_gender" = "تعديل الجنس ";
"change_next_group" = "تحديث ";
"change_password" = "تغيير ";
"change_signature" = "تغيير الفيديو حسب الطلب ";
"chat" = "الرسائل ";
"chat_now" = "دردش الآن ";
"chat_session_placeholder_description" = "تواصل بشكل فوري مع الأخرين ";
"chat_session_placeholder_title" = "دردشة داخل التطبيق ";
"claim" = "تحصيل ";
"claimed" = "تم التحصيل ";
"clear" = "مسح ";
"clear_search_history" = "مسح السجل ";
"click_email_signature" = "أكمل إدخال عنوان بريدك الإلكتروني ";
"click_number_signature" = "تسجيل رقم الهاتف ";
"collection" = "المجموعات ";
"community" = "المواضيع ";
"community_version" = "المجتمع · %@v";
"complete_email" = "أدخل عنوان بريدك الإلكتروني ";
"complete_profile" = "قم بإكمال إعدادات ملفك الشخصي ليتمكن للآخرين من معرفتك بشكل أفضل. ";
"complete_security_setting" = "قم بوضع بريد إلكتروني لإستعادة كلمة المرور ";
"complete_user_profile" = "إعدادات المستخدم ";
"confirm" = "حسناً ";
"confirm_clear_search" = "هل أنت متأكد من مسح السجل؟  ";
"confirm_to_complete_security_setting" = "إنشاء ";
"confirm_to_logout" = "لا شكراً ";
"confirm_yes" = "نعم ";
"connection_failed" = "شبكة الإتصال غير مستفرة ";
"connection_timeout" = "شبكة الإتصال غير مستفرة ";
"contactbook_error_one" = "تم السماح لـ %@ بالوصول إلى قائمة جهات الإتصال لديك لتتمكن من التحدث مع جهات الإتصال خاصتك. ";
"contacts" = "جهات الإتصال ";
"contacts_friends" = "جهات الإتصال ";
"contacts_players_prompt" = "تحقق مَن مِن المستخدمين موجود بالفعل في جهات الاتصال الخاصة بك ";
"content_already_removed" = "عفواً! تم إزالة المحتوى...";
"copy" = "نسخ ";
"create_nickname" = "ضبط إسمك المستعار ";
"create_reply" = "رد ";
"create_signature" = "إنشاء توقيع فيديو ";
"create_topic" = "العنوان ";
"create_topic_success" = "تم إرسال المحتوى ";
"create_username" = "انشاء اسم مستخدم";
"create_username_tip" = "يمكن تعديل اسم المستخدم مرة واحدة فقط، يمكنك استخدام اسم المستخدم لتسجيل الدخول في KTplay ";
"delete" = "مسح ";
"delete_conversation" = "حذف المحادثة ";
"delete_favorite" = "مسح المفضلة ";
"delete_friend" = "إزالة صديق ";
"deny_friendrequest_success" = "تم الرفض ";
"description" = "وصف الخطأ ";
"development_mode" = "وضعية التطوير ";
"distance_kilometer" = "كم ";
"distance_meter" = "متر ";
"distance_pattern" = "%@%@ ";
"done" = "تم";
"drafts" = "المسودة ";
"edit" = "تعديل ";
"email" = "البريد الإلكتروني ";
"email_already_registered" = "عنوان البريد الإلكتروني هذا مسجل بالفعل على KTplay، الرجاء استخدام عنوان بريد إلكتروني آخر. ";
"email_or_username" = "أدخل عنوان بريدك الإلكتروني أو اسم المستخدم ";
"email_unverified" = "غير محقق ";
"enable_location_service" = "توجه نحو إعدادات الهاتف:  \"إعدادات> الخصوصية> جهات الإتصال\" لمنح حق الوصول إلى دفتر العناوين ";
"enable_microphone_permission" = "اسمح لهذا التطبيق بالوصول لميكروفون الهاتف من خلال قائمة الجهاز:  \"الإعدادات\" ";
"enter" = "دخول ";
"enter_email" = "أدخل عنوان بريدك الإلكتروني وضع كلمة المرور ";
"enter_email_reward" = "للحصول على المكافأة، أدخل البريد الإلكتروني الخاص بك، لا يمكنك تغيير عنوان البريد الإلكتروني بعد حفظ الإعدادات. ";
"enter_number" = "أدخل رقم الهاتف المحمول الخاص بك، وسوف نقوم بإرسال رمز التحقق لك. ";
"error" = "خطأ ";
"error_150001" = "خطأ (150001) ";
"error_150002" = "خطأ (150002) ";
"error_150003" = "خطأ (150003) ";
"error_150004" = "خطأ (150004) ";
"error_150005" = "خطأ (150005) ";
"error_150101" = "خطأ (150101) ";
"error_150102" = "خطأ (150102) ";
"error_integration" = "خطأ في الدمج ";
"expansion_centent" = "المزيد ";
"failed_to_record" = "فشل التسجيل ";
"favorite" = "المفضلة ";
"favorite_success" = "تم الإضافة للمفضلة بنجاح ";
"feature_disabled" = "تم تعطيل هذه الخاصية %@ ";
"featured_topics" = "مواضيع مميزة ";
"female" = "أنثى";
"field_username" = "اسم المستخدم: ";
"follow" = "متابعة ";
"follow_success" = "تمت المتابعة بنجاح ";
"followers" = "المتابعون ";
"following" = "تمت المتابعة ";
"following_each_other" = "تمت المتابعة ";
"forget_password" = "نسيت كلمة المرور؟ ";
"friend_requests" = "طلبات الصداقة ";
"friend_requests_sent" = "تم ارسال طلب الصداقة  ";
"friend_requst_placeholder" = "أود أن أضيفك كصديق. ";
"friend_updates" = "تحديثات الأصدقاء ";
"friendrequest_waitfor_acception" = "تم إرسال الطلب ";
"friends" = "الأصدقاء ";
"friends_from_other_games" = "أصدقاء من التطبيقات الأخرى  ";
"friends_playing_game" = "لعب %@ ";
"friends_symbol" = "الأصدقاء ";
"friendship_created_session_for_receiver" = "أنت الآن صديق مع %@.  دردش الآن ";
"friendship_created_session_for_sender" = "نحن اصدقاء الآن!  لنبدأ الدردشة! ";
"gender" = "الجنس ";
"get_location_failed" = "فشل في جلب معلومات الموقع";
"get_location_permission" = "تم السماح لـ %@ بالوصول إلى موقعك لتتمكن من إيجاد لاعبين قريبين. ";
"get_verification_code" = "طلب ";
"go" = "التفاصيل ";
"have_not_view_topic" = "لم تقم بمشاهدة أي موضوع... ";
"have_not_visit_user" = "لم تقم بزيارة أي ملف شخصي لأي مستخدم... ";
"have_reported" = "لقد قمت بالتبليغ عن هذه الرسالة مسبقاً ";
"header_background" = "خلفية العنوان الرئيسي ";
"highest_growth" = "أعضاء صاعدين  ";
"hold_to_record" = "أستمر بالضغط لتتحدث ";
"hot_searches" = "الأكثر بحثاً ";
"i_know" = "حسناً ";
"in_development" = "هذا التطبيق قيد التطوير  تقوم حالياً باستخدام مفتاح التطبيق الخاص بتطبيق تجريبي (قيد التطوير). 
قبل نشر التطبيق في متجر التطبيقات.  يتوجب عليك الحصول على مفتاح التطبيق الخاص (لغرض نشر التطبيق) من خلال 'دمج الإنهاء' على موقع مطورّي KTplay.  ومن ثم استبدالها داخل مشروعك. ";
"in_process" = "قيد التشغيل.. %@ ";
"in_review" = "قيد المراجعة ";
"in_reviewing" = "قيد المراجعة... ";
"inbox" = "صندوق الوارد";
"incorrect_phonenumber" = "الرجاء إدخال رقم الهاتف بشكل صحيح";
"incorrect_server_url" = "عنوان السيرفر غير صحيح ";
"increase_influence" = "زيادة بزيادة تأثيرك في مجتمعك، وذلك بإضافة محتوى رائع والحصول على متابعين! ";
"influence" = "تأثير ";
"influence_points" = "نقاط التأثير ";
"influence_rank" = "مراتب المؤثرين ";
"influencers" = "المؤثرين ";
"inorrect_verification_code" = "رمز التحقق خطأ ";
"input_email" = "أدخل عنوان بريدك الإلكتروني ";
"input_newpassword" = "كلمة المرور الجديدة";
"input_nickname" = "اختيار إسم مستعار ";
"input_oldpassword" = "كلمة المرور الحالية ";
"input_redeem_code" = "وضع الرمز ";
"input_username" = "أدخل اسم المستخدم الخاص بك، بالإنجليزية أو رقمية ";
"invalid_email_format" = "صيغة البريد الإلكتروني غير صحيحة ";
"invite" = "دعوة ";
"invite_frinds_from_sns" = "دعوة الأصدقاء من SNS ";
"invite_more_players" = "دعوة الاخرين ";
"invite_sns_friends_placeholder" = "العب %@ معي  اسمي المستعار هو:%@. ";
"invite_to_be_friend" = "إرسال طلبات صداقة  ";
"invited" = "تم إرسال الطلب ";
"ktplay_slogan" = "نصائح · سؤال وجواب · أصدقاء · المكافآت ";
"lastest_reply" = "احدث رد: %@ ";
"like" = "إعجاب ";
"like_success" = "تم الإعجاب ";
"likes" = "إعجابات ";
"likes_count" = "الإعجابات %@ ";
"limited_account_promption" = "تم إيقاف الحساب بشكل مؤقت، سيتم إعادة تفعيله في %@ ";
"link_login_with_phonenumber" = "تسجيل الدخول باستخدام رقم الهاتف ";
"link_register_with_phonenumber" = "اشترك عن طريق رقم الهاتف ";
"link_register_with_username" = "التسجيل باستخدام إسم المستخدم ";
"list_view" = "عرض بشكل قائمة ";
"loadmore" = "مشاهدة المزيد من المحتوى ";
"loadmore_pulling" = "مشاهدة المزيد من المحتوى ";
"locked" = "مغلق ";
"login" = "تسجيل الدخول ";
"login_and_claim" = "تسجيل الدخول أولاً ";
"login_expired" = "تم تسجيل الخروج من حسابك، الرجاء تسجيل الدخول مجدداً ";
"login_failed" = "فشل تسجيل الدخول ";
"login_first" = "عذراً.  عليك تسجيل الدخول أولاً ";
"login_or_register" = "اشترك أو قم بتسجيل الدخول ";
"login_start_conversation" = "قم بتسجيل الدخول وابدأ الدردشة مع اللاعبين الأخرين وذلك بزيارة ملفهم الشخصي. ";
"login_success" = "%@.  مرحباً! ";
"login_to_get_friends_updates" = "قم بتسجيل الدخول للحصول على اخر تحديثات الأصدقاء!";
"login_to_ktplay" = "تسجيل الدخول إلى KTplay ";
"login_to_play_with_friends" = "كوّن صداقات مع الآخرين!";
"login_welcome" = "%@.  مرحباً! ";
"login_with_exists_account" = "هل لديك حساب؟  قم بتسجيل الدخول الآن ";
"login_with_other_accounts" = "استخدام حساب آخر ";
"login_with_phonenumber" = "تسجيل الدخول ";
"login_with_selected_account" = "اختيار حساب ";
"login_with_sns" = "تسجيل الدخول باستخدام ";
"login_with_username" = "تسجيل الدخول باستخدام اسم المستخدم ";
"logout" = "تسجيل خروج";
"male" = "ذكر ";
"manage_alert_highlight_text" = "هل أنت متأكد أنك وضع الموضوع في الموصى به؟ ";
"manage_alert_highlight_title" = "مواضيع موصى بها ";
"manage_alert_insert_mainpage_text" = "هل أنت متأكد من إدراج الموضوع في الصفحة الرئيسية؟ ";
"manage_alert_insert_mainpage_title" = "مواضيع موصى بها ";
"manage_alert_lock_text" = "هل أنت متأكد من قفل الموضوع؟ ";
"manage_alert_lock_title" = "قفل الموضوع ";
"manage_alert_move_text" = "هل أنت متأكد من نقل الموضوع؟ ";
"manage_alert_move_title" = "نقل الموضوع ";
"manage_alert_quarantine_text" = "هل أنت متأكد أنك تريد حجر الموضوع؟ ";
"manage_alert_quarantine_title" = "حجر الموضوع ";
"manage_alert_top_text" = "هل أنت متأكد أنك تريد تثبيت الموضوع في أعلى القائمة؟ ";
"manage_alert_top_title" = "ثبيت الموضوع في أعلى القائمة ";
"manage_alert_unhighlight_text" = "هل أنت متأكد أنك تريد إزالة الموضوع من الموصى به؟ ";
"manage_alert_unhighlight_title" = "إزالة من الموصى به ";
"manage_alert_unlock_text" = "هل أنت متأكد من فتح الموضوع؟ ";
"manage_alert_unlock_title" = "فتح الموضوع ";
"manage_alert_untop_text" = "هل أنت متأكد أنك تريد إزالة تثبيت الموضوع في أعلى القائمة؟ ";
"manage_alert_untop_title" = "إزالة من أعلى القائمة ";
"manage_button_highlight" = "مقترح ";
"manage_button_lock" = "قفل ";
"manage_button_quarantine" = "حجر ";
"manage_button_top" = "إلى أعلى ";
"manage_button_unhighlight" = "إلغاء الموصى بها ";
"manage_button_unlock" = "فتح ";
"manage_button_untop" = "إزالة من الأعلى ";
"manage_info" = "انتباه:  لا يمكنك تشغيل المحتوى الذي تم إنشاؤه بواسطة الحساب الرسمي. ";
"manage_info_highlight" = "يمكنك وضع علامة على الموضوع الذي تريد تسليط الضوء عليه. ";
"manage_info_lock" = "لايمكن الرد على هذا الموضوع إن قمت بقفله، وسيظهر في أخر القائمة عند نشر موضوع جديد. ";
"manage_info_main_page_insert" = "إدراج الموضوع في الصفحة الرئيسية. ";
"manage_info_move_topic" = "يمكنك نقل الموضوع إلى أي تصنيف. ";
"manage_info_quarantine" = "لن يظهر الموضوع في القائمة عند الحجر عليه.";
"manage_info_top" = "سيظهر الموضوع في أعلى القائمة عند إرساله إلى أعلى. ";
"manage_option_game_video" = "الفيديوهات المشهورة ";
"manage_option_hot_topics" = "المواضيع المهمة ";
"manage_option_recommended_photos" = "صور موصى بها ";
"manage_title_main_page_insert" = "وضع صفحة رئيسية ";
"manage_title_manage" = "إدارة ";
"manage_title_move_topic" = "نقل ";
"max_of_photos" = "اختيار الحد الأعلى من %@ صورة ";
"me" = "أنا";
"mobile_already_registered" = "رقم الهاتف هذا مسجل بالفعل على KTplay، الرجاء استخدام رقم هاتف أخر. ";
"more" = "المزيد ";
"more_collections" = "المزيد من المجموعات ";
"more_options" = "المزيد من الخيارات ";
"more_replies" = "%@ المزيد من الردود ";
"moregames" = "المزيد من التطبيقات ";
"most_active_players" = "المستخدمين الأكثر نشاطاً ";
"most_liked_players" = "المستخدمين الأكثر إعجاباً ";
"my_friends" = "الأصدقاء ";
"my_topics" = "مواضيعي ";
"myprofile_no_likes_received" = "عفواً! لم يقم أحد بالإعجاب بك.. ";
"myprofile_no_topics_created" = "لم تقم بإنشاء أي موضوع ";
"nearby" = "قريب ";
"nearby_players_propmt" = "البحث عن مستخدمين الموجودين في مكان قريب منك";
"netwaok_unstable" = "شبكة الإتصال غير مستفرة ";
"network_unavailable" = "شبكة الإتصال غير مستفرة ";
"new" = "جديد ";
"new_chat" = "اختيار الأصدقاء ";
"new_friend_invataion" = "قام بارسال طلب صداقة لك ";
"nickname" = "إسم مستعار ";
"no_chat_friends" = "لايوجد أصدقاء للدردشة معهم ";
"no_chat_yet" = "ابدأ الدردشة مع اللاعبين الأخرين وذلك بزيارة ملفهم الشخصي ";
"no_draft_yet" = "لا يوجد مسودات ";
"no_follower" = "لا يوجد متابعين بعد... ";
"no_following" = "لم يقم بمتابعة مستخدم أخر... ";
"no_like_yet" = "لا يوجد إعجاب ";
"no_messages" = "صندوق الوارد فارغ ";
"no_more_collections" = "لا يوجد المزيد من المجموعات ";
"no_more_drafts" = "لا يوجد المزيد من المسودات ";
"no_more_follower" = "لا يوجد المزيد من المتابعين ";
"no_more_following" = "لا يوجد المزيد من المتابعين ";
"no_more_like" = "لا يوجد المزيد من الإعجابات ";
"no_more_messages" = "لا يوجد المزيد من الرسائل ";
"no_more_reply" = "لا يوجد المزيد من الردود ";
"no_more_sns_friends_playing" = "لا يوجد أصدقاء جدد من %@";
"no_more_topic" = "لا يوجد المزيد من المواضيع ";
"no_more_update_yet" = "لا يوجد المزيد من التحديثات ";
"no_permission_to_access_album" = "تم السماح لهذا التطبيق الوصول لألبوم صور الهاتف ";
"no_record_yet" = "عفواً!  لم يحصل أحد على نقاط التأثير  قم بالمشاركة في المجتمع لتكون المؤثر رقم 1 الآن! ";
"no_reply_yet" = "لا يوجد رد ";
"no_results" = "لا يوجد نتائج ";
"no_signature" = "لا يوجد توقيع";
"no_topic_yet" = "لا يوجد مواضيع ";
"no_update_yet" = "لا يوجد تحديث ";
"no_video" = "لا يوجد فيديو ";
"no_wifi" = "لديك محتويات قيد الإرسال في قائمة الإرسال، هل تود المتابعة في عملية الإرسال؟ ";
"not_binding" = "غير مضبوط ";
"not_following_anyone" = "عفواً! لم تقم بمتابعة أحد.  قم بمتابعة اللاعبين لرؤية منشوراتهم دائماً! ";
"not_have_review" = "لايوجد شيء للمراجعة ";
"not_in_group" = "أنت لست جزءاً من هذه المجموعة ";
"not_now" = "ليس الآن ";
"not_setting" = "فارغ ";
"not_support_video" = "نعتذر، لا ندعم إمكانية رفع الفيديوهات حالياً ";
"notice_email_signature" = "لإنشاء فيديو خاص بك، أدخل البريد الإلكتروني الخاص بك.  ";
"notice_number_signature" = "لإنشاء فيديو خاص بك، يرجى تأكيد رقم الهاتف الخاص بك. ";
"on_top" = "أعلى ";
"online_players" = "يلعب ";
"original_reply" = "الرد الأصلي:  ";
"original_topic" = "الموضوع الأصلي:  ";
"other_player" = "المستخدم";
"other_popular_games" = " تطبيقات مشهورة ";
"password" = "كلمة المرور ";
"password_placeholder" = "كلمة المرور 6-18 حرفاً ";
"pattern_blocked_user" = "(حظر) %@ ";
"pattern_seconds" = "%@\" ";
"pattern_updates_reply" = "رد:  %@ ";
"phone_number" = "رقم الهاتف ";
"player_playing_games" = "يلعب أيضاً ";
"players" = "المستخدمين ";
"players_already_claimed" = "المستخدمين الذين شاهدوا هذا ";
"players_around_you" = "المستخدمين القريبين ";
"players_nearby" = "المستخدمين القريبين ";
"players_topics" = "المواضيع ";
"post_quickly" = "تقوم بالنشر بشكل سريع ";
"powered_by" = "مشغلة بواسطة";
"privacy" = "الخصوصية  ";
"profile_complete_setting" = "نصائح:  البحث عن حسابك عن طريق البريد الإلكتروني أو رقم الهاتف ";
"profile_reply" = "الردود";
"promoted" = "تمت الترقية ";
"promoted_download" = "تحميل ";
"publish_content_placeholder" = "قل شيئاً...  ";
"pull_refresh" = "للتحديث اسحب لأسفل ";
"pullrefresh_last_updated" = "اخر تحديث ";
"pullrefresh_loading" = "يتم التحديث.. ";
"pullrefresh_release" = "اترك للتحديث ";
"pullrefresh_update" = "تحديث ";
"quick_login" = "تسجيل الدخول باستخدام حساب SNS ";
"quicklaunch_netlogged" = "لم تقم بتسجيل الدخول، يرجى تسجيل الدخول أولاً. ";
"quicklaunch_register" = "للانضمام إلى المجتمع، قم بالتسجيل أو تسجيل الدخول إلى التطبيق أولاً!";
"quicklaunch_relogin" = "انقر أدناه للإتصال مرة أخرى. ";
"rank" = "الترتيب ";
"rank_number" = "#@%";
"read_more" = "التفاصيل ";
"received_likes" = "الإعجابات %@";
"recent_searches" = "عمليات البحث الأخيرة ";
"recent_viewed" = "شوهدت مؤخراً ";
"recommended" = "صور مميزة ";
"recommended_friends" = "أصدقاء موصى بهم ";
"recommended_topics" = "مقترح ";
"record_error_short" = "قصير جداً! ";
"redeem" = "استبدال ";
"redeem_code" = "استبدال الرمز ";
"register" = "تسجيل ";
"register_with_phonenumber" = "تسجيل ";
"registerview_email" = "إختر إسم مستعار ";
"release_to_cancel" = "اترك للإلغاء ";
"release_to_send" = "اترك للإرسال ";
"relogin" = "إعادة تسجيل الدخول ";
"remain_format_day" = "%@ي ";
"remain_format_day_hour" = "%@ ي %@ س ";
"remain_format_hour" = "%@ س ";
"remain_format_min" = "%@m ";
"replay_pattern" = "رد على %@ ";
"replies_count" = "الردود %@ ";
"reply_and_likes" = "الردود %@ | الإعجابات %@ ";
"reply_details" = "رد ";
"reply_me" = "رد عليك ";
"reply_notify" = "الإشعارات ";
"reply_success" = "تم إرسال المحتوى ";
"reply_to" = "الرد على %@ ";
"report" = "إبلاغ ";
"report_content" = "الإبلاغ عن إساءة تصرف ";
"report_submitted_description" = "تم إرسال البلاغ بنجاح  سنقوم بمراجعة البلاغ والعودة لك.  نشكرك على البلاغ! ";
"report_success" = "تم الإبلاغ بنجاح ";
"request_failed" = "عذراً.  فشل التحميل ";
"request_img_failed" = "فشل تحميل الصورة ";
"require_content" = "تتطلب عنوان أو محتوى للنشر ";
"resend" = "إعادة إرسال ";
"resend_email" = "إعادة إرسال بريد التحقق  ";
"reset" = "إعادة تعيين ";
"reset_enter_username_with_email" = "أدخل عنوان بريدك الإلكتروني أو اسم المستخدم ";
"reset_enterusername" = "إعادة تعيين كلمة المرور الخاصة بك عن طريق اسم المستخدم أو البريد الإلكتروني. ";
"reset_password" = "تغيير كلمة المرور ";
"reset_password_email_failure" = "عذراً.  لم يتبم ربط حساب %@ بأي بريد إلكتروني  لا يمكنك إعادة تعيين كلمة المرور الخاصة بك في الوقت الراهن.";
"reset_password_failure" = "عذراً.  لم يتم ربط حساب %@ ببريد إلكتروني أو رقم هاتف  لا يمكنك إعادة تعيين كلمة المرور الخاصة بك في الوقت الراهن.";
"reset_password_with_email" = "البحث حسابك عن طريق البريد الإلكتروني ";
"reset_password_with_phonenumber" = "إعادة تعيين كلمة المرور الخاصة بك عن طريق رقم الهاتف ";
"resetpassword_email_sent" = "يرجى التحقق من صندوق الوارد في بريدك الإلكتروني فقد تم ارسال رسالة استعادة كلمة المرور ";
"retrieve_password" = "البحث عن حساب KTplay";
"reward" = "المكافآت ";
"reward_claimed" = "تم التحصيل! ";
"reward_expired" = "نعتذر! انتهت المكافأة.  شكراً على مشاركتك! ";
"rising_topics" = "مواضيع صاعدة ";
"rule_email_or_nickname" = "ادخل بريد إلكتروني أو إسم مستخدم، يمكن لإسم المستخدم ان يحتوي على أرقام وحروف كبيرة وصغيرة ";
"rule_nickname_length" = "طول الإسم المستعار المسموح به هو 1-128 حرف فقط ";
"rule_password" = "على كلمة المرور أن تكون بين 6-18 حرف فقط ";
"rule_password_character" = "أرقام، وحروف صغيرة وكبيرة فقط (الإنجليزي) ";
"rule_username_character" = "يمكن لإسم المستخدم ان يحتوي على أرقام وحروف كبيرة وصغيرة (الإنجليزي) ";
"rule_username_length" = "2-30 حرفاً ";
"save_draft" = "تم حفظ نسخة مسودة في ملفك. ";
"save_gallery" = "حفظ الصورة إلى المعرض ";
"say_hello" = "يقول مرحبا بك ";
"say_hello_to" = "ارسل تحياتك.. ";
"search" = "بحث";
"search_friend_noresults" = "لا يوجد نتائج ";
"seconds_countdown" = "%@ ث ";
"security_verification" = "تحقق الأمان ";
"security_verification_failure_times" = "فشل التحقق %@/%@ ";
"security_verification_pass" = "تم التحقق بنجاح ";
"security_verification_prompt" = "أحد التطبيقات التالية لعبتها بإستخدام منصة KTplay، يرجى إختيارها للتحقق من الشخصية ";
"see_all" = "مشاهدة الكل ";
"see_more_replies" = "مشاهدة المزيد من الردود ";
"see_rank" = "مشاهدة الترتيب ";
"selecet_a_topic" = "اختيار موضوع ";
"select_albums" = "تحديد ألبوم ";
"select_country" = "حدد المنطقة ";
"select_friend" = "اختيار الأصدقاء ";
"select_photo" = "اختيار صورة ";
"select_report_reason" = "اختيار سبب ";
"select_topic_category" = "اختر تصنيف للموضوع ";
"select_video" = "اختيار فيديو ";
"send" = "إرسال ";
"send_email" = "تم إرسال البريد بنجاح ";
"send_email_limit" = "عذراً.  الرجاء الإنتظار لمدة %@ دقيقة ";
"send_invitation" = "إضافة صديق ";
"sending" = "إرسال ";
"server_error" = "خطأ في السيرفر (%@) ";
"set_login_password" = "تعيين كلمة مرور للدخول لحسابك. ";
"set_number_password" = "لإنشاء توقيع فيديو خاص بك، يرجى تأكيد رقم الهاتف عبر الرسائل القصيرة ووضع كلمة مرور لحسابك ";
"set_password" = "تغيير كلمة المرور الخاصة بك ";
"setting" = "الإعدادات ";
"setting_avatar" = "صورة الملف الشخصي ";
"setting_baseinfo" = "ملفي الشخصي ";
"setting_receive_new_message" = "الإشعارات ";
"setting_receive_new_message_description" = "تفعيل أو تعطيل الإشعارات داخل التطبيق ";
"setting_receive_sounds" = "الأصوات ";
"setting_receive_sounds_description" = "تفعيل أو تعطيل الأصوات ";
"setting_security" = "إعدادات الحماية ";
"share_failed" = "فشل المشاركة.. ";
"share_success" = "تمت المشاركة ";
"share_to_sns" = "مشاركة ";
"sign_up_ktplay" = "تسجيل ";
"sign_up_now" = "تسجيل ";
"signature" = "توقيع فيديو ";
"skip" = "تخطى";
"skip_security_verification" = "تخطي التحقق ";
"slide_up_to_cancel" = "اسحب لأعلى للإلغاء ";
"sms_canceled" = "تم الإلغاء ";
"sms_error" = "فشل ";
"sms_invitation_placeholder" = "تحقق من %@ ودعنا نلعب معاً.  حملها من هنا: %@. اسمي المستعار هو: %@. ";
"sms_sucess" = "تم الإرسال ";
"sns" = "SNS ";
"sns_authorize_failed" = "لم تنجح عملية الإعتماد  ";
"sns_friends_limitation" = "لأن التطبيق محدود، يمكننا الحصول على بعض  أصدقائك من SNS. ";
"sns_friends_playing" = "أصدقاء يلعبون %@ ";
"sns_share_placeholder" = "لقد قمت بمشاركة موضوع في %@, %@. ";
"suggested_for_you" = "مقترحة لك ";
"suggestion" = "الحل ";
"sure_delete_conversation" = "هل تود إزالة المحادثة؟  عندما تقوم بمسح المحادثة سيختفي سجل الدردشة. ";
"system_support" = "عذراً.  نسخة النظام الحالي لاتدعم الفيديو. ";
"t_email_signature" = "تسجيل ";
"t_number_signature" = "تسجيل ";
"take_screenshot" = "خذ لقطة من الشاشة ";
"terms_agreement" = "بتسجيل الدخول في KTplay فأنت توافق على <a>الشروط والخصوصية</a>، وتقر بأنك أكبر من 13 عاماً من العمر. ";
"terms_and_privacy" = "الشروط والخصوصية ";
"time_day" = "يوم ";
"time_format_hour" = "%@ س ";
"time_format_justnow" = "قبل لحظات ";
"time_format_last_year" = "dd-MM-yyyy ";
"time_format_minutes_ago" = "%@ دقيقة  ";
"time_format_month_day_hour_minute" = "MM-dd HH:mm ";
"time_format_year_month" = "MM-yyyy ";
"time_format_year_month_day" = "MM-DD-YYYY ";
"time_format_yesterday" = "الأمس ";
"time_month" = "شهر ";
"time_year" = "سنة ";
"tip_addfriends_now" = "قم بالبحث عن مستخدمين أخرين مثلك ";
"tip_addfrinds_from_different_types" = "تفاعل وقم بالمشاركة والعب مع مستخدمين اخرين الآن! ";
"tip_bind_email" = "ادخل بريدك الإلكتروني لتتمكن من تسجيل الدخول وإعادة تعيين كلمة المرور ";
"tip_change_nickname" = "يمكن للمستخدمين الأخرين استعمال هذا الإسم للبحث عنك ";
"tip_chat_service_issue" = "ضغط على الخدمة.  الرجاء المحاولة فيما بعد ";
"tip_chattype_audio" = "الصوت";
"tip_chattype_image" = "صورة ";
"tip_message_blocked" = "تم رفض الرسالة ";
"tip_reply_locked" = "الموضوع مغلق ";
"tip_resetpassword_with_email" = "تم إرسال رسالة إلكترونية إلى %@ لإعادة تعيين كلمة المرور الخاصة بك.  يرجى التحقق من صندوق الوارد الخاص بك.";
"tip_select_chat_friend" = "لا يتم عرض الأصدقاء الذين يملكون نسخة قديمة من البرنامج والتي لا تحتوي على خاصية الدردشة هنا. ";
"title_optional" = "اختر عنوان رائع لموضوعك ";
"to_enter_email" = "لإنشاء فيديو خاص بك، أدخل البريد الإلكتروني الخاص بك، لا يمكنك تغيير عنوان البريد الإلكتروني بعد حفظ الإعدادات. ";
"to_verify_number" = "لإنشاء توقيع فيديو خاص بك، يرجى تأكيد رقم الهاتف عبر الرسائل القصيرة. ";
"today" = "اليوم ";
"top_Influencers" = "أفضل المؤثرين ";
"top_collections" = "المجموعات ";
"topic_count" = "المواضيع %@ ";
"topic_create" = "إنشاء ";
"topic_details" = "العنوان ";
"topic_reply" = "رد ";
"topic_share" = "تم نشر أخر مواضيع من %@ ";
"topic_task_limit" = "يمكن تحميل %@ من المحتوى في نفس الوقت، تم حفظ نسخة مسودة في ملفك. ";
"topics" = "المواضيع ";
"try_again" = "حاول مرة أخرى ";
"try_verify_email_signature" = "مجاناً لأول مرة! <a> قم بتأكيد البريد الإلكتروني</a> لتتمكن من استخدامه. ";
"try_verify_number_signature" = "مجاناً لأول مرة! <a> قم بتأكيد رقم الهاتف</a> لتتمكن من استخدامه. ";
"unable_to_record" = "لا يمكن التسجيل ";
"unblock" = "رفع الحظر ";
"unfollow" = "إلغاء المتابعة ";
"unfollow_this_player" = "هل تود إلغاء متابعة هذا المستخدم؟  ";
"unsupported_chat_message_type" = "لا يدعم الإصدار الحالي من KTplay لعرض هذا المحتوى ";
"update_failed" = "فشل ";
"update_success" = "تم";
"updates_created_topic" = "إنشاء ";
"updates_liked_content" = "إعجاب ";
"updates_liked_reply" = "إعجاب ";
"updates_replied_topic" = "تم الرد ";
"upload_failed_part" = "فشل في تحميل المحتويات %@، تم حفظ نسخة مسودة في ملفك. ";
"upload_from_album" = "الاختيار من الصور ";
"user_profile" = "الملف ";
"user_received_likes" = "إعجابات ";
"username" = "إسم المستخدم ";
"userprofile_no_likes_received" = "عفواً! لم يقم أحد بالإعجاب بهذا المستخدم.. ";
"userprofile_no_topics_created" = "هذا المستخدم لديه 0 موضوع ";
"users_friends" = "الأصدقاء ";
"using_test" = "استخدام النظام التجريبي ";
"v_email_signature" = "أكمل إدخال عنوان بريدك الإلكتروني ";
"v_number_signature" = "تسجيل رقم الهاتف ";
"verification_code" = "رمز التحقق ";
"verification_code_sent" = "لقد قمنا بإرسال رمز التحقق عبر رسالة نصية ";
"verification_email" = "تم ارسال رسالة التحقق. يرجى التحقق من عنوان البريد الإلكتروني الخاص بك خلال 24 ساعة لإسخدام ميزات KTplay.";
"verification_email_send" = "سوف نقوم بإرسال بريد التحقق لك.  يرجى التحقق من عنوان البريد الإلكتروني الخاص بك خلال 24 ساعة لإسخدام ميزات KTplay. انتباه:  يمكنك تغيير عنوان البريد الإلكتروني الخاص بك قبل تأكيده. بمجرد أن يتغير البريد الإلكتروني، سيكون عليك استعمال البريد الإلكتروني الجديد للدخول على KTplay. ";
"verify_confirm_no" = "لا شكراً ";
"verify_confirm_yes" = "نعم ";
"verify_email_signature" = "<a>قم بتأكيد البريد الإلكتروني</a> لتتمكن من استخدامه.  ";
"verify_mobile" = "للحصول على المكافآة يرجى تأكيد رقم الهاتف عبر الرسائل القصيرة. ";
"verify_mobile_password" = "للحصول على مكافأتك، يرجى تأكيد رقم الهاتف عبر الرسائل القصيرة. ووضع كلمة مرور لحسابك. ";
"verify_number_signature" = "<a> قم بتأكيد رقم الهاتف</a> لتتمكن من استخدامه. ";
"video" = "فيديوهات ";
"video_and_images" = "لا يمكنك تحميل الفيديو والصور في نفس الوقت. ";
"video_exceed" = "عذراً.  لا يمكن أن يتعدى حجم الفيديو %@ ميغابت أو %@ دقيقة. ";
"video_exceed_to" = "عذراً.  يجب أن يكون الفيديو أقل من %@ ميغابت واقل من %@ دقيقة. ";
"video_less" = "عذراً.  لايمكن أن تكون مدة الفيديو أقل من %@ ثانية. ";
"video_prefix" = "فيديو ";
"video_processed" = "معالجة الفيديو ... ";
"video_signature_title" = "التوقيع ";
"video_size" = "حجم الفيديو %@ ميغابت.";
"videos" = "الفيديوهات المشهورة ";
"views" = "المشاهدات ";
"vote" = "تصويت ";
"vote_expired" = "انتهى التصويت ";
"vote_is_ongoing" = "[صوت الآن!] %@ صوتاً حتى الآن! ";
"vote_now" = "صوت الآن! ";
"vote_thank" = "نشكركم على تصويتكم! ";
"voted" = "تم التصويت ";
"warning_block_chatuser" = "هل تود حظر %@  في الدردشة؟  ";
"warning_clear_all_messages" = "مسح كل الرسائل؟ ";
"warning_complete_email" = "هل تود إدخال بريد إلكتروني لإكمال إعدادات الأمان الخاصة بحسابك؟ ";
"warning_complete_login_method" = "هل ترغب في إنشاء التطبيقات عبر حساب-KTplay حتى تتمكن من التفاعل مع المستخدمين في تطبيقات أخرى؟";
"warning_complete_phonenumber" = "هل تود ربط رقم الهاتف لإستكمال إعدادات الحماية الخاصة بك؟ ";
"warning_delete_content" = "حذف المحتوى؟ ";
"warning_delete_friend" = "هل تريد إزالة %@ من قائمة الأصدقاء؟  ";
"warning_has_integration_issue" = "سيتم العمل على حل بعض المشاكل ";
"warning_report_reply" = "هل أنت متأكد أنك تريد الإبلاغ عن هذا؟ ";
"warning_retrieve_password_after_login_failure" = "فشل تسجيل الدخول";
"warning_same_oldpassword_and_newpassword" = "لا يمكن استخدام كلمة المرور الحالية ككلمة مرور جديدة. ";
"warning_security_verification_times" = "إذا فشل التحقق مرتين، تحتاج إلى الإنتظار 24 ساعة قبل التحقق المقبل.";
"warning_unblock_chatuser" = "هل تود حظر %@  في الدردشة؟   ";
"warning_using_testapp" = "أنت تستخدم تطبيق تجريبي ";
"whats_hot" = "المجتمع ";
"write_bio" = "أكتب نبذة مختصرة عن نفسك ";
"you_might_like" = "قد تحب ";
"you_rank" = "المرتبة %@# ";
"you_rank_lower" = "المرتبة %@# · في أقل %@% ";
"you_rank_top" = "المرتبة %@# · في أعلى %@%";
