

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24小時";
"HD" = "高清";
"SD" = "標清";
"about_Influence" = "關於影響力";
"accept" = "接受";
"accept_friendrequest_success" = "接受邀請成功";
"access_appstore" = "正在訪問應用商店...";
"account_adm" = "管理員";
"account_be_bound" = "帳號已綁定,不能重複綁定";
"account_mod" = "版主";
"active_players" = "最近活躍用户";
"ad" = "廣告 by";
"ad_download" = "下載";
"ad_open" = "詳細";
"add" = "添加";
"add_as_friend" = "添加好友";
"add_friends" = "添加好友";
"admin" = "管理員";
"all" = "全部";
"all_players" = "影響力排名";
"all_time" = "總排名";
"all_topics" = "最新";
"app_settings" = "應用設置";
"app_version_support" = "抱歉，當前應用版本無法播放視頻。";
"back" = "返回";
"bind_email" = "綁定郵箱";
"bind_phonenumber" = "綁定手機號";
"binding_email_to" = "綁定郵箱可用來找回密碼、領取獎勵、使用更多個性功能，郵箱綁定後不能更換！";
"binding_number_password_to" = "綁定手機號可用來找回密碼、領取獎勵、使用更多個性功能並為這個手機號設置一個密碼。";
"binding_number_to" = "綁定手機號可用來找回密碼、領取獎勵、使用更多個性功能。";
"bio" = "個人簡介";
"birthday" = "生日";
"block_chat" = "遮罩聊天";
"block_private_chat" = "屏蔽私聊，除非彼此關注對方";
"blocked_account" = "抱歉，你已被列為黑名單使用者";
"blocked_list" = "遮罩清單";
"blocked_list_placeholder" = "你還沒有遮罩任何人";
"camera" = "相機膠捲";
"campaign_remain" = "剩餘:";
"campaign_rewards" = "獎勵:";
"campaign_share_Collections" = "[活動] 分享此專題立即獲取獎勵！ ";
"campaign_share_topic" = "[活動] 分享此話題立即獲取獎勵！ ";
"can_not_video" = "目前你不能發佈附帶視頻的內容。";
"cancel" = "取消";
"cannot_like_yourself" = "不能稱讚自己發佈的內容";
"cannot_message_unless" = "你需要與對方互相關注才能發送消息";
"cannot_report_yourself" = "你不能舉報自己";
"card_view" = "全文視圖";
"categories" = "分類";
"change_gender" = "修改性別";
"change_next_group" = "換一組";
"change_password" = "修改";
"change_signature" = "點擊修改個性簽名";
"chat" = "消息";
"chat_now" = "立即開始聊天！";
"chat_session_placeholder_description" = "選擇自己的好友開始聊天";
"chat_session_placeholder_title" = "開始與好友聊天！";
"claim" = "領取";
"claimed" = "已領取";
"clear" = "清空";
"clear_search_history" = "清空搜索歷史";
"click_email_signature" = "綁定郵箱";
"click_number_signature" = "綁定手機號";
"collection" = "專題";
"community" = "話題";
"community_version" = "Community · v%@";
"complete_email" = "設置你的郵箱";
"complete_profile" = "完善你的個人資訊！ 使你更容易被其他用戶認識和關注！";
"complete_security_setting" = "完善安全設置用於找回 KTplay密碼";
"complete_user_profile" = "完善使用者資訊";
"confirm" = "確定";
"confirm_clear_search" = "是否清空搜索歷史？";
"confirm_to_complete_security_setting" = "創建";
"confirm_to_logout" = "不，謝謝";
"confirm_yes" = "是";
"connection_failed" = "網路不穩定";
"connection_timeout" = "網路不穩定";
"contactbook_error_one" = "到系統的[設置]選項中允許%@使用通訊錄，你可以和你通訊錄裡的聯繫人溝通";
"contacts" = "通訊錄";
"contacts_friends" = "連絡人";
"contacts_players_prompt" = "查看通訊錄立即找到正在玩當前應用的連絡人";
"content_already_removed" = "哎呦！內容已不存在了…";
"copy" = "複製";
"create_nickname" = "設置昵稱";
"create_reply" = "回復";
"create_signature" = "點擊添加個性簽名";
"create_topic" = "話題";
"create_topic_success" = "發佈成功";
"create_username" = "設置使用者名";
"create_username_tip" = "使用者名只能自訂修改一次，一旦保存無法再次變更，使用者名可用來登錄KTplay。 ";
"delete" = "刪除";
"delete_conversation" = "刪除聊天對話";
"delete_favorite" = "取消收藏";
"delete_friend" = "解除好友關係";
"deny_friendrequest_success" = "已拒絕邀請";
"description" = "錯誤描述";
"development_mode" = "Development Mode";
"distance_kilometer" = "千米";
"distance_meter" = "米";
"distance_pattern" = "%@%@";
"done" = "完成";
"drafts" = "草稿箱";
"edit" = "編輯";
"email" = "電子郵件地址";
"email_already_registered" = "這個郵箱已經在 KTplay上被佔用，請你重新輸入一個新的郵箱。 ";
"email_or_username" = "使用者名";
"email_unverified" = "未驗證";
"enable_location_service" = "請到系統的[設置]-[隱私]-[通訊錄]選項中，在這%@使用定位服務";
"enable_microphone_permission" = "請在設備的\"設置\"選項中允許該應用訪問麥克風";
"enter" = "進入";
"enter_email" = "輸入你的電子郵件地址並設置一個密碼。";
"enter_email_reward" = "綁定郵箱後可以領取你的獎勵，郵箱一旦綁定不能更換！";
"enter_number" = "輸入你的手機號，我們將發送驗證碼到你的手機.";
"error" = "錯誤";
"error_150001" = "請求失敗 (Missing parameters: 150001)";
"error_150002" = "請求失敗 (150002)";
"error_150003" = "請求失敗 (150003)";
"error_150004" = "請求失敗 (150004)";
"error_150005" = "請求失敗 (150005)";
"error_150101" = "請求失敗 (150101)";
"error_150102" = "請求失敗 (150102)";
"error_integration" = "族群KT接入錯誤";
"expansion_centent" = "展開全部";
"failed_to_record" = "錄音失敗";
"favorite" = "收藏";
"favorite_success" = "收藏成功";
"feature_disabled" = "該功能被禁用 %@";
"featured_topics" = "推薦話題";
"female" = "女";
"field_username" = "使用者名:";
"follow" = "關注";
"follow_success" = "關注成功";
"followers" = "關注者";
"following" = "已關注";
"following_each_other" = "已關注";
"forget_password" = "忘記密碼?";
"friend_requests" = "好友請求";
"friend_requests_sent" = "請求已發送";
"friend_requst_placeholder" = "我想和你成為好友";
"friend_updates" = "好友動態";
"friendrequest_waitfor_acception" = "已邀請";
"friends" = "好友";
"friends_from_other_games" = "其它應用好友";
"friends_playing_game" = "在玩 %@";
"friends_symbol" = "好友";
"friendship_created_session_for_receiver" = "你已經和%@成為KTplay好友，立即開始對話！ ";
"friendship_created_session_for_sender" = "我們已經成為KTplay好友，立即開始在對話！ ";
"gender" = "性別";
"get_location_failed" = "無法獲取你的位置資訊。";
"get_location_permission" = "到系統的[設置]選項中允許%@使用定位服務，你可以快速和附近的用户聯繫";
"get_verification_code" = "獲取驗證碼";
"go" = "詳情";
"have_not_view_topic" = "你還沒有查看過任何話題…";
"have_not_visit_user" = "你還沒有訪問過任何用戶…";
"have_reported" = "你已經舉報過這條消息";
"header_background" = "背景圖";
"highest_growth" = "成長最快";
"hold_to_record" = "按下錄製語音";
"hot_searches" = "熱門搜索";
"i_know" = "知道了";
"in_development" = "This app is in development mode. Currently you are using App Key and Secret of a TEST App.
Before You release your app to Market. You must to get the App Key and Secrct (for Release) by \"Integrating Finished\" on KTplay Developer website. Then replace it in your project.";
"in_process" = "視頻壓縮中...%@";
"in_review" = "正在審核";
"in_reviewing" = "正在審核中...";
"inbox" = "收件匣";
"incorrect_phonenumber" = "請輸入正確的手機號。";
"incorrect_server_url" = "伺服器位址錯誤";
"increase_influence" = "积累你的社区影响力，立即发布有趣的内容来获取关注！";
"influence" = "影響力";
"influence_points" = "影響力";
"influence_rank" = "影響力排名";
"influencers" = "社區名人";
"inorrect_verification_code" = "不正確的驗證碼";
"input_email" = "輸入你的郵箱";
"input_newpassword" = "輸入新密碼";
"input_nickname" = "請輸入昵稱";
"input_oldpassword" = "輸入舊密碼";
"input_redeem_code" = "輸入兌換碼";
"input_username" = "輸入你的使用者名，僅支援字母、數位";
"invalid_email_format" = "請填入有效的電子郵箱";
"invite" = "邀請";
"invite_frinds_from_sns" = "邀請 SNS好友";
"invite_more_players" = "邀請更多朋友加入";
"invite_sns_friends_placeholder" = "快來和我一起玩%@，我的昵稱是：%@";
"invite_to_be_friend" = "邀請成為好友";
"invited" = "已邀請";
"ktplay_slogan" = "找攻略 提問題 加好友 領獎勵";
"lastest_reply" = "最新回復： %@";
"like" = "稱讚";
"like_success" = "稱讚成功";
"likes" = "稱讚";
"likes_count" = "稱讚 %@";
"limited_account_promption" = "帳號受限，將于%@釋放";
"link_login_with_phonenumber" = "手機號登錄";
"link_register_with_phonenumber" = "手機號註冊，更安全";
"link_register_with_username" = "使用者名註冊";
"list_view" = "摘要視圖";
"loadmore" = "獲取更多";
"loadmore_pulling" = "上拉更新";
"locked" = "已鎖定";
"login" = "登錄";
"login_and_claim" = "登錄並領取";
"login_expired" = "帳號已登出，請重新登錄";
"login_failed" = "登錄失敗";
"login_first" = "抱歉，你需要先登錄。";
"login_or_register" = "註冊或登錄";
"login_start_conversation" = "登錄並訪問其他用戶給對方發送消息。";
"login_success" = "%@，歡迎！";
"login_to_get_friends_updates" = "隨時隨地，登錄查看好友動態！";
"login_to_ktplay" = "KTplay帳號登錄";
"login_to_play_with_friends" = "找到你的好友，隨時一起玩！";
"login_welcome" = "%@，歡迎！";
"login_with_exists_account" = "已有帳號？ 立即登錄";
"login_with_other_accounts" = "使用其他帳號";
"login_with_phonenumber" = "手機號登錄";
"login_with_selected_account" = "使用該帳號";
"login_with_sns" = "SNS登錄";
"login_with_username" = "使用者名登錄";
"logout" = "退出登錄";
"male" = "男";
"manage_alert_highlight_text" = "是否確定標記當前內容為精華？";
"manage_alert_highlight_title" = "內容加精";
"manage_alert_insert_mainpage_text" = "是否確定要將當前內容插入首頁推薦？";
"manage_alert_insert_mainpage_title" = "推薦內容";
"manage_alert_lock_text" = "是否確定鎖定當前內容？";
"manage_alert_lock_title" = "鎖定內容";
"manage_alert_move_text" = "是否確定要移動當前內容？";
"manage_alert_move_title" = "移動內容";
"manage_alert_quarantine_text" = "是否確定隔離當前內容？";
"manage_alert_quarantine_title" = "隔離內容";
"manage_alert_top_text" = "是否確定置頂當前內容？";
"manage_alert_top_title" = "置頂內容";
"manage_alert_unhighlight_text" = "是否確定取消當前內容的精華狀態？";
"manage_alert_unhighlight_title" = "取消加精";
"manage_alert_unlock_text" = "是否確定取消當前內容的鎖定狀態？";
"manage_alert_unlock_title" = "取消鎖定";
"manage_alert_untop_text" = "是否確定取消當前內容的置頂狀態？";
"manage_alert_untop_title" = "取消置頂";
"manage_button_highlight" = "精華";
"manage_button_lock" = "鎖定";
"manage_button_quarantine" = "隔離";
"manage_button_top" = "置頂";
"manage_button_unhighlight" = "取消精華";
"manage_button_unlock" = "取消鎖定";
"manage_button_untop" = "取消置頂";
"manage_info" = "注意：您無法對官方帳號創建的內容進行管理操作。";
"manage_info_highlight" = "標記有價值的內容，並被收納至精華內容清單。";
"manage_info_lock" = "話題一旦被鎖定，將無法被其他用戶進行回復，並逐漸下降到「最新」清單的底部。";
"manage_info_main_page_insert" = "將話題插入到指定的推薦位中。";
"manage_info_move_topic" = "移動話題到指定的分類下方便其他的用戶查找。";
"manage_info_quarantine" = "內容一旦被隔離將立即從清單中隱藏。";
"manage_info_top" = "置頂的內容將會顯示在話題清單頁頂部的置頂話題欄中並提示全部用戶閱讀。";
"manage_option_game_video" = "熱播視頻";
"manage_option_hot_topics" = "熱門話題";
"manage_option_recommended_photos" = "精彩圖片";
"manage_title_main_page_insert" = "推薦到首頁";
"manage_title_manage" = "管理";
"manage_title_move_topic" = "移動話題";
"max_of_photos" = "最多隻能選擇%@張圖片";
"me" = "我";
"mobile_already_registered" = "這個手機號已經在 KTplay上被佔用，請你重新輸入一個新的手機號！ ";
"more" = "更多";
"more_collections" = "全部專題";
"more_options" = "更多操作";
"more_replies" = "還有%@條回復...";
"moregames" = "更多應用";
"most_active_players" = "最活躍的用户";
"most_liked_players" = "最受歡迎";
"my_friends" = "好友";
"my_topics" = "我的話題";
"myprofile_no_likes_received" = "哎呀！ 還沒有人稱讚過你...";
"myprofile_no_topics_created" = "你沒有發佈任何內容";
"nearby" = "附近";
"nearby_players_propmt" = "查看附近的人功能將獲取你的位置資訊，搜索附近用户。";
"netwaok_unstable" = "網路狀況不佳";
"network_unavailable" = "網路不穩定";
"new" = "最新";
"new_chat" = "新建對話";
"new_friend_invataion" = "請求添加你為好友";
"nickname" = "昵稱";
"no_chat_friends" = "沒有好友可以開始聊天";
"no_chat_yet" = "訪問其他用戶給對方發送消息。";
"no_draft_yet" = "還沒有任何草稿";
"no_follower" = "他/她還沒有任何關注者...";
"no_following" = "他/她還沒有關注過任何人…";
"no_like_yet" = "還沒有任何稱讚";
"no_messages" = "暫無消息...";
"no_more_collections" = "沒有更多專題了";
"no_more_drafts" = "沒有更多草稿了";
"no_more_follower" = "沒有更多關注者了";
"no_more_following" = "沒有更多關注中的用户了";
"no_more_like" = "沒有更多稱讚了";
"no_more_messages" = "没有更多消息";
"no_more_reply" = "沒有更多回復了";
"no_more_sns_friends_playing" = "沒有新加入的%@好友";
"no_more_topic" = "沒有更多話題了";
"no_more_update_yet" = "沒有更多動態了";
"no_permission_to_access_album" = "到系統的[設置]選項中允許開啟該應用對相冊的訪問";
"no_record_yet" = "哎呀！太安靜了。創建你的話題立即上榜！";
"no_reply_yet" = "還沒有任何回復";
"no_results" = "無結果";
"no_signature" = "無簽名";
"no_topic_yet" = "還沒有任何話題";
"no_update_yet" = "還沒有任何動態";
"no_video" = "無視頻";
"no_wifi" = "發送佇列中有未發送的內容，是否繼續發送？";
"not_binding" = "未綁定";
"not_following_anyone" = "呃哦！你還沒有關注任何人或是你關注的用戶沒有發布過任何內容！立即關注社區名人發布的內容吧！";
"not_have_review" = "你沒有任何內容在審核中";
"not_in_group" = "你已不在該討論群組內";
"not_now" = "暫時不用";
"not_setting" = "未設置";
"not_support_video" = "抱歉，暫不支援上傳視頻檔";
"notice_email_signature" = "綁定郵箱才能使用視頻個性簽名";
"notice_number_signature" = "綁定手機號才能使用視頻個性簽名";
"on_top" = "置頂";
"online_players" = "人在玩";
"original_reply" = "原回復:";
"original_topic" = "原話題:";
"other_player" = "用户";
"other_popular_games" = "大家都喜歡玩";
"password" = "密碼";
"password_placeholder" = "密碼6-18英文或數位";
"pattern_blocked_user" = "(已遮罩) %@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "回復: %@";
"phone_number" = "手機號";
"player_playing_games" = "在玩的應用";
"players" = "用户";
"players_already_claimed" = "這些用户已經參與啦";
"players_around_you" = "離你最近的用户";
"players_nearby" = "附近的人";
"players_topics" = "話題";
"post_quickly" = "你發佈內容過於頻繁，請稍後再試";
"powered_by" = "Powered by";
"privacy" = "隱私";
"profile_complete_setting" = "提示：綁定郵箱或手機可找回帳號";
"profile_reply" = "回復";
"promoted" = "推薦";
"promoted_download" = "下載";
"publish_content_placeholder" = "說點什麼...";
"pull_refresh" = "請下拉重試";
"pullrefresh_last_updated" = "最後更新";
"pullrefresh_loading" = "正在更新...";
"pullrefresh_release" = "釋放更新";
"pullrefresh_update" = "更新";
"quick_login" = "快速登錄";
"quicklaunch_netlogged" = "尚未登錄應用，請先登錄。";
"quicklaunch_register" = "想要體驗更多社區功能，請先註冊應用!";
"quicklaunch_relogin" = "未能成功登錄帳號，請點擊重新連接!";
"rank" = "排名";
"rank_number" = "#%@";
"read_more" = "詳情";
"received_likes" = "獲得稱讚 %@";
"recent_searches" = "近期搜索";
"recent_viewed" = "近期查看";
"recommended" = "精彩圖片";
"recommended_friends" = "推薦好友";
"recommended_topics" = "精華";
"record_error_short" = "錄音過短";
"redeem" = "兌換";
"redeem_code" = "兌換碼";
"register" = "註冊";
"register_with_phonenumber" = "手機號註冊";
"registerview_email" = "使用者名";
"release_to_cancel" = "鬆開取消發送";
"release_to_send" = "鬆開發送語音";
"relogin" = "重新登錄";
"remain_format_day" = "%@天";
"remain_format_day_hour" = "%@天%@小時";
"remain_format_hour" = "%@小時";
"remain_format_min" = "%@分鐘";
"replay_pattern" = "回復:%@";
"replies_count" = "回復 %@";
"reply_and_likes" = "回復%@ | 稱讚 %@";
"reply_details" = "回復";
"reply_me" = "回復了你";
"reply_notify" = "通知";
"reply_success" = "回復成功";
"reply_to" = "回復了%@";
"report" = "舉報";
"report_content" = "舉報內容";
"report_submitted_description" = "你的舉報已經提交成功，我們會儘快進行處理。 有任何處理結果將會以通知的形式發送到你的帳號下。 感謝你的支援！";
"report_success" = "舉報成功";
"request_failed" = "抱歉，載入失敗...";
"request_img_failed" = "圖片載入失敗";
"require_content" = "缺少標題或內容無法發送";
"resend" = "重發";
"resend_email" = "發送驗證郵件";
"reset" = "重置";
"reset_enter_username_with_email" = "輸入使用者名/郵箱";
"reset_enterusername" = "使用使用者名或郵箱重置密碼.";
"reset_password" = "重置密碼";
"reset_password_email_failure" = "抱歉，帳號%@沒有綁定任何郵箱，我們無法説明你重置密碼！ ";
"reset_password_failure" = "抱歉，帳號%@沒有綁定任何手機號或郵箱，我們無法説明你重置密碼！ ";
"reset_password_with_email" = "使用郵箱重置密碼";
"reset_password_with_phonenumber" = "使用手機號重置密碼";
"resetpassword_email_sent" = "請求已發送請檢查電子郵件";
"retrieve_password" = "找回 KTplay帳號";
"reward" = "領取獎勵";
"reward_claimed" = "獎勵已領取！";
"reward_expired" = "抱歉，獎勵已失效。 感謝您的參與！";
"rising_topics" = "上升最快";
"rule_email_or_nickname" = "輸入 Email或使用者名，使用者名使用大小寫字母和數位命名";
"rule_nickname_length" = "昵稱長度為1-128個字元";
"rule_password" = "密碼只能為6-18位數位和字母";
"rule_password_character" = "密碼只能使用大小字母和數位";
"rule_username_character" = "使用者名使用大小寫字母和數位命名";
"rule_username_length" = "使用者名長度為2-30個字元";
"save_draft" = "已存儲至個人頁-草稿箱。 ";
"save_gallery" = "已保存到系統相冊";
"say_hello" = "問候你";
"say_hello_to" = "和對方打個招呼！";
"search" = "搜索";
"search_friend_noresults" = "無結果";
"seconds_countdown" = "%@ 秒";
"security_verification" = "安全驗證";
"security_verification_failure_times" = "驗證失敗 %@/%@";
"security_verification_pass" = "通過驗證";
"security_verification_prompt" = "下列應用中有一款是你曾經玩過的 KTplay平臺應用，為了確認你的身份，請將其選出。 ";
"see_all" = "查看全部";
"see_more_replies" = "查看更多回復";
"see_rank" = "查看排名";
"selecet_a_topic" = "選擇一個話題";
"select_albums" = "選擇相冊";
"select_country" = "選擇國家地區";
"select_friend" = "選擇好友";
"select_photo" = "選擇圖片";
"select_report_reason" = "選擇舉報的原因";
"select_topic_category" = "選擇分類";
"select_video" = "選擇視頻";
"send" = "發送";
"send_email" = "發送成功";
"send_email_limit" = "抱歉，請%@分鐘後再試";
"send_invitation" = "添加好友";
"sending" = "正在發送";
"server_error" = "伺服器錯誤 (%@)";
"set_login_password" = "請為這個郵箱設置一個密碼用於該郵箱登陸。";
"set_number_password" = "通過短信驗證可以在視頻內容中使用動態個性簽名，並為該手機號設置一個密碼。";
"set_password" = "修改密碼";
"setting" = "設置";
"setting_avatar" = "個人頭像";
"setting_baseinfo" = "個人資料";
"setting_receive_new_message" = "通知";
"setting_receive_new_message_description" = "設置在應用中是否展示通知";
"setting_receive_sounds" = "音效";
"setting_receive_sounds_description" = "控制聲音效果開關";
"setting_security" = "帳號與安全";
"share_failed" = "分享失敗…";
"share_success" = "分享成功";
"share_to_sns" = "分享";
"sign_up_ktplay" = "註冊";
"sign_up_now" = "立即加入";
"signature" = "使用個性簽名";
"skip" = "跳過";
"skip_security_verification" = "放棄驗證";
"slide_up_to_cancel" = "向上滑動取消";
"sms_canceled" = "已取消短信邀請";
"sms_error" = "發送失敗";
"sms_invitation_placeholder" = "下載%@和我一起玩。 下載位址：%@我的昵稱是：%@";
"sms_sucess" = "邀請短信已發送";
"sns" = "社交網路";
"sns_authorize_failed" = "授權失敗";
"sns_friends_limitation" = "因社交網路平臺限制只能獲取部分好友。";
"sns_friends_playing" = "正在玩%@的好友";
"sns_share_placeholder" = "我在%@中分享了一條討論，%@。 ";
"suggested_for_you" = "為您推薦";
"suggestion" = "解決方案";
"sure_delete_conversation" = "你確定要刪除這個聊天會話嗎？一旦刪除會話內的聊天歷史將會全部清除並無法訪問。";
"system_support" = "抱歉，當前設備系統無法播放視頻。";
"t_email_signature" = "完善郵箱";
"t_number_signature" = "認證手機號";
"take_screenshot" = "截取應用畫面";
"terms_agreement" = "登錄或註冊表示你接受並同意KTplay的<a>使用者協定與條款</a>，同時確認你已經超過13歲。";
"terms_and_privacy" = "使用者協定與條款";
"time_day" = "日";
"time_format_hour" = "%@小時前";
"time_format_justnow" = "剛剛";
"time_format_last_year" = "yyyy-MM-dd";
"time_format_minutes_ago" = "%@分鐘前";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "MM-yyyy";
"time_format_year_month_day" = "yyyy年MM月dd日";
"time_format_yesterday" = "昨天";
"time_month" = "月";
"time_year" = "年";
"tip_addfriends_now" = "快來添加好友吧！";
"tip_addfrinds_from_different_types" = "立即找到應用中的夥伴";
"tip_bind_email" = "為你的帳號設置一個郵箱，郵箱將可以用來登錄和重置你的密碼";
"tip_change_nickname" = "這個名字將被顯示給其他使用者，並且説明你所認識的朋友找到你。";
"tip_chat_service_issue" = "聊天服務繁忙，請稍後重試...";
"tip_chattype_audio" = "語音";
"tip_chattype_image" = "圖片";
"tip_message_blocked" = "消息被對方拒絕接收";
"tip_reply_locked" = "話題已鎖定";
"tip_resetpassword_with_email" = "我們已經給郵箱%@發送一封郵件，説明你重置登錄密碼";
"tip_select_chat_friend" = "用戶端版本不支援聊天功能的好友不會被顯示";
"title_optional" = "請輸入標題";
"to_enter_email" = "綁定郵箱後可以使用視頻動態簽名，郵箱綁定後不能更換！";
"to_verify_number" = "通過短信驗證可以在視頻內容中使用動態個性簽名。";
"today" = "當日";
"top_Influencers" = "社區名人";
"top_collections" = "專題";
"topic_count" = "話題 %@";
"topic_create" = "創建";
"topic_details" = "原話題";
"topic_reply" = "回復";
"topic_share" = "最新用戶分享 來自%@";
"topic_task_limit" = "最多同時上傳%@條話題，已存儲至個人頁-草稿箱。 ";
"topics" = "話題";
"try_again" = "再試一次";
"try_verify_email_signature" = "可試用一次，<a>綁定郵箱</a>就能永久使用!";
"try_verify_number_signature" = "可試用一次，<a>綁定手機號</a>就能永久使用!";
"unable_to_record" = "無法錄音";
"unblock" = "解除遮罩";
"unfollow" = "取消關注";
"unfollow_this_player" = "你確定要取消關注該用户嗎？";
"unsupported_chat_message_type" = "當前KTplay版本暫不支援查看此消息";
"update_failed" = "操作失敗";
"update_success" = "操作成功";
"updates_created_topic" = "發佈了話題";
"updates_liked_content" = "稱讚了話題";
"updates_liked_reply" = "稱讚了回復";
"updates_replied_topic" = "發佈了回復";
"upload_failed_part" = "你有%@個內容發佈失敗，已存儲至個人頁-草稿箱。 ";
"upload_from_album" = "從相冊上傳";
"user_profile" = "用戶詳情";
"user_received_likes" = "稱讚";
"username" = "使用者名";
"userprofile_no_likes_received" = "哎呀！ 還沒有人稱讚過這個用户...";
"userprofile_no_topics_created" = "這個用户沒有發佈任何內容";
"users_friends" = "好友";
"using_test" = "使用測試";
"v_email_signature" = "完善郵箱";
"v_number_signature" = "認證手機號";
"verification_code" = "驗證碼";
"verification_code_sent" = "驗證碼已發，請查看短信";
"verification_email" = "驗證郵件已發送，請在24小時內驗證你的郵箱，否則將會影響你繼續使用KTplay的部分服務。 ";
"verification_email_send" = "我們將發送一封驗證郵件。 請在24小時內驗證你的郵箱，否則將會影響你繼續使用KTplay的部分服務。 你可以在確認驗證之前修改你的郵箱地址來重發確認郵件。注意，一旦郵箱地址被修改，你必須使用新的郵箱地址登陸KTplay。";
"verify_confirm_no" = "不要簽名";
"verify_confirm_yes" = "立即綁定";
"verify_email_signature" = "需要<a>綁定郵箱</a >才能使用!";
"verify_mobile" = "通過短信驗證領取你的獎勵";
"verify_mobile_password" = "通過短信驗證領取你的獎勵並為該手機號設置一個密碼。";
"verify_number_signature" = "需要<a>綁定手機號</a>才能使用!";
"video" = "視頻";
"video_and_images" = "無法同時發佈圖片和視頻。";
"video_exceed" = "抱歉，視頻不能超過%@MB或%@分鐘。 ";
"video_exceed_to" = "抱歉，您發佈的視頻不能超過%@MB並低於%@分鐘。";
"video_less" = "抱歉，視頻不能短于%@秒。 ";
"video_prefix" = "視頻";
"video_processed" = "視頻處理中...";
"video_signature_title" = "個性簽名";
"video_size" = "當前視頻大小%@MB。 ";
"videos" = "熱播視頻";
"views" = "流覽";
"vote" = "投票";
"vote_expired" = "投票已結束！";
"vote_is_ongoing" = "[投票] 進行中！%@人參與";
"vote_now" = "立即投票！";
"vote_thank" = "感謝您參與投票！";
"voted" = "已投票";
"warning_block_chatuser" = "你確定要在聊天中遮罩%@嗎？ ";
"warning_clear_all_messages" = "要清空全部消息？";
"warning_complete_email" = "是否要通過完善郵箱來提升自己的帳號安全？";
"warning_complete_login_method" = "你想創建一個KTplay帳號用來跨應用與其他用户互動的嘛？ ";
"warning_complete_phonenumber" = "是否要通過綁定手機號來提升自己的帳號安全？";
"warning_delete_content" = "刪除內容？";
"warning_delete_friend" = "你確定要和%@解除好友關係嗎?";
"warning_has_integration_issue" = "你有待解決的接入問題";
"warning_report_reply" = "舉報內容？";
"warning_retrieve_password_after_login_failure" = "登錄失敗";
"warning_same_oldpassword_and_newpassword" = "新舊密碼不能一樣";
"warning_security_verification_times" = "連續2次驗證失敗後需要等待24小時才能進行下一次安全驗證。 ";
"warning_unblock_chatuser" = "你確定要在聊天中解除對%@的遮罩嗎？ ";
"warning_using_testapp" = "你正在使用一個測試應用";
"whats_hot" = "社區";
"write_bio" = "創作個人簡介";
"you_might_like" = "猜你喜歡";
"you_rank" = "排名#%@";
"you_rank_lower" = "排名#%@·位於較低的%@%";
"you_rank_top" = "排名#%@·位於較高的%@%";
