

/* 
    This text file was create automatic by localString.py 
        create time :2017-01-19(Thursday) 15:11:54
        create by :wanghao
*/



"24h" = "24h";
"HD" = "HD";
"SD" = "SD";
"about_Influence" = "About Influence Score";
"accept" = "Accept";
"accept_friendrequest_success" = "Accepted";
"access_appstore" = "Connecting to App Store...";
"account_adm" = "ADM";
"account_be_bound" = "This account has already been authorized";
"account_mod" = "MOD";
"active_players" = "Active Users";
"ad" = "Ads by";
"ad_download" = "Download";
"ad_open" = "Detail";
"add" = "Add";
"add_as_friend" = "Add friend";
"add_friends" = "Add Friends";
"admin" = "Adm";
"all" = "All";
"all_players" = "Influence Rank";
"all_time" = "All Time";
"all_topics" = "Newest";
"app_settings" = "App Settings";
"app_version_support" = "Sorry. The app version not support video.";
"back" = "Back";
"bind_email" = "Bind Email";
"bind_phonenumber" = "Mobile Number";
"binding_email_to" = "Binding your email address to reset password, get reward, and use of personalized features,You cannot change the email address once you save set up.";
"binding_number_password_to" = "Binding your mobile number and set a login password, to reset password, get reward, and use of personalized features.";
"binding_number_to" = "Binding your mobile number to reset login password, get reward, and use of personalized features.";
"bio" = "Bio";
"birthday" = "Birthday";
"block_chat" = "Block in chat";
"block_private_chat" = "Block chat unless follow each other";
"blocked_account" = "Sorry. Your account is blocked";
"blocked_list" = "Blocked List";
"blocked_list_placeholder" = "You haven't blocked anyone";
"camera" = "Camera Roll";
"campaign_remain" = "Time Remaining: ";
"campaign_rewards" = "Rewards: ";
"campaign_share_Collections" = "[Campaign] Share and earn rewards！";
"campaign_share_topic" = "[Campaign] Share and earn rewards！";
"can_not_video" = "Currently you can not upload any video in your content.";
"cancel" = "Cancel";
"cannot_like_yourself" = "You cannot Like your own content";
"cannot_message_unless" = "You cannot message unless following each other";
"cannot_report_yourself" = "Can't report your own content";
"card_view" = "Card view";
"categories" = "Categories";
"change_gender" = "Edit Gender";
"change_next_group" = "Refresh";
"change_password" = "Change";
"change_signature" = "Change a custom video signature";
"chat" = "Messages";
"chat_now" = "Chat Now!";
"chat_session_placeholder_description" = "Instantly communicate with others";
"chat_session_placeholder_title" = "In-App Chat!";
"claim" = "Claim";
"claimed" = "Claimed";
"clear" = "Clear";
"clear_search_history" = "Clear History";
"click_email_signature" = "Complete your email address";
"click_number_signature" = "Verify your mobile number";
"collection" = "Collections";
"community" = "Topics";
"community_version" = "Community · v%@";
"complete_email" = "Enter your email";
"complete_profile" = "Complete your profile settings so others can know you better.";
"complete_security_setting" = "Submit email to retrieve password";
"complete_user_profile" = "User settings";
"confirm" = "OK";
"confirm_clear_search" = "Are you sure want to clear search history? ";
"confirm_to_complete_security_setting" = "Create";
"confirm_to_logout" = "No. Thanks";
"confirm_yes" = "Yes";
"connection_failed" = "Your network is unstable";
"connection_timeout" = "Your network is unstable";
"contactbook_error_one" = "Allowed %@ to access your Contacts so you can talking with your contacts";
"contacts" = "Contacts";
"contacts_friends" = "Contacts";
"contacts_players_prompt" = "Check out which users already in your contacts";
"content_already_removed" = "Oops! Content be removed…";
"copy" = "Copy";
"create_nickname" = "Set Your Nickname";
"create_reply" = "Reply";
"create_signature" = "Create a video signature";
"create_topic" = "Topic";
"create_topic_success" = "Content sent";
"create_username" = "Create username";
"create_username_tip" = "The username can be modified only once, You can use your username to login KTplay.";
"delete" = "Delete";
"delete_conversation" = "Delete Conversation";
"delete_favorite" = "Delete favorite";
"delete_friend" = "Unfriend";
"deny_friendrequest_success" = "Declined";
"description" = "Error Description";
"development_mode" = "Development Mode";
"distance_kilometer" = "km";
"distance_meter" = "m";
"distance_pattern" = "%@%@";
"done" = "Done";
"drafts" = "Drafts";
"edit" = "Edit";
"email" = "Email";
"email_already_registered" = "This email address is already registered on KTplay, please try to use another email address.";
"email_or_username" = "Enter your email or username";
"email_unverified" = "Unverified";
"enable_location_service" = "Go to your phone settings: \"Settings > Privacy > Contacts\"  to grant address book access";
"enable_microphone_permission" = "Allow this App to access your microphone form device menu: \"Settings\"";
"enter" = "Enter";
"enter_email" = "Enter your email and set a password.";
"enter_email_reward" = "to get your reward, enter your email, You cannot change the email address once you save set up.";
"enter_number" = "Enter your mobile number, we will send a verification code for you.";
"error" = "Error";
"error_150001" = "Error (Missing parameters: 150001)";
"error_150002" = "Error (150002)";
"error_150003" = "Error (150003)";
"error_150004" = "Error (150004)";
"error_150005" = "Error (150005)";
"error_150101" = "Error (150101)";
"error_150102" = "Error (150102)";
"error_integration" = "Integration Error";
"expansion_centent" = "Expansion";
"failed_to_record" = "Failed to record";
"favorite" = "Favorites";
"favorite_success" = "Favorite success";
"feature_disabled" = "This function has been disabled %@";
"featured_topics" = "Featured Topics";
"female" = "Female";
"field_username" = "Username:";
"follow" = "Follow";
"follow_success" = "Follow success";
"followers" = "Followers";
"following" = "Following";
"following_each_other" = "Following";
"forget_password" = "Forgot Password？";
"friend_requests" = "Friend Requests";
"friend_requests_sent" = "Friend requests sent ";
"friend_requst_placeholder" = "I would like to add you as a friend.";
"friend_updates" = "Friends' Updates";
"friendrequest_waitfor_acception" = "Request Sent";
"friends" = "Friends";
"friends_from_other_games" = "Friends from other apps ";
"friends_playing_game" = "Playing %@";
"friends_symbol" = "Friends";
"friendship_created_session_for_receiver" = "You are now friends with %@. Chat Now!";
"friendship_created_session_for_sender" = "We are friends now! Let's Chat!";
"gender" = "Gender";
"get_location_failed" = "Failed to fetch locations information";
"get_location_permission" = "Allowed %@ to access your location so you can find users nearby.";
"get_verification_code" = "Request";
"go" = "Detail";
"have_not_view_topic" = "You have not viewed any topic…";
"have_not_visit_user" = "You have not visit any user's profile…";
"have_reported" = "You have already reported this message";
"header_background" = "Header Background";
"highest_growth" = "Rising Users";
"hold_to_record" = "Hold to Talk";
"hot_searches" = "Hot Searches";
"i_know" = "OK";
"in_development" = "This app is in development mode. Currently you are using App Key and Secret of a TEST App.
Before You release your app to Market. You must to get the App Key and Secrct (for Release) by \"Integrating Finished\" on KTplay Developer website. Then replace it in your project.";
"in_process" = "In proces...%@";
"in_review" = "In-Review";
"in_reviewing" = "In-Review…";
"inbox" = "Inbox";
"incorrect_phonenumber" = "Please input the correct mobile number";
"incorrect_server_url" = "Server address increcct";
"increase_influence" = "Increase your community influence, post great content and get followers!";
"influence" = "Influence";
"influence_points" = "Influence Score";
"influence_rank" = "Influence Rank";
"influencers" = "Influencers";
"inorrect_verification_code" = "Verification code incorrect";
"input_email" = "Enter your email address";
"input_newpassword" = "New Password";
"input_nickname" = "Create a nickname";
"input_oldpassword" = "Current Password";
"input_redeem_code" = "Enter Redeem Code";
"input_username" = "Enter your username, bit English or digital";
"invalid_email_format" = "Incorrect email format";
"invite" = "Invite";
"invite_frinds_from_sns" = "Invite Friends from SNS";
"invite_more_players" = "Invite Others";
"invite_sns_friends_placeholder" = "Play the %@ with me. My nickname is:%@.";
"invite_to_be_friend" = "Send friends requests";
"invited" = "Request Sent";
"ktplay_slogan" = "TIPS · Q&A · FRIENDS · REWARDS";
"lastest_reply" = "Most recent reply: %@";
"like" = "Like";
"like_success" = "Liked";
"likes" = "Likes";
"likes_count" = "Likes %@";
"limited_account_promption" = "Account suspended, will reactivate at %@";
"link_login_with_phonenumber" = "Log In with Mobile Number";
"link_register_with_phonenumber" = "Sign Up with Mobile Number";
"link_register_with_username" = "Sign Up with a Username";
"list_view" = "List view";
"loadmore" = "Release for more content";
"loadmore_pulling" = "Release for more content";
"locked" = "Locked";
"login" = "Log In";
"login_and_claim" = "Log In First";
"login_expired" = "Your account has been log out, please login again";
"login_failed" = "Login Failed";
"login_first" = "Sorry. You need to login first.";
"login_or_register" = "Sign Up or Log In";
"login_start_conversation" = "Login and start a conversation with others by visiting their profile pages.";
"login_success" = "%@. Welcome!";
"login_to_get_friends_updates" = "Log in to get friends' updates!";
"login_to_ktplay" = "Login to KTplay";
"login_to_play_with_friends" = "Be Friends with Others!";
"login_welcome" = "%@. Welcome!";
"login_with_exists_account" = "Already have an account? Log in now";
"login_with_other_accounts" = "Use Another Account";
"login_with_phonenumber" = "Log In";
"login_with_selected_account" = "Select Account";
"login_with_sns" = "Log in with";
"login_with_username" = "Log In with your Username";
"logout" = "Log out";
"male" = "Male";
"manage_alert_highlight_text" = "Are you sure want to recommend the content?";
"manage_alert_highlight_title" = "Recommend Content";
"manage_alert_insert_mainpage_text" = "Are you sure want to insert the topic to main page?";
"manage_alert_insert_mainpage_title" = "Recommend content";
"manage_alert_lock_text" = "Are you sure want to lock the content?";
"manage_alert_lock_title" = "Lock Content";
"manage_alert_move_text" = "Are you sure want to move the content?";
"manage_alert_move_title" = "Move content";
"manage_alert_quarantine_text" = "Are you sure want to quarantine the content?";
"manage_alert_quarantine_title" = "Quarantine Content";
"manage_alert_top_text" = "Are you sure want to pin the content to the topic?";
"manage_alert_top_title" = "Pin to top";
"manage_alert_unhighlight_text" = "Are you sure want to remove the content from the Recommended?";
"manage_alert_unhighlight_title" = "Remove from Recommended";
"manage_alert_unlock_text" = "Are you sure want to unlock the content?";
"manage_alert_unlock_title" = "Unlock content";
"manage_alert_untop_text" = "Are you sure want to remove the content from top list?";
"manage_alert_untop_title" = "Remove from top";
"manage_button_highlight" = "Recommended";
"manage_button_lock" = "Lock";
"manage_button_quarantine" = "Quarantine";
"manage_button_top" = "Top";
"manage_button_unhighlight" = "Cancel Recommended";
"manage_button_unlock" = "Unlock";
"manage_button_untop" = "Un Top";
"manage_info" = "Attention: You cannot operate the content created by Official Account.";
"manage_info_highlight" = "You can mark high value content and collect it to the highlight list.";
"manage_info_lock" = "The topic cannot be replied when you lock it and it will down to the buttom of the topics list when the new content be posted.";
"manage_info_main_page_insert" = "Insert the topic to the main page.";
"manage_info_move_topic" = "You can move the topic to any catalog.";
"manage_info_quarantine" = "The topic will not shown in the list when you quarantine it.";
"manage_info_top" = "The topic will shown in the top list when you toped it.";
"manage_option_game_video" = "Populars Videos";
"manage_option_hot_topics" = "Hot Topics";
"manage_option_recommended_photos" = "Recommended Photos";
"manage_title_main_page_insert" = "Insert to mainpage";
"manage_title_manage" = "Manage";
"manage_title_move_topic" = "Move";
"max_of_photos" = "Select a maximum of  %@ photos";
"me" = "Me";
"mobile_already_registered" = "This mobile number is already registered on KTplay, please try to use another mobile number.";
"more" = "More";
"more_collections" = "More Collections";
"more_options" = "More Options";
"more_replies" = "%@ more replies";
"moregames" = "More Apps";
"most_active_players" = "Most Active Users";
"most_liked_players" = "Most Liked Users";
"my_friends" = "Friends";
"my_topics" = "My Topics";
"myprofile_no_likes_received" = "Oops! Nobody \"Liked\" you...";
"myprofile_no_topics_created" = "You haven't created any topic";
"nearby" = "Nearby";
"nearby_players_propmt" = "Search for nearby users";
"netwaok_unstable" = "Your network is unstable";
"network_unavailable" = "Your network is unstable";
"new" = "NEW";
"new_chat" = "Choose Friends";
"new_friend_invataion" = "Sent you a friends request";
"nickname" = "Nickname";
"no_chat_friends" = "We can’t find friends for you to chat with";
"no_chat_yet" = "Start a conversation with others by visiting their profile pages.";
"no_draft_yet" = "No draft";
"no_follower" = "No follower yet…";
"no_following" = "He/She is too shy to following someone…";
"no_like_yet" = "No like yet";
"no_messages" = "No messages yet…";
"no_more_collections" = "No more collections";
"no_more_drafts" = "No more drafts";
"no_more_follower" = "No more followers";
"no_more_following" = "No more following users";
"no_more_like" = "No more likes";
"no_more_messages" = "No more messages";
"no_more_reply" = "No more replies";
"no_more_sns_friends_playing" = "No new friends from %@";
"no_more_topic" = "No more topics";
"no_more_update_yet" = "No more updates";
"no_permission_to_access_album" = "Allowed this app access to your photo album";
"no_record_yet" = "Oops! No one has earned any influence scores. Contribute to the community to be the #1 influencer now!";
"no_reply_yet" = "No reply yet";
"no_results" = "No results";
"no_signature" = "NO signature";
"no_topic_yet" = "No topic yet";
"no_update_yet" = "No update yet";
"no_video" = "No video yet";
"no_wifi" = "You currently have contents in the sending list, continue sending?";
"not_binding" = "Not Set";
"not_following_anyone" = "Oops! You haven't followed anyone. Follow some community Influencers to get quick access to their great content!";
"not_have_review" = "You don't have anything in review";
"not_in_group" = "You're not a part of this group";
"not_now" = "Not Now";
"not_setting" = "N/A";
"not_support_video" = "Sorry, we don't currently support upload videos";
"notice_email_signature" = "To create a personalized video signature, enter your email. ";
"notice_number_signature" = "To create a personalized video signature, Verify your mobile number.";
"on_top" = "Top";
"online_players" = "Playing";
"original_reply" = "Original Reply: ";
"original_topic" = "Original Topic: ";
"other_player" = "User";
"other_popular_games" = "Other Popular Apps";
"password" = "Password";
"password_placeholder" = "Password 6-18 characters";
"pattern_blocked_user" = "(Blocked) %@";
"pattern_seconds" = "%@\"";
"pattern_updates_reply" = "reply: %@";
"phone_number" = "Mobile number";
"player_playing_games" = "Also playing";
"players" = "Users";
"players_already_claimed" = "Users that have viewed this";
"players_around_you" = "Users nearby";
"players_nearby" = "Users Nearby";
"players_topics" = "Topics";
"post_quickly" = "You are posting content too quickly";
"powered_by" = "Powered by";
"privacy" = "Privacy";
"profile_complete_setting" = "Tips: Find account via Email or Phone";
"profile_reply" = "Replies";
"promoted" = "Promoted";
"promoted_download" = "Download";
"publish_content_placeholder" = "Say something…";
"pull_refresh" = "Pull down to refresh";
"pullrefresh_last_updated" = "Last updated";
"pullrefresh_loading" = "Updating...";
"pullrefresh_release" = "Release to update";
"pullrefresh_update" = "Update";
"quick_login" = "Log in with SNS Account";
"quicklaunch_netlogged" = "You have not logged in, please login app first.";
"quicklaunch_register" = "To join the community, register or log in to the app first!";
"quicklaunch_relogin" = "Click below to connect again.";
"rank" = "Rank";
"rank_number" = "#%@";
"read_more" = "Detail";
"received_likes" = "Likes %@";
"recent_searches" = "Recent Searches";
"recent_viewed" = "Recently Viewed";
"recommended" = "Feature Photos";
"recommended_friends" = "Recommended Friends";
"recommended_topics" = "Recommended";
"record_error_short" = "Too short!";
"redeem" = "Redeem";
"redeem_code" = "Redeem Code";
"register" = "Sign Up";
"register_with_phonenumber" = "Sign Up";
"registerview_email" = "Create a Nickname";
"release_to_cancel" = "Release to Cancel";
"release_to_send" = "Release to Send";
"relogin" = "Re-login";
"remain_format_day" = "%@d";
"remain_format_day_hour" = "%@d %@h";
"remain_format_hour" = "%@h";
"remain_format_min" = "%@m";
"replay_pattern" = "Reply: %@";
"replies_count" = "Replies %@";
"reply_and_likes" = "Replies %@ | Likes %@";
"reply_details" = "Reply";
"reply_me" = "Reply you";
"reply_notify" = "Notifications";
"reply_success" = "Content sent";
"reply_to" = "Reply to %@";
"report" = "Report";
"report_content" = "Report Abuse";
"report_submitted_description" = "Your report has been submitted. We'll review and send you the result. Thanks for your report!";
"report_success" = "Report Submitted";
"request_failed" = "Sorry. Loading failed…";
"request_img_failed" = "Download image failed";
"require_content" = "Require title or content to post";
"resend" = "Resend";
"resend_email" = "Resend an Verification Email ";
"reset" = "Reset";
"reset_enter_username_with_email" = "Enter your email or username";
"reset_enterusername" = "Reset your password via the username or email.";
"reset_password" = "Reset Password";
"reset_password_email_failure" = "Sorry. Account %@ have not bind any email address. You can not reset your password for now.";
"reset_password_failure" = "Sorry. Account %@ have not bing any mobile number or email address. You can not reset your password for now.";
"reset_password_with_email" = "Find your account via email";
"reset_password_with_phonenumber" = "Reset your password via mobile number";
"resetpassword_email_sent" = "Please check inbox for your password－reset email";
"retrieve_password" = "Find KTplay account";
"reward" = "Rewards";
"reward_claimed" = "Claimed!";
"reward_expired" = "Sorry！Reward has expired. Thank you for your participation!";
"rising_topics" = "Rising Topics";
"rule_email_or_nickname" = "Enter email or username, username can have upper and lowercase letters, and numbers";
"rule_nickname_length" = "Nickname must be 1-128 characters in length.";
"rule_password" = "Password must be between 6-18 characters";
"rule_password_character" = "Numbers, upper and lower case letters only";
"rule_username_character" = "Username can have upper and lowercase letters, and numbers";
"rule_username_length" = "2-30 characters";
"save_draft" = "Saved draft in your Profile.";
"save_gallery" = "Save image to gallery";
"say_hello" = "Say hello to you";
"say_hello_to" = "Say hello to him/her!";
"search" = "Search";
"search_friend_noresults" = "No results";
"seconds_countdown" = "%@ S";
"security_verification" = "Security Verification";
"security_verification_failure_times" = "Verification failed %@/%@";
"security_verification_pass" = "Verification successful";
"security_verification_prompt" = "The one of following apps is you ever played a KTplay platform app, please select it to confirm your identity.";
"see_all" = "See All";
"see_more_replies" = "See more replies";
"see_rank" = "See Ranking";
"selecet_a_topic" = "Select a Topic";
"select_albums" = "Select an Album";
"select_country" = "Select Your Region";
"select_friend" = "Choose Friends";
"select_photo" = "Choose a Photo";
"select_report_reason" = "Select a reason";
"select_topic_category" = "Select a category";
"select_video" = "Select video";
"send" = "Send";
"send_email" = "Send email success";
"send_email_limit" = "Sorry. Please waiting for %@ min";
"send_invitation" = "Add friend";
"sending" = "Sending";
"server_error" = "Server Error (%@)";
"set_login_password" = "Set a login password for your account.";
"set_number_password" = "To create a personalized video signature, Verify your mobile number via SMS and set a password for your account.";
"set_password" = "Change Your Password";
"setting" = "Settings";
"setting_avatar" = "Profile Photo";
"setting_baseinfo" = "My Profile";
"setting_receive_new_message" = "Notifications";
"setting_receive_new_message_description" = "Enable or disable in-App notification";
"setting_receive_sounds" = "Sounds";
"setting_receive_sounds_description" = "Enable or disable sounds";
"setting_security" = "Security Settings";
"share_failed" = "Share failed…";
"share_success" = "Shared";
"share_to_sns" = "Share";
"sign_up_ktplay" = "Sign Up";
"sign_up_now" = "Sign up";
"signature" = "Video Signature";
"skip" = "Skip";
"skip_security_verification" = "Skip the Verification";
"slide_up_to_cancel" = "Slide up to cancel";
"sms_canceled" = "Canceled";
"sms_error" = "Failed";
"sms_invitation_placeholder" = "Check out %@ and let's play together. Download here: %@. My nickname is: %@";
"sms_sucess" = "Sent";
"sns" = "SNS";
"sns_authorize_failed" = "Authorization failed";
"sns_friends_limitation" = "Based on Social Platform limited, we can get a part of your SNS friends only.";
"sns_friends_playing" = "Friends playing %@";
"sns_share_placeholder" = "I have shared a topic in %@, %@.";
"suggested_for_you" = "Suggested for you";
"suggestion" = "Solution";
"sure_delete_conversation" = "Are you sure want to delete this conversation? Once delete all chat history will be not available.";
"system_support" = "Sorry. The current system version not support video.";
"t_email_signature" = "register";
"t_number_signature" = "register";
"take_screenshot" = "Take a Screenshot";
"terms_agreement" = "By logging in or registering you're agreeing to KTplay's <a>Terms and Privacy</a>, and confirm you are over 13 years of age.";
"terms_and_privacy" = "Terms and Privacy";
"time_day" = "day";
"time_format_hour" = "%@h";
"time_format_justnow" = "Just now";
"time_format_last_year" = "dd-MM-yyyy";
"time_format_minutes_ago" = "%@m";
"time_format_month_day_hour_minute" = "MM-dd HH:mm";
"time_format_year_month" = "MM-yyyy";
"time_format_year_month_day" = "MM-dd-yyyy";
"time_format_yesterday" = "Yesterday";
"time_month" = "month";
"time_year" = "year";
"tip_addfriends_now" = "Find Other Users Like You";
"tip_addfrinds_from_different_types" = "Interact, share and play with other users now!";
"tip_bind_email" = "Enter your email to enable log in and password resets";
"tip_change_nickname" = "This name is used for other users to find you.";
"tip_chat_service_issue" = "Service busy. Please retry later...";
"tip_chattype_audio" = "Voice";
"tip_chattype_image" = "Image";
"tip_message_blocked" = "The message was rejected";
"tip_reply_locked" = "Topic locked";
"tip_resetpassword_with_email" = "An email has been sent to %@ for you to reset your password. Please check your inbox.";
"tip_select_chat_friend" = "Your friends that are using older versions of KTplay without the chat feature are not displayed here.";
"title_optional" = "Write a great title for your topic";
"to_enter_email" = "To create a personalized video signature, enter your email, You cannot change the email address once you save set up.";
"to_verify_number" = "To create a personalized video signature, Verify your mobile number via SMS.";
"today" = "Today";
"top_Influencers" = "Top Influencers";
"top_collections" = "Collections";
"topic_count" = "Topics %@";
"topic_create" = "Create";
"topic_details" = "Topic";
"topic_reply" = "Reply";
"topic_share" = "Recent topic shared from %@";
"topic_task_limit" = "At the same time can only upload %@ contents, saved drafts in your Profile.";
"topics" = "Topics";
"try_again" = "Try It Again";
"try_verify_email_signature" = "First time free! <a>Complete your email address</a> to continue using it.";
"try_verify_number_signature" = "First time free! <a>Verify your mobile number</a> to continue using it.";
"unable_to_record" = "Unalbe to Record";
"unblock" = "Unblock";
"unfollow" = "Unfollow";
"unfollow_this_player" = "Are you sure want to unfollow this user? ";
"unsupported_chat_message_type" = "Current version of KTplay does not support to display this content";
"update_failed" = "Failed";
"update_success" = "Done";
"updates_created_topic" = "Created";
"updates_liked_content" = "Like";
"updates_liked_reply" = "Like";
"updates_replied_topic" = "Replied";
"upload_failed_part" = "You have %@ contents upload failed, saved drafts in your Profile.";
"upload_from_album" = "Choose from Photos";
"user_profile" = "Profile";
"user_received_likes" = "Likes";
"username" = "Username";
"userprofile_no_likes_received" = "Oops! Nobody \"Liked\" this User...";
"userprofile_no_topics_created" = "This user has 0 topic";
"users_friends" = "Friends";
"using_test" = "Using test";
"v_email_signature" = "Complete your email address";
"v_number_signature" = "Verify your mobile number";
"verification_code" = "Verification code";
"verification_code_sent" = "We have sent you the verification code via text message";
"verification_email" = "Verification email sent. Please verify your email address in next 24 hours to access certain KTplay features.";
"verification_email_send" = "We will send a verification email to you. Please verify your email address in next 24 hours to access certain KTplay features. Attention: You can change your email address before you confirm it. Once email address be changed, you have to use the newest email address to login KTplay.";
"verify_confirm_no" = "No Thanks";
"verify_confirm_yes" = "Yes";
"verify_email_signature" = "<a>Complete your email address</a> to continue using it. ";
"verify_mobile" = "To get your reward, Verify your mobile number via SMS.";
"verify_mobile_password" = "To get your reward, Verify your mobile number via SMS and set a password for your account.";
"verify_number_signature" = "<a>Verify your mobile number</a> to continue using it.";
"video" = "Videos";
"video_and_images" = "You can not upload video and images at the same time.";
"video_exceed" = "Sorry. Video cannot exceed %@MB in size or %@ min in duration.";
"video_exceed_to" = "Sorry. Video had to be under %@MB and %@ mins long.";
"video_less" = "Sorry. Video cannot less than %@ sec in duration.";
"video_prefix" = "Video";
"video_processed" = "Video processing…";
"video_signature_title" = "Signature";
"video_size" = "Video size %@MB.";
"videos" = "Popular Videos";
"views" = "Views";
"vote" = "Vote";
"vote_expired" = "Voting has expired!";
"vote_is_ongoing" = "[Vote Now!] %@ votes so far!";
"vote_now" = "Vote now!";
"vote_thank" = "Thank you for your vote!";
"voted" = "Voted";
"warning_block_chatuser" = "Are you sure want to block %@ in chat? ";
"warning_clear_all_messages" = "Clear all messages?";
"warning_complete_email" = "Would you like to enter an email to complete your security settings?";
"warning_complete_login_method" = "Would you like to create a cross-apps KTplay account so you can interact with users in other apps?";
"warning_complete_phonenumber" = "Would you like to bind your mobile number to complete your security settings?";
"warning_delete_content" = "Delete content?";
"warning_delete_friend" = "Are you sure want to unfriend %@ ? ";
"warning_has_integration_issue" = "Some issues to be resolved";
"warning_report_reply" = "Are you sure you want to report this?";
"warning_retrieve_password_after_login_failure" = "Log in failed";
"warning_same_oldpassword_and_newpassword" = "Your current and new password cannot be the same";
"warning_security_verification_times" = "If the verification failed twice, you need to wait 24 hours before the next verification.";
"warning_unblock_chatuser" = "Are you sure want to unblock %@ in chat? ";
"warning_using_testapp" = "You are operating a test app";
"whats_hot" = "Community";
"write_bio" = "Write a short Bio for yourself!";
"you_might_like" = "We guess you fancy";
"you_rank" = "Rank #%@";
"you_rank_lower" = "#%@·Rank in the lower %@%";
"you_rank_top" = "#%@·Rank in the top %@%";
